[2015-04-27 10:46] ILyoan opened #2 "Merge & Build automation"
# RFC: Merge & Build Automation.

## Summary

Introduce a automated build system for continuous integration. There are several well-known build systems such as buildbot, jenkins, hudson, and etc. By using automated build system, we can not only reduce our merge or integration cost but also eliminate human mistakes.

## Motive

The process of source integrating is a work of routine.  But it require

[2015-04-29 03:29] ILyoan opened #3 "[Meta] Jerry requirements"
This is meta issue for all works related with Jerry Javascript Engine.

[2015-04-29 03:35] ILyoan opened #4 "Jerry Requirement - arguments"
Need arguments([ECMA262 10.6](http://www.ecma-international.org/ecma-262/5.1/#sec-10.6)) supported by Jerry.

[2015-04-29 03:38] ILyoan opened #5 "Jerry Requirement - Object.create"
Need Object.create([ECMA262 12.2.3.5](http://www.ecma-international.org/ecma-262/5.1/#sec-15.2.3.5)) supported by Jerry.

[2015-04-29 03:41] ILyoan opened #6 "Jerry Requirement - Function.prototype.apply"
Need Function.prototype.apply([ECMA262 15.3.4.3](http://www.ecma-international.org/ecma-262/5.1/#sec-15.3.4.3)) supported by Jerry.

[2015-04-29 03:45] ILyoan opened #7 "Jerry Requirement - String.prototype.slice"
Need  String.prototype.slice([ECMA262 15.5.4.13](http://www.ecma-international.org/ecma-262/5.1/#sec-15.5.4.13)) supported by Jerry.

[2015-04-29 03:46] ILyoan opened #8 "Jerry Requirement - Array.prototype.slice"
Need Array.prototype.slice([ECMA262 15.4.4.10](http://www.ecma-international.org/ecma-262/5.1/#sec-15.4.4.10)) supported by Jerry.

[2015-04-29 03:48] ILyoan opened #9 "Jerry Requirement - Array.prototype.push"
Need Array.prototype.push([ECMA262-15.4.4.7](http://www.ecma-international.org/ecma-262/5.1/#sec-15.4.4.7)) supported by Jerry.

[2015-04-30 05:08] ILyoan opened #12 "Jerry Requirement - Array.prototype.shift"
Need Array.prototype.shift([ECMA262-15.4.4.9](http://www.ecma-international.org/ecma-262/5.1/#sec-15.4.4)) supported by Jerry.

[2015-04-30 05:18] ILyoan opened #13 "Jerry Requirement - Array.isArray"
Need Array.isArray([ECMA262-15.4.3.2](http://www.ecma-international.org/ecma-262/5.1/#sec-15.4.4)) supported by Jerry.

[2015-05-06 16:20] #9 closed, assigned to nobody

[2015-05-07 07:45] ILyoan opened #17 "Wrapper for Javascript native function binding."
Currently IoT.js binds its native javascipt function using external handler API of Jerry Engine. The prototype of the handler is defined as:

[code]

And each module should implement handlers like:

[code]

In spite of `JObject` wrapper for object type, there is no wrapping layer for external handlers. I think we should introduce a layer that wrap external handler in consistent way with `JObject`

[2015-05-11 05:48] #17 closed, assigned to nobody

[2015-05-11 06:42] ILyoan opened #19 "Implement process.nextTick()"

[2015-05-12 03:58] #19 closed, assigned to nobody

[2015-05-12 10:01] #13 closed, assigned to nobody

[2015-05-14 13:07] seanshpark opened #23 "Prepare module package description"
We need to
* [x] describe what package.json should contain for the module
* [x] how it is registered to registry server
* [x] how it is downloaded to the device
* [ ] how it is used in the program

[2015-05-19 07:09] ILyoan opened #26 "ReadableStream flowing mode"
Readable stream has two mode: flowing and paused.
Currently IoT.js only implemented paused mode. But many use cases run in flowing mode so we need to implement flowing mode before start implementing other modules like `fs`, `net`, etc.

[2015-05-19 07:10] #12 closed, assigned to nobody

[2015-05-19 07:16] seanshpark opened #27 "Process native_sources to native side"
process has native_sources property with text source that will consume JerryScript heap.
I think it's better remove this and related implementation to native side to save the JavaScript heap.

[2015-05-19 07:58] ILyoan opened #28 "Complete fs module"
Complete implementation of [fs module](https://github.com/Samsung/iotjs/wiki/IoT.js-API:-File-System).

Required Items:
- [ ] ~~fs.access()~~
- [ ] ~~fs.accessSync()~~
- [x] ~~fs.exist() (deprecated)~~
- [x] ~~fs.existSync() (deprecated)~~
- [x] fs.stat()
- [x] fs.statSync()
- [ ] ~~fs.chmod()~~
- [ ] ~~fs.chmodSync()~~
- [ ] ~~fs.chown()~~
- [ ] ~~fs.chownSync()~~
- [x] fs.rename()
- [x] fs.renam

[2015-05-19 21:43] seanshpark opened #30 "Complete Timers module"
Implement Timers methods

Required Items:
- [x] setTimeout()
- [x] clearTime()
- [x] setInterval()
- [x] clearInterval

[2015-05-19 22:31] seanshpark opened #31 "Complete net module"
https://github.com/Samsung/iotjs/wiki/IoT.js-API:-Net

net
- [x] createServer()
- [x] connect(options, connectListener)
- [x] connect(port, host, connectListener)
- [x] createConnection(opitions, connectListener)
- [x] createConnection(port, host, connectListener)

net.Server
- [x] listen(options, callback)
- [x] listen(port, host, callback)
- [x] close()
- [x] event: listening
- [x] event: connec

[2015-05-20 07:36] chunseoklee opened #36 "Implement error handling process.compile and process.compileNativePtr"
process.compile and process.compileNativePtr have no error handling routine when  jerry_api_eval return error.

[2015-05-20 08:24] seanshpark opened #37 "Apply Array.splice to timers_list in timers.js"
[code]
- PR https://github.com/Samsung/iotjs/pull/33
- Jerry https://github.com/Samsung/jerryscript/issues/3

[2015-05-20 09:05] seanshpark opened #38 "Add Timers method to global space"
[Timers methods](https://github.com/Samsung/iotjs/wiki/IoT.js-API:-Timers) need to be exposed to global.
Implement in start_iotjs()

[2015-05-20 10:49] #30 closed, assigned to seanshpark

[2015-05-20 10:50] #38 closed, assigned to seanshpark

[2015-05-20 11:10] #27 closed, assigned to nobody

[2015-05-20 11:11] seanshpark opened #39 "Debug message to console"
Need debug message logging like in JerryScript
- https://github.com/Samsung/jerryscript/pull/79

[code]

[2015-05-21 02:19] #39 closed, assigned to seanshpark

[2015-05-21 04:33] ILyoan opened #41 "Implement writableStream"

[2015-05-21 04:55] #8 closed, assigned to nobody

[2015-05-22 08:51] ILyoan opened #45 "Change `print` to `console`"
Lots of test file use `print` to print out text to screen.
But `print` is not offered by our API, instead we can use `console`.

[2015-05-22 08:55] ILyoan opened #46 "Wrapping `jerry_api_eval()` with `JObject`"
Used in `Compile` and `CompileNativePtr` in 'iotjs_module_process.cpp'.

[2015-05-22 08:59] ILyoan opened #47 "Revise ugly looking module wrapper"
Currently, to make module a function we wrapping over js source with wrapper looking somewhat ugly.
[code]
This double wrapping is because single wrapping results in bug with losing captured variables. This is probably bug on eval functionality of jerry.

[2015-05-26 00:30] chunseoklee opened #49 "Determine module search path order"
Nodejs search for a module in the order of
(1) ./node_modules
(2) $NODE_PATH/node_modules
(3) $HOME/node_modules
(4) $HOME/node_libraries
(5) (node execpath)/node/lib

We need to determine the search order w.r.t. multiple plaforms since enviroment or cwd is not available in small devices.

[2015-05-27 01:14] seanshpark opened #53 "NuttX build and run simple hello world"
NuttX build with current iotjs, run simple hello world script.

* [x] include jerry math lib
    * [x] https://github.com/Samsung/iotjs/pull/51
    * [x] https://github.com/Samsung/iotjs/pull/52 > drop
    * [x] https://github.com/Samsung/iotjs/issues/55

* [ ] fix "out of memory" problem
    * grow jerry heap size: https://github.com/Samsung/jerryscript/commit/a28d03aba7fcb543c538e70e11f389ad015a

[2015-05-27 07:54] #45 closed, assigned to nobody

[2015-05-27 22:37] seanshpark opened #55 "Generate jerry third-party math library for embed systems"
Need to change the build.py script so that it generates math library in jerry third-party.

[2015-05-29 08:26] ruben-ayrapetyan opened #58 "Size of script code buffer"
Hello.

Code buffer size argument of `jerry_api_eval` in `JHANDLER_FUNCTION(Compile, handler)` and `JHANDLER_FUNCTION(CompileNativePtr, handler)` is calculated incorrectly : `sizeof (code)` equals to size of pointer, not buffer size.

Maybe, this could be fixed with the following:

[code]

[2015-06-01 03:12] #55 closed, assigned to nobody

[2015-06-01 09:43] #58 closed, assigned to nobody

[2015-06-01 09:46] ILyoan opened #61 "next tick not working correctly."
Running test_next_tick.js should end with five lines of output but it is printing only 2 lines before finish.

Main loop should remain as long as there are requests to be handled.

[2015-06-02 02:14] #4 closed, assigned to nobody

[2015-06-04 02:42] ILyoan opened #63 "Remove "unused variable" warnings on release build."
Many warnings are reported during release build which are not appear in debug build.
The pattern of this problem is below form:

[code]

`assert` eats its argument expression and ends in empty expression on release build, resulting the `a` unused.
Let's introduce redefinition of `assert()` like this:

[code]

[2015-06-04 06:08] #63 closed, assigned to nobody

[2015-06-05 05:03] ILyoan opened #65 "Implement socket.end"
We've landed first implementation for `socket.write()`, `socket.readStart()`.

To finish connection, `socket.end()` is needed which will shutdown writable stream and readable stream as well but only if there are no more data to read.

For #31

[2015-06-09 01:50] #65 closed, assigned to nobody

[2015-06-09 05:18] #61 closed, assigned to nobody

[2015-06-09 05:19] #7 closed, assigned to nobody

[2015-06-09 06:18] #46 closed, assigned to nobody

[2015-06-10 02:33] ILyoan opened #72 "Complete HTTP module"
- [x] http.METHODS
- [x] http.STATUS_CODES
- [x] http.createServer([requestListener])

- [x] Class: http.Server
    - [x] Event: 'request'
    - [x] Event: 'connection'
    - [x] Event: 'close'
    - [x] server.listen(port[, hostname][, backlog][, callback])
    - [x] server.close([callback])
    - [x] server.setTimeout(msecs, callback)
    - [x] server.timeout

- [x] Class: http.ServerResponse

[2015-06-10 03:20] ILyoan opened #74 "Complete assert module"
- [x] assert
  - [x] assert.fail
  - [x] assert.equal
  - [x] assert.notEqual
  - [x] assert.strictEqual
  - [x] assert.notStrictEqual
  - [x] assert.throws
  - [x] assert.doesNotThrows

[2015-06-10 05:19] seanshpark opened #75 "Built-in package downloader module"
As described in https://github.com/Samsung/iotjs/wiki/IoT.js-Package page we may need a built-in package downloader module, but should optional in compile time so that not consume flash space if not needed.

Condition
* has IP network that can connect to ipm registry server
* has storage

What
* server program to manipulate
* with simple commands
[code]

[2015-06-10 05:36] seanshpark opened #76 "Embedding packages in iotjs"
As described in  https://github.com/Samsung/iotjs/wiki/IoT.js-Package page, we may need to embed downloaded packages inside iotjs.  It can be done such as
1) download packages to some specific folder
2) give option to build script to enable embedding with the specific folder
3) convert package scripts to C code
4) require() finds packages in embed area

Application script should exist at the root

[2015-06-10 06:44] #37 closed, assigned to seanshpark

[2015-06-10 07:45] seanshpark opened #78 "Show correct source position when assert failure"
current message for assert failure is always same position
[code]
need to fix this to show real position.

[2015-06-10 07:55] #74 closed, assigned to ILyoan

[2015-06-10 07:58] ILyoan opened #79 "Reimplement test suites using `assert()` instead printing out."

[2015-06-11 22:06] seanshpark opened #82 "No error or warning when given invalid file"
Run iotjs with invalid file name, some random string.
I think it should show some error or waring that file does not exist on invalid file.
Currently it shows nothing.
Test with 1777b853605852f27f6fca2eb61c2f2236241b11

[2015-06-12 05:53] #79 closed, assigned to nobody

[2015-06-12 05:54] ILyoan opened #84 "Reimplement test_stat.js, add it run_pass."

[2015-06-12 05:58] ILyoan opened #85 "Documentation build test."
Now we have automatic build test feature.
The build test is mainly done by "tools/check_test.py" script.

Document it, expected contents are:
* build check process
* kind of test suite
  * run pass
  * run fail
* how to write test suite
* test suite attributes

[2015-06-15 02:14] ILyoan opened #87 "Implement process.exit()"
Implement `process.exit()`, `process.exitCode` and `event: uncaughtException`

Currently, raised an uncaught exception, the program abort. This should be treated in uncaughtException handler and if no handler for it, program exit with corresponding exitcode.

related #78, #36

[2015-06-15 05:34] #82 closed, assigned to nobody

[2015-06-16 06:19] ILyoan opened #89 "test_fs.js sometimes failed."
It looks like `read` returns empty buffer very occasionally.

[2015-06-18 05:48] ILyoan opened #92 "Automate Jerry external magic string registration."
From #90, IoT.js registers commonly used string literal as external magic string of jerry engine.
Unfortunately we need to periodically maintain list of magic string by hand.

I think we can automate this by running a script at build process like "iotjs_js.h" file gereration.

[2015-06-19 01:27] chunseoklee opened #93 "Implement native JS(src/js/*.js) modules as c builtin code"
We have to discuss the following topics.

1. Benifit
 * size
 * performance

2. Feasibility

[2015-06-19 02:59] #87 closed, assigned to ILyoan

[2015-06-19 03:01] #36 closed, assigned to chunseoklee

[2015-06-19 03:02] #6 closed, assigned to nobody

[2015-06-24 02:47] #5 closed, assigned to nobody

[2015-06-25 07:34] chunseoklee opened #104 "readable stream does not emit 'end' event"
After applying daf7b020ad9d762e9537a9a1b5bd9f36fb7177a4 commit,
readable stream does not emit 'end' event after pushing null into stream.

[2015-06-29 03:10] ILyoan opened #107 "Process exit() before cleanup"
https://github.com/Samsung/jerryscript/issues/242#issuecomment-115655736

[2015-06-29 07:25] #107 closed, assigned to ILyoan

[2015-06-30 06:23] seanshpark opened #110 "Hardware control APIs"
As of today, nodejs is on the discuss to support [hardware](https://github.com/nodejs/hardware) and libuv is ready with [uv_device_t PR](https://github.com/libuv/libuv/pull/379).
For IoT.js, how are we going to support hardware control and manage devices?
First PR #105 needs some more adjustments and we need to discuss how to provide the API and manage H/W boards and devices. [GPIO-control-ideas](

[2015-06-30 07:42] ILyoan opened #111 "Complete document: API References"
https://github.com/Samsung/iotjs/wiki/IoT.js%20API%20Reference

* Basic modules
 * [x] assert (https://github.com/Samsung/iotjs/wiki/IoT.js-API:-Assert)
 * [x] buffer (https://github.com/Samsung/iotjs/wiki/IoT.js-API:-Buffer)
 * [x] dns (https://github.com/Samsung/iotjs/wiki/IoT.js-API:-DNS)
 * [x] events (https://github.com/Samsung/iotjs/wiki/IoT.js-API:-Events)
 * [ ] fs
 * [x] gpio  (https://gi

[2015-06-30 07:48] ILyoan opened #112 "Complete Buffer module"
https://github.com/Samsung/iotjs/wiki/IoT.js-API:-Buffer

* Constructor
 * [x] new Buffer(size)
 * [x] new Buffer(buffer)
 * [x] new Buffer(string)

* Class Method
 * [x] Buffer.bytesLength(string)
 * [x] Buffer.concat(list)
 * [x] Buffer.isBuffer(obj)

* Instance Properties
 * [x] length

* Instance Methods (Buffer.prototype)
 * [x] equals(buffer)
 * [x] compare(buffer)
 * [x] write(string, start

[2015-06-30 07:51] ILyoan commented on #41
Writable stream had been landed and used for net module. I think we can close this issue.
Open more specific one if you want to.

[2015-06-30 07:51] #41 closed

[2015-07-01 06:24] seanshpark opened #115 "require fails in nuttx when file path begins with dot"
require fails for file path beginning with a dot in nuttx, for example,
[code]
but success when just given with only name. though node.js fails for this case.

[2015-07-01 06:58] seanshpark commented on #115
fix inode_nextname() so that skip when name starts with a dot

[2015-07-01 09:41] chunseoklee opened #116 "Support for negative indexes in Buffer.slice function"
Buffer.slice function need to support negative indexes.

[2015-07-01 10:35] seanshpark commented on #115
nuttx 20150701 patch uploaded is temporary, just to skip one dot. if one uses with two dots to point to parent directory like this one, it'll fail
[code]
if actual cases exist, should fix in right way.

[2015-07-01 10:35] #115 closed

[2015-07-01 10:39] seanshpark opened #117 "Support arm-linux build(Raspberry Pi 2)"
* [x] Change make system to support arm-linux
   * https://github.com/Samsung/iotjs/pull/125 landed
* [x] Prepare a simple document to setup RPi2
    * https://github.com/Samsung/iotjs/wiki/Setting-Raspberry-Pi-2-for-IoT.js
* [ ] Implement GPIO for RPi2
   * Implement GPIO class #128
  * Start of GPIO implementation based on GPIO API #131

[2015-07-01 23:15] seanshpark commented on #110
As wrote in PR #113, process.iotjs can be used for distinguishing between iotjs and others.
it may also have other properties, such as running product class, H/W board, and network or other environments that is needed to make application to decide better.
If this seems to be a bad idea, please add comments.

[2015-07-02 01:43] ILyoan commented on #110
I think we may need API reference for device control.
And for new module features will be introduced later on, how about consensus of API first and then implementation?

[2015-07-02 09:09] ILyoan commented on #110
https://github.com/Samsung/iotjs/wiki/IoT.js-API:-GPIO

[2015-07-02 09:17] ILyoan commented on #110
What type of mode could be exist for a pin of GPIO?

As far as I know there is only one; direction. Direction of a pin could be either input or output at one time thus rw pin is not possible right?

Is there any other type of mode besides direction?

[2015-07-02 11:58] seanshpark commented on #110
I've prepared a short page https://github.com/Samsung/iotjs/wiki/GPIO-control-ideas few days ago, and pin mode is described in summary. If you jump to link http://coactionos.com/embedded%20design%20tips/2013/10/21/Tips-Understanding-Microcontroller-Pin-Input-Output-Modes/ there is more. Hope this helps.

[2015-07-02 23:55] seanshpark opened #118 "Match JerryScript types"
With latest jerry, we need to fix warnings

1)
[code]

2)
[code]

[2015-07-03 01:39] seanshpark commented on #117
@ruben-ayrapetyan , I get `Segmentation fault` with these steps. Standalone JerryScript works ok.
* get `https://github.com/seanshpark/iotjs/tree/rpi2_dev`
* build iotjs
[code]
* copy `build/arm-linux/debug/iotjs/iotjs` to RPi2
* in RPi2, run iotjs with simple js file
[code]
* in gdb
[code]
* JerryScript hash : 0787d76b627cbb79646b01812e68ef79fd98d4c3

[2015-07-03 01:49] ILyoan commented on #110
@seanshpark The page you referred are only saying there are input and output mode(direction). Then can we assume that there are no other type of mode?

[2015-07-03 01:55] chunseoklee commented on #116
closed by #114

[2015-07-03 01:56] chunseoklee commented on #116
closed by #114

[2015-07-03 01:56] #116 closed

[2015-07-03 01:59] seanshpark commented on #110
@ILyoan , If you let mode to be input/output, one more thing is `floating` that is something like `disconnected`.

Besides direction, to the pin,
* Pull up or down or open-drain(open collector)
* Rise up or down edge detection
* input in digital or analog

[2015-07-03 02:17] ILyoan commented on #110
Let's summarize what pin configuration are commonly definable so we can design our GPIO API more usable for anyone.

I see configurable options are:

### Direction

#### input
* floating
* pull-up
* pull-down

#### output
* open-drain
* push-pul

### Frequency

### Ports

[2015-07-03 04:24] seanshpark commented on #110
Mode control depends on H/W. Is it ok to define actual mode in iotjs? Previous your comment was not to.

[2015-07-03 04:50] seanshpark commented on #117
`mem_pools` is 0x01 right before segment fault.
[code]

[2015-07-03 05:28] ILyoan commented on #110
I'm not sure about it.
My first thought was that mode configuration API might be sufficient if it enable user to select direction("input" or "output"). but you mentioned there are other modes besides it. so I listed it up.

If detailed configuration(like pull-do/down, open-drain, etc.) was up to hardware (for example, if target architecture was fixed, modes will also be fixed), then we don't need

[2015-07-06 17:59] ruben-ayrapetyan commented on #117
@seanshpark, seems that the issue is caused by incorrect include path of libc (https://github.com/Samsung/jerryscript/issues/304#issuecomment-118939054)

[2015-07-08 02:56] seanshpark commented on #118
close issue as #119 landed

[2015-07-08 02:56] #118 closed

[2015-07-08 09:09] ILyoan opened #121 "Introduce String wrapper for IoTjs"
From the start of the project we had used `char*` to represent ASCII string data. And from eef9e4ff7d45e3ffe851bf67f3157addbcd7410a it has changed to `jschar*` to represent UTF8 encoded string data.

But this change prevent using ASCII `char*` string data even if ascii data is itself UTF8 encoded. developers should use `JSCT` macro to convert `char*` to `jschar*` everywhere that could  be burden.

[2015-07-08 09:59] seanshpark commented on #121
Can there be more memory usage? It would be nice if not use too much buffer allocations.

[2015-07-08 10:38] seanshpark opened #122 "Fix for nuttx build"
Fix make when updating jerry: https://github.com/Samsung/jerryscript/pull/330
* limit heap for nuttx is needed

[2015-07-08 11:14] ILyoan commented on #121
The total usage of memory for hold string data will be the same as before.
Current implementation is like:
[code]

Will change to:
[code]

And JObject binding will also become take String object for UTF8 and ANSI C(ASCII) string as well as `char*` for ASCII string.

I think `char` should be enough to represent `byte` without confusion that `octet` and `jschar` could be removed from our source tree

[2015-07-09 08:29] ILyoan commented on #2
Today we integrated with jenkins run on http://83.69.213.178:8888/job/IoT.js

Triggering build using webhook is not setup right now which can be resolved in more specific issue.

Close this issue as resolved.

[2015-07-09 08:29] #2 closed

[2015-07-14 06:50] ILyoan commented on #121
Closing as #123 landed

[2015-07-14 06:50] #121 closed

[2015-07-14 06:51] ILyoan commented on #112
Closing this issue.

Treat encoding at separate issue.

[2015-07-14 06:51] #112 closed

[2015-07-14 06:54] ILyoan commented on #89
Not appeared for a while.
Probably solved by other patch.
Close this issue.
Feel free to open if necessary.

[2015-07-14 06:54] #89 closed

[2015-07-15 06:59] ILyoan commented on #110
What about GPIO API like below:

#### gpio.set(pin, direction[, callback])
* `pin: Number` - pin number.
* `direction: String` - direction of the gpio pin `'in'` | `'out'`.
* `callback: Function(err: Exception | null)`

#### gpio.write(pin, value[, callback])
* `pin: Number` - pin number.
* `value: Boolean` - `true` to turn on `false` to turn off.
* `callback: Function(err)`

#### gpio.read(pin[,

[2015-07-15 07:09] ILyoan commented on #110
Binding GPIO in `iotjs` namespace is also thinkable.
By this applications can get gpio module by `var gpio = require('iotjs').gpio`.
The advantage of binding is that we can provide 'iotjs' npm fo node.js, so that exactly the same program could be run on both node.js and iot.js without knowing the platform underneath it. Since apps can use 'iotjs' functionality including gpio control independent of

[2015-07-15 07:40] seanshpark commented on #110
these may need for some devices for addition in/out control. so `set()` with `direction` may not be sufficient.

please look around `2.2.5 I/O Interface` in http://www.element14.com/community/servlet/JiveServlet/previewBody/51124-102-2-267813/STM32F4DIS-BB%20User%20Manual.pdf and http://www.element14.com/community/docs/DOC-73950/l/raspberry-pi-2-model-b-gpio-40-pin-block-pinout file. my opinion is

[2015-07-15 09:44] ILyoan commented on #110
Then, what about this?

#### gpio.set(pin, direction[, mode][, callback])
* `pin: Number` - pin number.
* `direction: String` - direction of the gpio pin 'in' | 'out'.
* `mode: String` - optional.
* `callback: Function(err: Exception | null)`

It looks like name aliasing such as GPIO1, GPIO2, GPIO3,... is not proper approach as pin specification are very different from HW to HW. Let's just leave a

[2015-07-15 10:02] seanshpark commented on #110
`gpio.set(pin, direction[, mode][, callback])` seems nice.
can you describe relation with this API and PR #125 ?

[2015-07-15 22:33] seanshpark commented on #122
PR #125

[2015-07-15 22:52] seanshpark commented on #110
There may be resource waste. disagree on this.

why use string when number is used underneath? user module can use this.

API seems nice but for linux system using /sys/class/gpio, I cannot see how to `unexport`

[2015-07-16 04:50] ILyoan commented on #110
@seanshpark
The hardware dependent implementation could be changed according to API.
For example, if we decide to provide `gpio.set(pin, direction)` the underneath function prototype should be something like `SetMode(int pin_number, Direction direction)` current implementation assumes `pin` include mode information including pin number. Also our API to write data to pin was `gpio.write(pin, value:

[2015-07-17 03:29] ILyoan commented on #110
From discussion today morning, we have formed a consensus for GPIO API candidate.

I think this API layout will reflect the idea.

### iotjs.gpio

* pin number is logical number starts from 1. Thus logical pin number *k* is not necessarily bound to physical pin number *k* in your board.
* port number is logical number starts from 1. Thus logical port number *k* is not necessarily bound to physical

[2015-07-17 05:17] seanshpark commented on #110
Great. I've coped above descriptions to [GPIO-API-candidate](https://github.com/Samsung/iotjs/wiki/GPIO-API-candidate) page. I've some comments

1. `direction: 'in' | 'out'`: what do you think using boolean. code will be simple.
2. is `resetPin()` api not needed anymore or just forgot?

[2015-07-17 05:23] ILyoan commented on #110
@seanshpark
1. `true` for what? `in` or `out` ? I wonder if it could be a little confusing.
2. you men `unset()`? We could provide it. or we can do it with `setPin()` with direction `'none'`.

[2015-07-17 05:28] seanshpark commented on #110
1. something like `direction` change to `out` or `output` and if true, will be set to output mode.
2. `setPin()` with direction `none` can be a choice for `unsetPin()` but I prefer not to use string as value. simple value compare not string compare.

[2015-07-17 05:38] seanshpark commented on #110
I think I got confused. for the JS API, `direction` with `'out' | 'in' | 'none'` seems ok.

[2015-07-17 05:44] ILyoan commented on #110
@seanshpark, thanks for your confirmation.

[2015-07-17 06:00] seanshpark commented on #110
thank you too, I'll begin the implementation when new HW arrives, for testing.

[2015-07-20 01:56] seanshpark commented on #122
close as PR landed

[2015-07-20 01:56] #122 closed

[2015-07-20 02:25] seanshpark opened #126 "Apply new NuttX repo structure"
http://nuttx.org/doku.php?id=downloads

[2015-07-20 08:11] seanshpark commented on #126
https://github.com/Samsung/iotjs/wiki/Build-for-NuttX page updated.

[2015-07-20 08:11] #126 closed

[2015-07-20 08:32] seanshpark opened #128 "Complete GPIO module"
Implement https://github.com/Samsung/iotjs/wiki/GPIO-API-candidate
Related issue: #110, #117
Update document https://github.com/Samsung/iotjs/wiki/IoT.js-API:-GPIO

* [x] JS API
   * [x] setPin (#131)
   * [x] readPin , writePin (#169)
   * [x] setPort, readPort, writePort
* [x] x86 linux dummy
* [x] arm-linux on Raspberry Pi 2
* [ ] arm-nuttx on STM32F4-discovery (#276)

* let `query()` be in ano

[2015-07-22 15:40] raju-bitter opened #130 "Link to GPIO-control-ideas on "Getting Started" page is dead"
On the "Getting Started" page, the link to GPIO-control-ideas is dead (URL is https://github.com/Samsung/iotjs/wiki/GPIO-control-ideas).
Should that link be "https://github.com/Samsung/iotjs/wiki/GPIO-API-candidate" instead?

[2015-07-23 04:28] seanshpark commented on #130
Yes, you are right. I've changed to link in 'Getting Started' page. Thank you!

[2015-07-24 01:46] junwatu opened #132 "Error build on Linux Fedora 22"
I have an issue when building iotjs on Fedora 22. Any help? thanks

...
cmake /home/equan/Downloads/IoT/iotjs/deps/jerry -DENABLE_LTO=OFF -DCMAKE_TOOLCHAIN_FILE=/home/equan/Downloads/IoT/iotjs/cmake/config/x86_64-linux.cmake

Traceback (most recent call last):
  File "./tools/build.py", line 535, in <module>
    if not build_libjerry():
  File "./tools/build.py", line 412, in build_libjerry
    ch

[2015-07-24 04:27] seanshpark commented on #132
May be some tools are not prepared(cmake?)
Please check https://github.com/Samsung/iotjs/wiki/Build-for-Linux#prerequisite.
As we are not currently using Fedora, it may take time to check.
Please leave a note if solved. Thank you.

[2015-07-24 05:41] ILyoan opened #133 "Printing empty string("") via console result segmentation fault."
[code]

Related https://github.com/Samsung/jerryscript/issues/439

[2015-07-24 06:20] ILyoan commented on #130
Closing

[2015-07-24 06:20] #130 closed

[2015-07-24 08:12] ILyoan opened #135 "Make sure JObjectWrap never could be created as local variable."
Instance of `JObjectWrap` never be created as local variable.

Constructor of `JObjectWrap` set native pointer for javascript object so that when the object was reclaimed by garbage collector, the wrapper will also be reclaimed. If wrapper was created as local variable, this may lead double free.

And first of all, `JObjectWrap` was designed to be used for holding javascript object throughout asyn

[2015-07-24 20:10] maxogden opened #136 "Possible to run on ESP8266?"
Hi, I am curious if it will ever be possible to run iotjs on the ESP8266 chip: https://github.com/esp8266/esp8266-wiki/wiki

The specs are quite limited:

- It's running at 80MHz
- 64KBytes of instruction RAM
- 96KBytes of data RAM
- 64KBytes boot ROM

But there is a firmware for it that implements Lua https://github.com/nodemcu/nodemcu-firmware

[2015-07-25 02:08] junwatu commented on #132
@seanshpark yes you'r right i didnt have cmake on my system . Have compiled it but another issue arise. I cannot find what's cq here and I try to build jerry manually but it take to long. any advice? thanks

...
make -C /home/equan/Downloads/IoT/iotjs/build/x86_64-linux/debug/deps/jerry debug.jerry-core -j

make: Entering directory '/home/equan/Downloads/IoT/iotjs/build/x86_64-linux/debug/deps/jer

[2015-07-25 09:30] seanshpark commented on #136
Hello, thank you for your interest on iotjs.  It seems that memory is not enough for iotjs.

Current version for STM32F4 version requires about 350KB image ROM and about 100K RAM(roughly). We have plans to reduce RAM size with JerryScript but for ROM, it may be hard.

[2015-07-25 09:31] seanshpark commented on #136
https://github.com/nodemcu/nodemcu-firmware is very interesting.

[2015-07-25 09:48] seanshpark commented on #132
I also don't know what `cq` can be. as the error message is `ccache: error: Could not find compiler "cq" in PATH`, it seems to be some files in the tool chain you have in your Fedora.
I think it may take time to build iotjs. but lets try with jerryscript(https://github.com/Samsung/jerryscript) first. jerryscript has it's own build system, it must be ok with this also. so try like this;
[code]
it d

[2015-07-25 18:33] maxogden commented on #136
@seanshpark thanks for the reply! nodemcu is indeed quite cool, but I prefer node.js over lua :)

So it seems that iotjs should be compatible with boards like this then?

- http://www.espruino.com/Pico
- https://www.tindie.com/products/Fyberlabs/stm32-small-flex-module-401/

The appeal of the ESP8266 is the integrated wifi. It looks like the espruino shim http://www.espruino.com/ESP8266 is maybe t

[2015-07-25 18:54] maxogden commented on #136
@seanshpark also where does the name JerryScript come from? haha

[2015-07-26 01:52] lemmaa commented on #136
@maxogden Hi, nice to meet you. Yes, we also think that IoT.js should compatible with such boards, eventually.

As of now, we just checked up the possibility of our approach, downsizing node.js for IoT with JerryScript, and just beginning long journey of development. But we don't know how small we can make it useful.

The first thing we willing to do at this time is define the core modules or APIs

[2015-07-26 03:53] maxogden commented on #136
@lemmaa thanks for the information, very cool.

P.s. I wrote up a blog post about the project http://maxogden.com/iotjs-and-jerryscript.html

[2015-07-26 03:53] #136 closed

[2015-07-26 12:38] roryrjb opened #137 "console.log fails for anything other than a non-empty string"
Aside from https://github.com/Samsung/iotjs/issues/133, `console.log` fails for anything other than a string; see script below, I've included the expected output as displayed by __Node v0.10.40__, __Node v0.12.7__ and __io.js v2.4.0__, and the latest build of __IoT.js__ from the `master` branch.

[code]

[2015-07-26 22:41] morganrallen opened #138 "fatal error: sys/boardctl.h: No such file or directory"
[code]

I'm getting this error while trying to build NuttX using these instructions. https://github.com/Samsung/iotjs/wiki/Build-for-NuttX

I can get to step 5 but `make` for NuttX fails.

[2015-07-26 23:38] seanshpark commented on #138
`sys/boardctl.h` file does not exist for the revision iotjs is based on. I think you may had some problem with `git checkout -b iotjs 9388ed9a1780cea6fb349a0b91bfcd657f00ca90` step. please start from the beginning and watch the messages and if there is some problem, please let me know.

[2015-07-27 00:13] morganrallen commented on #138
OK! That was it, right away things went much smoother. Sadly it didn't drop in and run on the NUCLEO-F401RE looks like it just barely meets the specs so might be possible to do a port.

[2015-07-27 00:35] #138 closed

[2015-07-27 01:33] ILyoan commented on #137
@roryrjb  Thanks for reporting it.
At this time `console.log()` only prints string and fails for any other arguments.
We are preparing equivalent functionality with node.js. but we have to wait implementation of `String.prototype.replace()` of JerryScripts. After that it'll print all this request.

[2015-07-27 06:45] roryrjb commented on #137
@ILyoan thanks for your response. Keep up the good work :+1:

[2015-07-27 19:41] tedbeer opened #141 "question about Espruino"
Do you know about very similar open source Espruino project existing from 2013 - [espruino.com](http://www.espruino.com/Modules), [github.com/espruino](https://github.com/espruino)?
It has same low requirements, it works already on many [boards](http://www.espruino.com/Other+Boards) and it's open source.
Why don't you want to combine efforts? What in Espruino does not meet your needs?

[2015-07-28 00:25] lemmaa commented on #141
@tedbeer It's simple. Because the requirements when we first started the project.

When @egavrin and I imagined JerryScript project in early 2014, we also surveyed many open source projects Duktape, quadwheel, Espruino and even Tessel. But at that time, our 1st target is JS engine which is smaller then 100KB in binary size, and nothing fits it. So we start our own development, internally.

In othe

[2015-07-28 05:08] brendanashworth opened #142 "question about node.js compatibility"
Hi there!

I took a look at the project and it looks pretty cool. I saw that you were looking for some sort of compatibility with node.js - is this right? If so, y'all might want to take a look at [nodejs/api](https://github.com/nodejs/api). It is an effort by the nodejs foundation to move towards a standardized API that allows platforms like this to have a real standard.

Maybe you're interested

[2015-07-28 06:13] lemmaa commented on #142
@brendanashworth Hi, thank you for information.
As you mentioned, supporting node.js API is one of main task in IoT.js. Currently, we are referencing [https://nodejs.org/api/] as base.

We think that we can't cover the whole set of node.js API, because of limited memory in IoT devices. So we are trying to define several subsets of node.js API. One for mandatory, others are optionally loaded on dem

[2015-07-29 09:16] ILyoan opened #148 "Throw Error for unhandled 'error' event."
Some API emit 'error' event when something goes wrong.
If there are no listener for such error event, it should be treated as unhandled exception.

[2015-07-29 20:09] brendanashworth commented on #142
Sounds like a good set of modules - no native addons?

As a side comment, maybe [this list](https://github.com/nodejs/api/blob/master/native/data_types.md#definitions-alphabetical-order) will interest y'all. :smile:

[2015-07-29 23:39] drasko opened #149 "Duktape instead of JerryScript"
Hi,
I would like to know your opinion on Duktape (http://duktape.org/) in comparison to JerryScript, and would it be complicated to replace IoT.js JS engines if needed?

BR,
Drasko

[2015-07-29 23:49] drasko opened #150 "RiotOS"
Hi,
although NuttX is excellent choice, it would be interested considering RiotOS also, due to the evolved IoT stack (6LoWPAN, RPL, CoAP, CBOR, ...): http://www.riot-os.org/. Or at least target for high portability, so that IoT.js can be ported to other RTOSes easily. Any thoughts?

BR,
Drasko

[2015-07-30 10:18] indexzero opened #153 "Stop running your own registry"
From your [docs on packages](https://github.com/Samsung/iotjs/wiki/IoT.js-Package):

This is actually *not the practice* of JavaScript and node developer communities. The trend has been to bring separate registries into the mainline npm registry because having multiple sources of truth is very frustrating and silly. Most recently this was done with Apache Cordova (aka PhoneGap):

https://cordova.a

[2015-07-30 14:44] WebReflection opened #154 "broken Timers"
By [specification](http://dev.w3.org/html5/spec-LC/timers.html#timers), and since about ever in every engine, timers accept extra arguments.

[code]
Above code should log `Hello IoT.js!` ... it prints
[code]
instead.

Please get core functionalities right ;-) thank you!

[2015-07-31 02:00] ILyoan commented on #154
@WebReflection Thanks for pointing out. It looks like we haven't been visiting timer for long time since initial implementation. I'll take a look at this.

[2015-07-31 02:49] chunseoklee commented on #150
First of all, thank you for your interest and suggestion.
RiotOS seems to be a great platform for IoT.js.
IMHO, it is not that hard to port IoT.js to RiotOS if RiotOS is POSIX compliance.

[2015-08-03 01:11] ILyoan commented on #154
Closing as #157 landed.
Feel free to reopen if needed

[2015-08-03 01:11] #154 closed

[2015-08-03 01:15] ILyoan commented on #137
Close as #156 landed.
Printing result is different from node.js since it requires not a few implementation.
Feel free to reopen if needed.

[2015-08-03 01:15] #137 closed

[2015-08-03 01:18] ILyoan commented on #104
@chunseoklee I think we can close this as #144 landed?

[2015-08-03 05:31] ILyoan commented on #135
No objection? Then I'll do this after HTTP and GPIO landed.

[2015-08-03 05:43] ILyoan commented on #142
@brendanashworth Yes, I think we'll eventually support native addon.
It seems like the link you are referring is for standardizing kind of embeding API for native addon. right? I think it's cool. Once that kind of standard was established, any native addon developed base on it could run on any platform supporting it (ex. node.js, iot.js and something more). We surely interested and will keep watch

[2015-08-03 07:25] chunseoklee commented on #135
No objection. I am in.

[2015-08-03 08:27] ILyoan commented on #133
Closing as #134 landed.

[2015-08-03 08:27] #133 closed

[2015-08-03 09:00] chunseoklee commented on #104
It should have been close by #106.
Now, closed.

[2015-08-03 09:00] #104 closed

[2015-08-05 08:01] leenux opened #160 "build arm-cross error on Ubuntu 14.04 x86"
After sudo apt-get install gcc-arm-linux-gnueabihf g++-arm-linux-gnueabihf
I run ./tools/build.py --buildtype=release --noinit-submodule \
--target-arch=arm --target-os=linux
Error Msg:
Linking CXX static library librelease.jerry-core.a
Error running link command: No such file or directory
make[3]: *** [jerry-core/librelease.jerry-core.a] Error 2
make[3]: Leaving directory `/root/arm/iotjs/iotjs/b

[2015-08-05 09:00] ILyoan commented on #160
@leenux Could you try with
[code]
?

[2015-08-05 12:26] lemmaa opened #161 "Supporting benchmark of JerryScript"
IoT.js contains an amount of JavaScript codes to implement built-in modules. How can we provide the way of using such codes in IoT.js to benchmark the performance of JerryScript.
Let's list up the ideas and issues.

[2015-08-05 12:56] egavrin commented on #161
As far as I understood, the main issue is to emulate I/O.
Can we just define strings with appropriate input data and replace all I/O with this data?

[2015-08-06 06:40] chunseoklee opened #162 "Caching non-native modules"
Non-native modules are not cached now.
It may cause severe problem when the same module is loaded multiple times.

[2015-08-06 19:45] niutech commented on #141
Really nothing fitted in 100KB? How about [tiny-js](https://github.com/snoozbuster/tiny-js)? In my opinion, it is better to join efforts than to develop yet another JS engine with own APIs, unless they are compatible.

[2015-08-06 23:15] seanshpark commented on #153
@indexzero , thank you for point this out. IPM server is ready but not active yet so I think we have some time.
@lemmaa , what do you think?

[2015-08-07 00:09] indexzero commented on #153
Ready but not active is the perfect time to do it. If you want until it is active then you will have pain.

[2015-08-07 08:08] martensms opened #164 "Please add License for how iotjs distributed"
Please add a License to the repository, so people can be safe using it :)

I'd love to see this project as MIT/expat (personal preference), as it resolves issues that come with LGPL if someone decides to build his own runtime based on your project (e.g. OpenGL bindings or similar). But that's just a suggestion.

[2015-08-07 08:08] cookiengineer opened #165 "Ease up installation with Debian packages"
Hey guys,

I just got my RPi2 and wanted to try out jerryscript / IoT.js. I figured out that you don't have any binary builds in the releases section :(

I was kind of an apt shadow in the past and would love to contribute to the project by building up a repo with the required bundling logic. I do that myself for most JS projects (see [lycheejs-bundle](https://github.com/Artificial-Engineering/lyc

[2015-08-07 08:11] martensms commented on #142
It would be nice to see UDP/Datagram sockets, as they are superb to use in HTTP and WebSockets later. But I have no clue how to implement them myself...

[2015-08-07 08:18] seanshpark commented on #164
@martensms , out license is described at https://github.com/Samsung/iotjs/wiki/License page, and please look at https://github.com/Samsung/iotjs/wiki/IoT.js-Developer's-Certificate-of-Origin-1.0 also.
Thank you.

[2015-08-07 08:20] drasko commented on #142
UDP sockets are also important in implemeting CoAP and similar protocols.

[2015-08-07 08:26] seanshpark commented on #165
@martensms , about RPi2 binary, hope https://github.com/Samsung/iotjs/wiki/Build-for-Linux and https://github.com/Samsung/iotjs/wiki/Build-for-ARM-Linux-(RPi2) pages help.
And please go on with `building some packages` :). It may be a great help to us and others.

[2015-08-07 11:54] martensms commented on #164
@seanshpark Oh, okay. I didn't take a look at the wiki for the license.

Usually, projects store the License files in the repository (LICENSE.txt), because you can get into legal troubles if people download the repo as a zip file and they had no license in the zip file.

[2015-08-07 13:31] diorahman commented on #153
+1

[2015-08-07 15:45] lemmaa commented on #141
@niutech  As far as I know, tiny-js is predecessor of Espruino, and it's not designed for full featured. So it's not under our consideration when we first started this project. Sure, we also realized soon that implementing full featured JavaScript engine with full set of built-in ECMA objects under 100KB is not easily possible, so we changed our first goal to subset version. Anyway, we got a great

[2015-08-07 23:25] leenux commented on #160
yes,I try ./tools/build.py --buildtype=release --target-arch=arm --target-os=linux.
and the same error message was occured.

[2015-08-08 03:52] lemmaa commented on #153
@indexzero , @seanshpark , I agree. But, can we find more sophisticate way of distinguishing IoT.js compatible packages from all npm packages, even before install? Because IoT.js will support only part of node.js API.

[2015-08-08 07:59] diorahman commented on #153
Can we introduce a "special" client just like [apm](https://www.npmjs.com/package/atom-package-manager) for atom.io to make sure the compatibility?

[2015-08-08 22:39] indexzero commented on #153
+1 to the suggestion from @diorahman. This is what `atom` and `cordova` do.

[2015-08-09 23:21] #164 closed

[2015-08-10 07:54] wateret commented on #162
Yes, it is not only a performance issue.
If a module is loaded multiple times, it could reset some objects in **exports** which could have changed.

[2015-08-11 06:02] #162 closed

[2015-08-11 06:25] seanshpark opened #168 "Test 'test_net2.js' fail"
Only can see with 32bit linux
[code]

tested with 687ec6ba531893390142fc54ab24afe5a30312f2 but seems been a while.

`unexpected stdout` is cause of
[code]
for debugging but `[WRN] Attempt to close uninitialized or already closed handle` needs investigation.

[2015-08-12 09:22] seanshpark opened #170 "uv__finish_close: Assertion `handle->flags & UV_CLOSING' failed"
Sometimes there is uv__finish_close() assert, with httpd timer test codes.
Simple test code is as
[code]

32bit seems to reproduce better, 64bit linux doesn't seem to reproduce assert.

[2015-08-12 10:14] seanshpark commented on #170
For HandleWrap destruction, handle should be valid while processing `closing`.
Problem occurred when TimerWrap object was allocated to same address, by new, to TimerWrap object that was just deleted but still in process of `uv_close()` in `uv__finish_close()`.
As it's a new object, initialised by `uv_timer_init()` so `UV_CLOSING` is not set anymore making assert.
Fix #171 is to postpone object des

[2015-08-12 23:39] #170 closed

[2015-08-16 23:51] ILyoan commented on #160
@leenux Can I see the full build output?

[2015-08-17 01:26] ILyoan commented on #161
One option that we can think about is adding a build mode for benchmarking JerryScript. In this mode, main entry for IoT.js requires all of the native modules that makes JerryScript parse and run all the native modules. Since native modules are included in IoT.js binary there will be no I/O.

[2015-08-17 04:23] ILyoan commented on #160
Not sure but this probably is related to https://github.com/Samsung/jerryscript/issues/489.

[2015-08-17 07:45] ILyoan opened #175 "Complete events module"
https://github.com/Samsung/iotjs/wiki/IoT.js-API:-Events

* [x] emitter.on()
* [x] emitter.addLinstener()
* [x] emitter.once()
* [x] emitter.removeListener()
* [x] emitter.removeAllListener()
* [x] emitter.emit()

[2015-08-17 07:50] ILyoan opened #176 "Complete process module"
https://github.com/Samsung/iotjs/wiki/IoT.js-API:-Process
- [ ] Documentation
- [ ] Implementation
  - [x] event: exit
  - [x] event: uncaughtException
  - [x] process.argv
  - [x] process.exit()
  - [x] process.exticode
  - [x] ~~process.version~~
  - [x] process.arch
  - [x] process.platform
  - [x] process.nextTick()

[2015-08-17 07:57] ILyoan opened #177 "Complete stream module"
https://github.com/Samsung/iotjs/wiki/IoT.js-API:-Stream

Stream.readable

* [x] event: readable
* [x] event: data
* [x] event: end
* [x] event: close
* [x] event: error
* [x] readable.read()
* [x] readable.resume()
* [x] readable.pause()
* [x] readable.isPaused()

Stream.Writable

* [x] event: drain
* [x] event: finish
* [x] event: end
* [x] writable.write()
* [x] writable.end()

[2015-08-17 07:58] #177 closed

[2015-08-17 08:00] ILyoan opened #178 "Complete console module"
https://github.com/Samsung/iotjs/wiki/IoT.js-API:-Console

* [x] console.log()
* [x] console.info()
* [x] console.warn()
* [x] console.error()

[2015-08-17 08:01] #178 closed

[2015-08-17 08:06] ILyoan opened #179 "Complete udp module"
https://github.com/Samsung/iotjs/wiki/IoT.js-API:-udp

* [ ] dgram.createSocket()
* [ ] event: message
* [ ] event: listening
* [ ] event: close
* [ ] event: error
* [ ] socket.send()
* [ ] socket.bind()
* [ ] socket.close()
* [ ] socket.address()
* [ ] socket.setBroadcast()
* [ ] socket.ref()
* [ ] socket.unref()

[2015-08-17 19:30] Qard commented on #153
+1 for a special client. It could just scope installable packages to only ones which include the iotjs keyword and could automatically include it when initializing or publishing a module.

[2015-08-17 19:37] Qard commented on #142
FYI, a significant goal of the node API working group is to standardize a lower-level API that the existing JS files in lib/ would sit on top of. (Rather than the implementation-specific process.bindings(...) interface)

I think it would be worthwhile to coordinate and communicate your needs to the node API working group to work towards full compatibility with the lower-level API and only differin

[2015-08-18 02:38] #168 closed

[2015-08-19 00:45] ILyoan opened #183 "Implement socket.setTimeout()"
For #31

[2015-08-19 00:46] ILyoan opened #184 "Implement socket.setKeepAlive()"
For #31

[2015-08-19 02:36] ILyoan opened #185 "Implement net.connect()"
API doc: https://github.com/Samsung/iotjs/wiki/IoT.js-API:-Net

Implement:
* connect(options, connectListener)
* connect(port, host, connectListener)
* createConnection(opitions, connectListener)
* createConnection(port, host, connectListener)

For #31

[2015-08-24 02:48] lemmaa commented on #142
Updated candidate for IoT.js API.
https://github.com/Samsung/iotjs/wiki/IoT.js%20API%20Reference
@martensms @drasko UDP and CoAP is classified as 'Extended API' at this time.

Please check the milestone for progress.
https://github.com/Samsung/iotjs/milestones

Thanks!

[2015-08-24 04:50] ILyoan commented on #3
Closing as all ecma requirements completed

[2015-08-24 04:50] #3 closed

[2015-08-24 05:46] ILyoan opened #190 "Make ReqWrap template."
Many module implement its own request wrapper class inheriting `ReqWrap`. but it just add one field - specific request type of `uv_req_t`. So I think we can generalize it by using c++ template.

[2015-08-24 07:26] ILyoan opened #192 "Implement event.removeAllListener()"
For #175

[2015-08-24 07:26] ILyoan commented on #185
Closing as #186 landed

[2015-08-24 07:26] #185 closed

[2015-08-24 07:26] ILyoan commented on #184
Closing as #187 landed

[2015-08-24 07:26] #184 closed

[2015-08-24 07:29] ILyoan opened #193 "net.server: 'close' event should emitted after all connections are closed."
https://github.com/Samsung/iotjs/wiki/IoT.js-API:-Net#close

For #31

[2015-08-25 11:18] wateret opened #197 "Test case for resume(), pause() in net.Socket"
resume() and pause() are inherited from stream.Readable, so there is nothing to implement.

Just need to add test cases for them.

[2015-08-25 11:18] wateret commented on #197
For #31

[2015-08-25 13:23] zherczeg opened #198 "JavaScript callbacks in iotjs (security issue)"
Currently there are no input validations and error checks in the current code. As a result, JS calls like

process.binding("fg");

cause a segmentation fault in release (or an attacker could redirect control). The current coding style is quite Duktape like, where error handling is automatically done, but in JerryScript, all return values must be explicitly checked and actions need to be done accor

[2015-08-26 08:52] wateret commented on #197
Closing as #199 landed

[2015-08-26 08:52] #197 closed

[2015-08-26 09:04] seanshpark commented on #190
I do not agree on using c++ template.

[2015-08-27 00:43] ILyoan commented on #190
@seanshpark Could you tell us why you disagree over using C++ template ?

[2015-08-27 01:14] ILyoan commented on #198
@zherczeg Right.
Currently, native side of IoT.js checks invariants by using `IOTJS_ASSERT` macro that abort in debug mode but do nothing on release mode resulting segmentation fault in some cases.

I think it should throw an `Error` where `IOTJS_ASSERT` fails in release mode that it can be treated in exception handler or devise other mechanism. For debug mode I think aborting would be best option

[2015-08-27 05:00] wateret opened #200 "Complete dns module"
https://github.com/Samsung/iotjs/wiki/IoT.js-API:-DNS

- [x] dns.lookup()
- dns.resolve()
- dns.reverse()

[2015-08-27 05:38] ILyoan commented on #183
Closing as #195 landed

[2015-08-27 05:38] #183 closed

[2015-08-27 05:40] ILyoan commented on #110
Closing as we reached consensus about the API:
https://github.com/Samsung/iotjs/wiki/IoT.js-API:-GPIO

Feel free to reopen if it needed.

[2015-08-27 05:40] #110 closed

[2015-08-27 05:43] ILyoan commented on #192
Close as #194 landed

[2015-08-27 05:43] #192 closed

[2015-08-27 05:44] ILyoan commented on #175
Closing as all required functionalities are accomplished.

[2015-08-27 05:44] #175 closed

[2015-08-27 05:50] ILyoan opened #201 "Print backtrace when aborting"
We had had feature of printing backtrace when aborting. removed while porting to Nuttx since there were no supporting from Nuttx to print out backtrace.
I think we can revive that feature at least for linux target.

[2015-08-28 07:49] ysdafa opened #203 "./tools/build.py ValueError: Number of processes must be at least 1 Failed run_checktest"
/home/ys/myGit/iotjs/tools/check_test.py /home/ys/myGit/iotjs/build/x86_64-linux/debug/iotjs/iotjs

[ run_pass ] Test Run

Traceback (most recent call last):
  File "/home/ys/myGit/iotjs/tools/check_test.py", line 276, in <module>
    if not test['handler'](iotjs):
  File "/home/ys/myGit/iotjs/tools/check_test.py", line 229, in run_pass_test
    passes, fails, skips = run_tests('run_pass', RUN_PAS

[2015-08-28 08:05] ysdafa commented on #203
Sorry, I found the reason. For I running in virtualbox, the default CPU is set to 1.
After change CPU to 2, the issue fixed.

[2015-08-30 23:27] ILyoan commented on #203
@ysdafa Thanks for pointing this out!

This obviously is a bug.

We'll fix this.

[2015-08-31 03:00] wateret opened #205 "Implement dns.lookup()"
For #200

[2015-08-31 03:01] wateret opened #206 "Implement dns.resolve()"
For #200

[2015-08-31 03:01] wateret opened #207 "Implement dns.reverse()"
For #200

[2015-08-31 13:59] rtakacs opened #211 "JerryScript and IoT.js should use the same memory allocator"
Currently JerryScript and IoT.js (libuv, http-parser) don't share their allocators, and they both have an own reserved space. However, if one space is full, there is no more memory, even if the other space is nearly unused. I think this is a problem, and a single space would be a better solution.

What do you think? Which one do you prefer: IoT.js should use Jerry allocator, or Jerry should use th

[2015-09-01 09:56] zherczeg commented on #198
We definitely need to do something with this, since intentional misusing of the API can allow taking over the control of the device by a cracker.

[2015-09-01 11:24] zherczeg opened #212 "IoT.js memory consumption"
After applying https://github.com/Samsung/jerryscript/pull/611, and run the Freya tool I got some interesting results. The test file contained a single space. The following result is an excerpt:

[0] Peak: 56.6Kb (58016b) Allocs: 18404 Reallocs: 0 Total: 4.3Mb (4556210b).
Group: JerryScript

The peak memory consumption of Jerry is 56K.

    [0] Peak: 56.6Kb (58016b) Allocs: 18404 Reallocs: 0 Total

[2015-09-01 11:27] zherczeg commented on #212
One more thing: Freya did not report any leak (only for the libuv submodule, i suspect tiotjs did not terminate that module) so the allocations / frees are correctly matched.

[2015-09-02 03:12] ILyoan commented on #198
@zherczeg Agree with you.

Let me summarize what we have to count:

* We are checking whether arguments are in expected range using `IOTJS_ASSERT()`.
* `IOTJS_ASSERT()` aborts if given predicate evaluates false in debug mode but do nothing on release mode that might lead security vulnerability.
* I see the problem can be mainly caused by hijacking builtin module for purpose of abusing it.
There ar

[2015-09-02 06:19] seanshpark commented on #212
Interesting...
Can you profile iotjs with test js code with
[code]
?

[2015-09-02 06:21] seanshpark commented on #211
@rtakacs , can you please explain more about your idea with the allocator? I mean with some example codes?

[2015-09-02 06:48] seanshpark opened #213 "Binding with libtuv"
I've added 'tuv' branch using new [libtuv](https://github.com/Samsung/libtuv) library.
How to build:
[code]
Status of libtuv at this moment passes all iotjs unit tests but it's still in development.
What I'm going to do is to compare on memory usage between libuv and libtuv by;
- [x] static memory usage adding all global variables
  * static buffer of libuv 816 bytes vs libtuv 496, arm-linux (diff

[2015-09-02 08:52] ILyoan commented on #211
@rtakacs Agree with you for later option.

IoT.js uses 'new' or 'malloc' operation for dynamic allocation and the object will be generated in the different space from Jerry heap.

If there is API provided from JerryScript for allocating chunks of memory on JerryHeap, we can use the API.

[2015-09-02 09:57] seanshpark commented on #213
map file with libuv of arm-linux
[code]
size = 0x00176850 + 0x8 - 0x00176528 = 0x330 (816)

map file with libtuv of arm-linux

[code]
size = 0x0016c614 - 0x0016c424 = 0x1F0 (496)

[2015-09-02 10:30] seanshpark commented on #213
Using valgrind in i686-linux, Measure with `test/run_pass/test_httpserver.js`

with libuv,
[code]

with tuv,
[code]

[2015-09-02 12:01] zherczeg commented on #212
Yes, here is the exceprt:

    [0] Peak: 132.3Kb (135476b) Allocs: 54935 Reallocs: 0 Total: 11.3Mb (11856309b).
    Group: JerryScript
      [1] Group: jerry-core
        [2] Peak: 84.2Kb (86312b) Allocs: 43755 Reallocs: 0 Total: 11.2Mb (11762750b).
        Group: parser
          [3] Peak: 84.2Kb (86312b) Allocs: 43755 Reallocs: 0 Total: 11.2Mb (11762750b).
          Group: parser-js

[2015-09-02 12:33] seanshpark commented on #212
@zherczeg , thank you. "iot.js allocates space for the source buffer twice" needs review.
I would like to repeat this and look inside more.

And I think this will surely  solve https://github.com/Samsung/iotjs/issues/213 task. I think reading https://github.com/Samsung/jerryscript/pull/602 can be a good starting point. Is there addition documents that can be a help ?

[2015-09-02 13:18] zherczeg commented on #211
@seanshpark currently we have two memory pools: one for Jerry and the other is for malloc. Let's assume we have 150K memory, and we assign 100K for Jerry, and 50K for malloc. In this case the http module cannot be loaded, since it requires 130K Jerry memory, although we have 50K unused memory. If Jerry would have all 150K memory, the module could be loaded. But in this case the other modules like

[2015-09-02 13:33] zherczeg commented on #212
@seanshpark: regarding the double allocation:

    JHANDLER_FUNCTION(CompileNativePtr, handler)
    {
       String source((const char*)handler.GetArg(0)->GetNative());
      JResult jres = WrapEval(source);
    }

And WrapEval also creates a copy:

   static JResult WrapEval(const String& source) {
    String code("", len1 + len2 + len3 + 1);
   }

I think the WrapEval could accept a char* direct

[2015-09-02 13:55] zherczeg commented on #212
Just for confirmation I printed the byte-code sizes when loading the http submodule.

bytecode-size: 24 (total: 24), lit-table-size: 32 (total: 32)
bytecode-size: 2432 (total: 2456), lit-table-size: 760 (total: 792)
bytecode-size: 472 (total: 2928), lit-table-size: 160 (total: 952)
bytecode-size: 1328 (total: 4256), lit-table-size: 448 (total: 1400)
bytecode-size: 2848 (total: 7104), lit-table-siz

[2015-09-02 22:39] seanshpark commented on #212
@zherczeg , thank you for pointing the code.
"addition documents" not literally but I see https://github.com/szeged/Freya page but didn't look inside the  codes yet and there's nothing in wiki page, so as not good at memory analysis and optimisation, it could be a help to me if you can add some links that I can study.

[2015-09-02 23:13] seanshpark commented on #211
@zherczeg , thank you for detailed explanations.
For small memory systems, we can benefit as you explained, for systems having bit more memory like can give Jerry full 256K and system has, say, 128K. For this case adding two doesn't seem to benefit. (If I'm not understand quite well, please point) So I have some question...
1) If we merge the two how can it be done? Something like  separate Jerry

[2015-09-03 01:56] ILyoan commented on #198
@zherczeg
On second thought, one of the problem is that, checking parameter's types and range in builtin native handler is done with `IOTJS_ASSERT()` which do nothing on release mode.
We may introduce  another policy for it like checking parameter on native module and throwing exception if it there are unexpected value given.

[2015-09-03 06:44] zherczeg commented on #211
1) SRR please correct me if I am wrong, but it seems to me that Jerry has a "heap" allocator, which manages all Jerry memory, and based on a classic alloc / free mechanism. We would redirect all malloc / free requests to this allocator (e.g. replacing the #include <malloc.h> with our own). This is not a trivial task if we don't want to change libuv. We could also propose patches to libuv to suppor

[2015-09-03 07:02] zherczeg commented on #212
The explanation is here: http://webkit.sed.hu/node/29

I can copy here the configuration we are using if you are interested.

[2015-09-03 07:27] seanshpark commented on #213
Valgrind with massif tool shows dynamic memory usage,

1-1. build with libuv
[code]
1-2 run valgrind
[code]
1-3 show analysis
[code]

1-4 result graph
[code]
peak = 73,760

2-1 build with libtuv
[code]
2-2 ~ 2-3 is same as above

2-4 result graph
[code]
Peak = 72,848

[2015-09-03 07:31] seanshpark commented on #213
uv__read() in libuv and libtuv allocates 64K buffer for reading. in nuttx currently it's 2K. If change this value in linux to 2K, it'll be slower but will consume less memory. (need more test with network if this is ok)

when changed to 2K, this is the graph

[code]
peak = 22,912

[2015-09-03 07:55] wateret commented on #203
Closing as #214 landed.

[2015-09-03 07:55] #203 closed

[2015-09-03 09:58] seanshpark commented on #212
Yes, please attach the configuration. I'll study and try out Freya.

[2015-09-03 10:10] seanshpark commented on #213
`Gi` in the graph seems to be Giga Instructions, ref http://valgrind.org/docs/manual/ms-manual.html
[code]

[2015-09-03 10:17] zherczeg commented on #212
Here is my current config:

[code]

You need to use the latest Jerry, apply https://github.com/Samsung/jerryscript/pull/611, enable valgrind support, and compile iot.js in debug mode. Your libc might be different from eglibc-2.19, you should modify that rule then.

[2015-09-03 10:38] lemmaa commented on #211
@zherczeg @seanshpark  Let's try. It will be a good experiment at least. I think it's a great chance of experiment compared to other applications using heavy JS engine.

[2015-09-03 21:29] seanshpark commented on #212
@zherczeg , Thanks !

[2015-09-04 00:13] seanshpark commented on #213
as an experiment, wrap native functions in js2c.py and as expected peak is almost halved.
[code]

peak = 11,648

[2015-09-04 00:30] seanshpark commented on #213
another test. as built-in source is already wrapped just send `char*` eval() not through `String`.

[code]

peak = 9,984

[2015-09-04 01:26] seanshpark commented on #213
heap used of 9,984 is
[code]
useful-heap are composed from these allocations
[code]

[2015-09-04 01:52] seanshpark commented on #213
patch hash: 2d5ed51779ddbcfc2a3141e3d02a07ae4cad5126
and fix recv buffer size in tuv
[code]

[2015-09-07 00:47] wateret commented on #205
Closing as #216 landed

[2015-09-07 00:47] #205 closed

[2015-09-07 00:52] #200 closed

[2015-09-07 01:36] ILyoan opened #217 "GPIO 'write', 'read' event."
Our [GPIO API](https://github.com/Samsung/iotjs/wiki/IoT.js-API:-GPIO) does not declare 'write' and 'read' event for inform result of 'writePin' and 'readPin' operations, respectively.

From PR #215, request for the 'write' event was raised.

Let's discuss about it in this thread.

[2015-09-07 01:43] ILyoan commented on #217
According to the API ref. The prototype of `writePin` is:
[code]

Here callback function is optional, and only feeds error information via parameter since the pin number and value are obvious.

If we decide to provide 'writePin' event for result of the operation. prototype of the event will be:

[code]

The event will be emitted after writing operation finished successfully. Hence `error` paramete

[2015-09-07 01:52] ILyoan commented on #217
For view point of API consistency:

I think GPIO has similar operations with Filesystem which has `read(fd, buffer, callback)` and `write(fd, buffer ,callback)`. But file system does not provide 'read' and 'write' event.

[2015-09-07 01:52] ILyoan commented on #217
What about providing `watch(pinNumber)` and 'event: change' ?

[2015-09-07 02:21] chunseoklee commented on #217
For API consistency, providing xxxSync functions and removing async events  seem to be better.
But, if breaking API consistency is OK, it would be nice to provide many options(events) for user convenience.

[2015-09-07 02:56] ILyoan commented on #217
@chunseoklee  I think providing xxxSync functions for sync mode operation is necessary regardless of API consistency.

[2015-09-07 23:30] seanshpark commented on #213
With libuv, change buffer to 2K

    KB
10.66^                                                            #
     |                                                         :: #
     |                                                        :: :#      :@::
     |                                                   @:::::: :#   ::::@::
     |                                              ::   @: : :: :#

[2015-09-08 00:56] ILyoan commented on #217
@chunseoklee No problem with emitting 'writePin' event when writePin finishes.

A question makes me reluctant is that emitting 'writePin' event after `writePinSync()` sounds odd to me.
Also I'm not sure about emitting 'writePin' only after asynchronous 'writePin()' is OK.

[2015-09-08 01:08] chunseoklee commented on #217
Agree with emitting 'writePin' event only after async writePin: `event: writePin(pinNumber: Number, value:Boolean)`

[2015-09-08 06:32] ILyoan commented on #190
Close as we had tentatively come to an agreement on using template from offline meeting.
But we can roll back any time when it's clear that using template is inappropriate for embedded environment.

[2015-09-08 06:32] #190 closed

[2015-09-08 08:00] wateret opened #221 "Make IoT.js run test_net7.js correctly"
Related commit : #220

[2015-09-08 15:57] renatahodovan opened #222 "Assertion `_fd <= 0' failed in iotjs::GpioControl::~GpioControl"
###### Version:
    IoT.js rev : 7f7d150
    Jerry rev  : a00079e
    Build      : x86_64-linux, debug
###### Test case:
[code]

###### Backtrace:
[code]

[2015-09-08 16:02] renatahodovan opened #223 "Assertion `jholder.IsObject() || jholder.IsNull() || jholder.IsUndefined()' failed in iotjs::JObjectWrap::JObjectWrap"
###### Version:
    IoT.js rev : 7f7d150
    Jerry rev  : a00079e
    Build      : x86_64-linux, debug
###### Test case:
[code]

###### Backtrace:
[code]

[2015-09-08 16:09] renatahodovan opened #224 "Assertion `handler.GetArg(1)->IsBoolean()' failed in iotjs::___WritePin_wrap"
###### Version:
    IoT.js rev : 7f7d150
    Jerry rev  : a00079e
    Build      : x86_64-linux, debug
###### Test case:
[code]

###### Backtrace:
[code]

[2015-09-08 16:15] renatahodovan opened #225 "Assertion `handler.GetArg(0)->IsNumber()' failed in iotjs::___WritePin_wrap"
###### Version:
    IoT.js rev : 7f7d150
    Jerry rev  : a00079e
    Build      : x86_64-linux, debug
###### Test case:
[code]
###### Note:
[code]
###### Backtrace:
[code]

[2015-09-09 04:44] ILyoan commented on #225
Current GPIO implementation in master is not complete.
Let's see this after #215 landed.

[2015-09-09 04:50] ILyoan opened #226 "Throw `TypeError` when unexpected parameter is given for native handler."
Native handlers validates parameter by asserting it.

Let's make it throw `TypeError` when unexpected parameter is given instead of aborting.

Related to #198.

[2015-09-09 06:07] ILyoan opened #227 "Remove 'handler' from 'JHANDLER_FUNCTION()' macro"
Every single native handler defined using `JHANDLER_FUNCTION()` gives name for handler information 'handler' and it is expected this will not change in the future.

So I think we can just assume that there is declaration for 'handler' in native handler defined by 'JHANDLER_FUNCTION()' without giving the name.

Now:
[code]

After:
[code]

[2015-09-09 06:57] ILyoan opened #228 "Remove `jholder()` from ObjectWrap"
ObjectWrap is commonly used data structure in IoT.js but the property called '_jholder' is only used by TCP builtin.

I think it should be removed and TCP builtin need to be implemented in other way.

[2015-09-09 06:58] ILyoan commented on #226
On second thought, throwing `Error` would be better.

[2015-09-09 07:48] seanshpark opened #229 "shutdown() not supported by NuttX"
`socket shutdown()` function doesn't exist in NuttX nor has plan to implement in near future.
http://pubs.opengroup.org/onlinepubs/009695399/functions/shutdown.html
thus `uv_shutdown` will not work and may have to change current implementation.

[2015-09-09 08:48] ILyoan commented on #225
Closing as fixed by #215.

[2015-09-09 08:48] #225 closed

[2015-09-09 08:49] ILyoan commented on #224
Closing as fixed by #215.

[2015-09-09 08:49] #224 closed

[2015-09-09 08:51] ILyoan commented on #222
After #215.

The example produces:
[code]

[2015-09-09 08:55] ILyoan commented on #217
Closing

[2015-09-09 08:55] #217 closed

[2015-09-09 09:18] ILyoan commented on #221
Involves:
* Prevent server object from GC.
* Prevent client socket object from GC.

[2015-09-09 13:05] wateret commented on #193
@akiss77 @bzsolt miss clicked. Never mind!

[2015-09-14 04:03] seanshpark commented on #213
Profile with valgrind `DHAT`, http://valgrind.org/docs/manual/dh-manual.html

[code]

output is quite large so just adding max-live, tot-alloc of top-10

[code]

as `max-alive` is mostly same as `tot-alloc` value, most of the objects live till the end of program.

[2015-09-14 05:04] ILyoan commented on #227
Closing as #230 landed

[2015-09-14 05:04] #227 closed

[2015-09-14 05:04] ILyoan commented on #226
Closin as #230 landed

[2015-09-14 05:04] #226 closed

[2015-09-14 05:09] ILyoan commented on #223
Fixed by 29af2f4ba49e549459fa1df58b47e6337e477cc3.
Closing

[2015-09-14 05:09] #223 closed

[2015-09-14 05:11] ILyoan commented on #198
I belive this issue is fixed by 29af2f4ba49e549459fa1df58b47e6337e477cc3
Feel free to reopen if needed.

Closing.

[2015-09-14 05:11] #198 closed

[2015-09-14 06:40] #213 closed

[2015-09-14 11:16] ILyoan opened #233 "Kill child unit test process when timeout"
Current unit test checker halts without killing test processes when a test exceeds time limit.

Consequently resources opened by child test process remains not closed affecting following test.

[2015-09-15 01:28] #193 closed

[2015-09-15 01:57] wateret commented on #31
Closing as all the APIs are implemented

[2015-09-15 01:57] #31 closed

[2015-09-15 03:19] lemmaa opened #235 "Enable IoT.js snapshot on STM32F4"

[2015-09-15 03:20] seanshpark opened #236 "Integrate with libtuv and nuttx"
#### nuttx preparation
* [x] enable file system: fat
* [x] enable sdcard
* [x] import gpio from old patch
* [x] enable CCM
* [x] network routing table

#### libtuv on nuttx
* [x] test `file` apis on nuttx
* [x] test `conditional signal` on nuttx

#### jerryscript on nuttx
* [x] jerryscript in nuttx as interpreter
* [x] import `setjmp` / `longjmp` from jerryscript

#### iotjs with libtuv
* [x] enab

[2015-09-15 03:20] lemmaa opened #237 "Enable running unittests on STM32F4 target board"

[2015-09-15 03:21] lemmaa opened #238 "Extending coverage of IoT.js unit test"

[2015-09-15 03:21] lemmaa opened #239 "Making start up script for STM32F4"

[2015-09-15 03:22] lemmaa opened #240 "File read/write check on STM32F4 with NuttX"

[2015-09-15 03:26] lemmaa opened #241 "Prepare IoT.js sample applications"
- [ ] GPIO control with web browser
- [ ] ...

[2015-09-15 03:28] lemmaa opened #242 "Enhance build environment"

[2015-09-15 03:30] lemmaa opened #243 "Preparing iotjs.npm for node.js support"

[2015-09-16 18:44] mulderp opened #244 "Problem with build for stm32"
Hi,

I am trying to follow the instructions for the STM32F4 build.
I tried virtual machines with Ubuntu 14.04 and Debian Jessie.

In both cases I get:

[code]

when I try to run:

    root@vagrant-ubuntu-trusty-64:/home/vagrant/kconfig-frontends# ./bootstrap

Maybe the guide misses some `apt-get install ...` command?

[2015-09-16 18:51] mulderp commented on #244
solved when installing pkg-config http://stackoverflow.com/questions/8811381/possibly-undefined-macro-ac-msg-error

[2015-09-16 18:51] #244 closed

[2015-09-16 19:22] mulderp commented on #244
also useful to run make menuconfig:

         apt-get install ncurses
        apt-get install libncurses-dev

[2015-09-16 19:32] mulderp commented on #244
Another problems comes when doing `make` in the nuttx project:

     make: *** No rule to make target `lib/libuv.a', needed by `pass2deps'.  Stop.

[2015-09-17 00:15] seanshpark commented on #239
Can you explain more about this?

[2015-09-17 04:03] seanshpark commented on #244
Thanks, it'll help others with same problem.

[2015-09-17 05:26] lemmaa commented on #239
@seanshpark It means writing default boot script for NuttX, to make STM32F4 with IoT.js make do initialization and go to standby state after power on reset cycle.

[2015-09-17 09:30] seanshpark commented on #239
OK, Thanks.
I think there can be two ways. First can be run iot.js by adding to nsh start-up script. This will be simple and can do right away. And the second, replace user entry point from nsh_main to iotjs_main. This can give more memory to iotjs since we can remove nsh and its library, I guess, but needs testing.
Either way, giving start-up script file name should be fixed, something like `/mnt

[2015-09-18 01:01] ILyoan commented on #239
@lemmaa @seanshpark Sorry, but it's still unclear for me What "start up script" means for.
So does it refer the first javascript will be run after boot?

[2015-09-18 01:02] ILyoan commented on #242
@lemmaa Could you describe the goal of this issue in detail?

[2015-09-18 01:05] ILyoan commented on #240
Check list:
- [ ] fs.open()
- [ ] fs.close()
- [ ] fs.read()
- [ ] fs.write()
- [ ] fs.readFile()
- [ ] fs.writeFile()

[2015-09-18 01:12] ILyoan commented on #237
To accomplish this mission we need:
- [ ] Special build host machine connected with STM32F4 target device.
- [ ] Mechanism to trigger build action.
- [ ] Unit test descriptor that describes which target the test should be done.
- [ ] Modified build script.
  - [ ] Make connection with target device.
  - [ ] Copy test files.
  - [ ] Run test on target device.
  - [ ] Report result.
- [ ] Reporting

[2015-09-18 01:13] ILyoan commented on #241
https://github.com/Samsung/iotjs-app

[2015-09-18 01:58] ILyoan commented on #148
Closing as #231

[2015-09-18 01:58] #148 closed

[2015-09-18 02:15] ILyoan commented on #228
Closing as #234 landed.

[2015-09-18 02:15] #228 closed

[2015-09-18 02:50] wateret opened #247 "Write 'Developer Guide' page"
Developer Guide
 - [x] Developer Tutorial : https://github.com/Samsung/iotjs/wiki/Developer%20Tutorial

May need these pages
 - C/C++ modules

[2015-09-18 05:15] chunseoklee commented on #235
WIP version of snapshot in nuttx [WIP:snapshot](/chunseoklee/iotjs/tree/snapshot-rebase)

[2015-09-19 02:12] lemmaa commented on #239
@seanshpark Yes, the second one, replace `nsh` with IoT.js, is better. In my original intention, "start up script" means the NuttX boot script as in your first approach, because it's most simple way. Anyway, in general situation of production, removing `nsh` and get more memory is right choice I guess.

In that case we may need another "start up script" for IoT.js itself as you mentioned. Actually

[2015-09-19 02:15] lemmaa commented on #242
@ILyoan Just simplifying the build process for NuttX target. Build IoT.js, build NuttX image, download...

[2015-09-20 03:31] GrowingM opened #250 "A problem in building the target."
When I build the target with ./tools/build.py, there is a problem as follows:

Cloning into 'deps/http-parser'...
remote: Counting objects: 1360, done.
remote: Compressing objects: 100% (3/3), done.
remote: Total 1360 (delta 0), reused 0 (delta 0), pack-reused 1357
Receiving objects: 100% (1360/1360), 279.94 KiB | 65.00 KiB/s, done.
Resolving deltas: 100% (910/910), done.
Checking connectivity...

[2015-09-21 01:28] ILyoan commented on #206
@wateret Can we close this?

[2015-09-21 01:28] ILyoan commented on #207
@wateret Can we close this?

[2015-09-21 01:33] ILyoan commented on #47
Closing as resolved.

[2015-09-21 01:33] #47 closed

[2015-09-21 04:51] chunseoklee commented on #250
@GrowingM It is solved now on master branch.

[2015-09-21 05:27] GrowingM commented on #250
Thanks a lot!

[2015-09-21 05:28] GrowingM commented on #250
@chunseoklee Thanks a lot!

[2015-09-24 05:38] ILyoan commented on #233
Close as fixed by #246

[2015-09-24 05:38] #233 closed

[2015-09-24 05:39] ILyoan commented on #221
Related PR #254

[2015-09-25 00:36] seanshpark opened #256 "Need to check uv_loop_close return value"
As for patch #252 now closes loop but needs to check the return value.
`uv_loop_close` may return `UV_EBUSY` if some handle is still active.

[code]

But with this change, most of the unit test fails to pass. We need to check all of them.

[2015-09-25 00:39] seanshpark opened #257 "Memory leak of Environment::_env"
There is no `delete Environment::_env;` for the code

[code]

[2015-09-25 01:14] seanshpark commented on #229
I can think of these cases.
* Add `shutdown()` to NuttX:
   * It the tail wagging the dog. Should we?
* Redesign `net` without using `shutdown()`
   * May have to drop compatibility with node.js
* Move to platform that supports `shutdown()`
   * So, which one? `mbed` also doesn't seem to support `shutdown()`

embed as of today, supports these IP APIs (https://github.com/ARMmbed/sal)
[code]

[2015-09-25 02:26] ILyoan commented on #256
PR #254 fixes this.

[2015-09-25 02:29] ILyoan opened #258 "Not implemented required uv API on tuv"
#254 need following uv API for releasing active resources during finishing program.

* uv_is_closing()
* uv_work()

[2015-09-25 02:32] ILyoan commented on #257
That should be released just before program exit.

[2015-09-25 03:45] seanshpark commented on #258
Cannot find uv_work() in libuv. Do you mean uv_queue_work() ?

[2015-09-25 04:24] seanshpark commented on #250
Closing since solved.

[2015-09-25 04:24] #250 closed

[2015-09-25 04:31] seanshpark opened #259 "console Print() compile warning"
JHANDLER_CHECK() macro returns boolean in JHANDLER_THROW_RETURN macro while Print() is void

[2015-09-25 05:43] wateret commented on #207
Closing as no plan to implement this API in near future. Will be reopened when needed.

[2015-09-25 05:43] #207 closed

[2015-09-25 05:43] wateret commented on #206
Closing as no plan to implement this API in near future. Will be reopened when needed.

[2015-09-25 05:43] #206 closed

[2015-09-25 05:45] wateret commented on #247
Completed first draft of [Developer Tutorial](https://github.com/Samsung/iotjs/wiki/Developer%20Tutorial).
C/C++ modules not included.

[2015-09-25 05:45] #247 closed

[2015-09-30 08:44] GrowingM commented on #117
[ISSUE]
Could I run IoT.js in Raspberry1?
When I flash iotjs into the board, there is a problem leading the iotjs could not running:

./iotjs: /lib/arm-linux-gnueabihf/libc.so.6: version `GLIBC_2.17' not found (required by ./iotjs)

What should I do?

[2015-09-30 09:36] ILyoan commented on #258
@seanshpark
Sorry It was uv_walk().

[2015-09-30 11:19] seanshpark commented on #117
@GrowingM , thank you for the report.
GLIBC problem is related with the compiler you are using.
This problem itself can be solved by using gcc version 4.6.
But both IoT.js and JerryScript will not compile below 4.7 since it depends on compiler options.
You can try with new `RASPBIAN JESSIE`. I haven't tried this so not sure it will work.
(https://www.raspberrypi.org/downloads/raspbian/)

[2015-09-30 11:42] seanshpark commented on #258
Added to libtuv master done.

[2015-10-01 01:00] chunseoklee opened #260 "AllocBuffer returns NULL"
```AllocBuffer(length)``` can return NULL when ```length``` eqauls to 0.
In ```AllocBuffer(length)``` , malloc is used to get new mem space.
According to linux man page, "If size is 0, then malloc() returns either NULL, or a unique pointer value".
Current AllocBuffer asserts that _buffer should not be NULL.
In Ubuntu, unique pointer is returned, thus iotjs works fine.
However, in nuttx, malloc of

[2015-10-01 01:11] chunseoklee commented on #117
Or you can build with static option like the following:

[code]

[2015-10-01 03:16] GrowingM commented on #117
@seanshpark Thanks. I have tried this with new RASPBIAN JESSIE. GLIBC version problem is solved.
But there are new problems：
pi@raspberrypi:~$ ./iotjs
Segmentation fault

This problem can be caused by reasons that I can't figure out.

[2015-10-01 06:11] chunseoklee commented on #235
For nuttx build, do the following :
[code]

[2015-10-01 10:16] ILyoan commented on #117
@GrowingM For what it's worth, try with
[code]

I'm bot sure, but by this, the output binary will be statically linked with needed libraries, might solve the problem.

[2015-10-01 12:28] GrowingM commented on #117
@ILyoan I'm sorry for that. The Segmentation fault is still exist. Is it because the cause of the Raspberry's memory allocation mechanism is different from ubuntu14.04?

[2015-10-01 15:15] diorahman commented on #117
@GrowingM you can try the prebuilt (static) iotjs from here: http://w.blankon.in/iPa

Please tell me if it works.

[code]

And here is the build config:

[code]

[2015-10-02 06:59] #258 closed

[2015-10-02 07:00] ILyoan commented on #256
Closing as #254 landed.

[2015-10-02 07:00] #256 closed

[2015-10-02 07:01] #222 closed

[2015-10-02 07:01] ILyoan commented on #221
Fixed via #254. Closing

[2015-10-02 07:01] #221 closed

[2015-10-04 02:17] GrowingM commented on #117
@diorahman It doesn't work. I have tried to run iotjs with the prebuilt iotjs, also with my own building with the build config you said.
The Segmentation Fault is still exist.

My host machine is ubuntu-14.04.2  64-bit. If it should build in 32-bit machine?

[2015-10-04 07:14] diorahman commented on #117
What does strace tell you?

[2015-10-04 07:34] GrowingM commented on #117
'''
execve("./iotjs", ["./iotjs"], [/* 18 vars */]) = 0
brk(0)                                  = 0x1811000
uname({sys="Linux", node="raspberrypi", ...}) = 0
access("/etc/ld.so.nohwcap", F_OK)      = -1 ENOENT (No such file or directory)
mmap2(NULL, 8192, PROT_READ|PROT_WRITE, MAP_PRIVATE|MAP_ANONYMOUS, -1, 0) = 0xb6fc8000
access("/etc/ld.so.preload", R_OK)      = 0
open("/etc/ld.so.preload", O_RD

[2015-10-05 07:42] seanshpark commented on #117
@GrowingM ,
As Raspberry Pi core is ArmV6, it may not execute correctly when built with current configuration.
I've tried with giving with `-march=armv6` but failed to compile JerryScript.
So for current state we cannot execute IoT.js in Raspberry Pi one.

[2015-10-05 09:03] #259 closed

[2015-10-06 04:04] #260 closed

[2015-10-07 02:31] ILyoan opened #266 "Socket close() is called twice sometimes."

[2015-10-07 05:18] #266 closed

[2015-10-07 05:43] seanshpark commented on #236
I think it's ok to close. If something is missing, re-open anytime.

[2015-10-07 05:43] #236 closed

[2015-10-11 06:40] GrowingM commented on #117
@seanshpark Yes. I have try IoT.js with Raspberry Pi 2. It can execute IoT.js with ArmV7 architecture.

[2015-10-12 05:48] #257 closed

[2015-10-13 10:34] ILyoan opened #269 "Remove previous build directory before start new build."
Currently, build system intentionally reuses output from previous build to reduce build time.
But sometimes it affects build result especially build option was different from previous one.

As build process does not consume much time. I think we can clean previous build result up and trigger clean build.

[2015-10-13 10:38] ILyoan opened #270 "Rearrange functions of http server module to reduce memory consumption."
There are many event handler functions in `connectionListener()` handler.
Becuase they are inner functions, every time new connection is made, new function object will be created.
We can move that functions outside of the listener so that only one instance of function object for each handler is needed.

[2015-10-13 13:34] lemmaa commented on #269
@ILyoan , I think 'make clear' is better in such case. :)

[2015-10-15 07:55] ILyoan commented on #269
@lemma I think make clean is already there.
What I'm saying is about using "build.py" tools that automates build processes for easy build.
And I'm suggesting something like 'make clean' before building project when using the tool by default.

[2015-10-15 23:22] seanshpark commented on #269
@ILyoan , I think calling `make clean` before building  will clean the problem and current build time is just several minutes. But before doing that, can you describe what `especially build option was different from previous one` is?
We might solve the problem in another way so that not hurt the build time.

[2015-10-16 02:28] ILyoan commented on #269
@seanshpark It's weird it takes less than 10 seconds to build in my PC. only build time, excluding unit tests.

Anyway, we can also 'make clean' before start build. but as "build.py" creates build directory for out of source build. make clean also will delete almost every file in that directory except CMake caches. so I think remove hole directory at once and start new build from the beginning is

[2015-10-18 23:01] seanshpark commented on #269
I just want to know what you are talking about `But sometimes it affects build result especially build option was different from previous one.`

[2015-10-19 00:53] ILyoan commented on #269
@seanshpark We can pass CMAKE options and make options via 'cmake-option' and 'make-flags' respectively when building with "build.py". And putting different options for each build sometimes give me back not  a expected build result appliying previous options. I think the problem should occur during mis-treating these parameters but I'm not sure which part is the problem.
Caching in build.py script

[2015-10-19 06:12] lemmaa commented on #269
@ILyoan, I think it's not bad that we have alternative way to remove all outputs at once, not only controlled by 'make'.

[2015-10-21 08:34] jiangzidong opened #272 "Implement GPIO by libmraa, which can directly operate the board pins in Edison Board and others"
IoTjs is designed for iot device, so the GPIO is one of the main features. Now the linux gpio has a general impl, which directly operate the gpios in kernel. While the mapping between kernel's gpio and physical gpio in board is difficult and varies with different embedded board, so we propose to import mraa into IoTjs and let mraa handle the mapping work. (https://github.com/intel-iot-devkit/mraa)

[2015-10-21 10:10] seanshpark commented on #272
@jiangzidong , Thank you. I think it's nice to use `mraa` for gpio control. Hope to see others opinion also.
I think it's ok to discuss in this issue as it is created and when ready, make a PR referencing this.

I glanced your changes and wondered if we can use `target-board` option to distinguish (for same intel+linux) or (I'm not used to mraa) can we use mraa to other core + os ?
maybe putting i

[2015-10-21 13:44] jiangzidong commented on #272
@seanshpark, Thank you for your advice.
1) I think the code in `iotjs.cmake` and `iotjstuv.cmake` can run correctly whatever the mraa is enabled or not. If it is not enabled, the mraa.cmake will not included, so `MRAA_INCDIR` and `MRAA_LIB` is undefined and empty. But I am a newbie of cmake, I'm not sure whether there is hidden trouble.

2)I thought about the `target-board` before, but mraa is cro

[2015-10-21 14:01] seanshpark commented on #272
@jiangzidong , for 1) it seems OK to add  `MRAA_INCDIR` and `MRAA_LIB` as you wrote. I think you've already checked and we can also check when PR is available.
2) So MRAA is available to most linux then letting it as an option as you proposed seems reasonable.
I wish to read comments from others and if you are not in a hurry we can wait for a day or two for the PR. Thanks.

[2015-10-21 22:21] seanshpark commented on #272
@jiangzidong , I was thinking a while about adding `mraa` in `deps` and it should be considered as optional and removed, as IoT.js  primary targets devices with RTOS and less than a mega bytes of memory or so and cannot use `mraa`.  And thus for 1) adding `MRAA_INCDIR` and `MRAA_LIB` also to an option. Current code may mislead that `mraa` is a default library.

[2015-10-22 02:39] jiangzidong commented on #272
@seanshpark
1) Yes, I can put `MRAA_INCDIR` and `MRAA_LIB` into a `if-else`block in `iotjs.cmake`

2) About the `deps` problem, do you mean that the iotjs project **don't** compile the libmraa, and users who need to use should prepare the .so and .h (for example, put those file into a specific dirs). When the mraa enabled, iotjs will search the related files in the dir and link to it. Am I right?

[2015-10-22 04:09] seanshpark commented on #272
@jiangzidong , 2) Yes, correct. As you wrote this can be inconvenient and may bring errors by version mismatch. So I want to hear from others.

[2015-10-22 09:58] ILyoan opened #273 "Document build.py and have it comply the doc."
* [x] Complete [document](https://github.com/Samsung/iotjs/wiki/Build-Script)
* [x] Implement build.py according to the doc.

[2015-10-27 00:52] jiangzidong commented on #272
@seanshpark Should I PR now? We can using the external-include-dir and external-shared-lib in #273 (https://github.com/Samsung/iotjs/wiki/Build-Script) to put the mraa .h and .so files.

[2015-10-27 08:20] huxinx opened #274 "To enable LTO for iotjs."
The current IoT.js is build without LTO.
From my watching, after enable LTO,
we get a iotjs binary with shrunk binary size and boosting performance.

Here is SunSpider 1.0.2 data I collected on ubuntu 15.04 32-bit, ATOM system,
first column is LTO ON, the second is LTO OFF data.

3d-cube.js.......................1.475........9.782
access-binary-trees.js.....1.167........4.998
access-fannkuch.js...

[2015-10-27 11:38] egavrin commented on #274
LTO build is a very useful feature. So, I'd strongly vote for adding this by default.
Could you please create pull request enabling LTO?

[2015-10-27 12:19] bzsolt commented on #274
We investigated this issue nowadays, and the conclusion was the same as you wrote.
I agree with @egavrin, it would be good to enable it.
I've created a PR for this, please check it: #275

[2015-10-27 12:27] egavrin commented on #274
@bzsolt great!

[2015-10-28 22:49] seanshpark commented on #272
@jiangzidong , last comment I've wrote disappeared. strange, it's second time. anyway, sorry for late response. we had a f2f meeting last week in our office and ILyoan will prepare something so that you can merge this. can you please wait for sometime(don't know exactly how long) ?

[2015-10-28 22:49] seanshpark commented on #272
@jiangzidong , sorry I've closed and reopened. clicked wrong button.

[2015-10-28 23:00] seanshpark commented on #274
Have you tried building and testing for NuttX / STM32F4-discovery?

[2015-10-29 00:54] jiangzidong commented on #272
@seanshpark Never mind. Could you please remind me when your preparations are done. Thanks

[2015-10-29 01:13] seanshpark commented on #272
@jiangzidong , Yes sure.

[2015-10-29 23:50] chunseoklee opened #277 "Discussion about current reference target board(STM32F4)"
I would like to hear opinions about our ref target board.
Based on my personal (demonstration) experience in OSCON/SOSCON, most developers were not interest in STM-like board. The most mentioned board is ARDUINO.
If we switch(or extend) our ref board to more popular board like arduino, it would be easy to distribute iot.js.
To do that, we have to resolve the following issues:

1. Memory : other bo

[2015-10-30 02:22] seanshpark commented on #277
As reference board, I think it is ok using STM boards.
For expanding supporting boards, Arduino is a good device but needs issues to solve... so search a little bit and got this;
1. Expanding RAM with SPI: http://playground.arduino.cc/Main/SpiRAM . We can use this memory for JerryHeap with some(or lots of) modification. Speed will definitely degrade.
2. There is multi-loop experiment: https://www.

[2015-10-30 05:15] samuel-xu commented on #277
Is it possible that “Intel® Edison Kit for Arduino” can be one of the targets?

Some pros, e.g:
•         Easy to get from market(e.g. https://www.arduino.cc/en/ArduinoCertified/IntelEdison#toc3) , has Arduino capacity and beyond
•         No need to expand memory  ( the only possible extra need is a Edison IO Expansion Shield for Arduino http://www.avrcircuit.com/shop/product.php?id_product=29,

[2015-10-30 05:46] huxinx commented on #274
I do not have STM32F4-discovery at this moment. For my experience, on x86, with gcc 4.9, just enable jerry_cmake_opt.append('-DENABLE_LTO=ON' is fine. With gcc 4.8, need to send extra flag '-flto' , other introduces link error. Maybe you can try to use another version gcc.

[2015-10-30 05:54] zherczeg commented on #277
Definitely porting Jerry to Edison is easy, since it has 1G RAM. But our focus is systems with very low memory (64-128K), where no other engine (V8, etc.) is capable of running. Is there other Edison Kits with such amount of memory?

[2015-10-30 07:21] chaolaipi opened #278 "nuttx minicom /dev/ttyACM0 failed"
with stm32f4discovery board, i cannot use minicom to connect to nsh.

my test host is ubuntu14.04. in the /dev directory, there is no file named ttyACM0.

did i miss any build configuration or else?

[2015-10-30 07:27] wateret commented on #278
Did you connect micro usb cable?
Writing the image to the board would be enough with mini cable, but you need a micro cable for minicom.

[2015-10-30 07:35] chaolaipi commented on #278
I have connected micro usb to my host.

[2015-10-30 07:53] chunseoklee commented on #278
@chaolaipi Did you follow the instruction in https://bitbucket.org/seanshpark/nuttx/wiki/Home ?

[2015-10-31 19:02] ILyoan commented on #278
We want to help you with the problem but we need more information to figure out what's going on.

With only given information, I'd list couple of suspicious reasons perhaps lead the problem.

* nuttx configuration might not match your actual system.
* Our configuration assumes there is BB extension to enable networking. If you don't have extension nuttx would failed to boot.
* USB port of your boa

[2015-11-01 01:51] diorahman commented on #277
Good news on supporting Arduino!

[2015-11-01 23:59] seanshpark commented on #278
@chaolaipi , I've updated [Build for NuttX](https://github.com/Samsung/iotjs/wiki/Build-for-NuttX) page about USB connection but maybe late for you. Hope you find the problem.

[2015-11-02 02:32] huxinx commented on #274
https://github.com/Samsung/iotjs/compare/master...huxinx:lto

@bzsolt @seanshpark @egavrin
Here is my solution, add a switch for lto in build.py
the default config is still LTO=OFF,
turn on lto with --lto

[2015-11-02 03:05] chaolaipi commented on #278
thank you for @seanshpark @ILyoan , i only have a stm32f4-discovery, and without BB extension. I will get a BB extension and go on ...

[2015-11-02 03:07] chaolaipi commented on #278
@chunseoklee  I have followed the instruction on  your page.

[2015-11-02 07:15] chaolaipi opened #280 "error: 'struct addrinfo' has no member named 'ai_addr'"
i build with command  ./tools/build.py --buildtype=release --target-arch=arm --target-os=nuttx --nuttx-home=/home/wenchao/harmony/nuttx/nuttx --no-checktest --no-init-submodule

and i get this error.

/home/wenchao/harmony/iotjs/src/iotjs_module_dns.cpp: In function 'void iotjs::AfterGetAddrInfo(uv_getaddrinfo_t*, int, addrinfo*)':
/home/wenchao/harmony/iotjs/src/iotjs_module_dns.cpp:42:16: error:

[2015-11-02 07:20] seanshpark commented on #280
@chaolaipi , please use `--tuv` option for the moment.

Time to change to `tuv` for default? Or we can add dummy `struct addrinfo` to old nuttx patch.

[2015-11-02 07:24] chaolaipi commented on #280
@seanshpark ok, thank you

[2015-11-04 00:38] ILyoan opened #283 "Supporting libtuv as base async I/O library and removing libuv"
There are two options for asynchronus I/O supporting - libuv and libtuv.

Current build system takes libuv by default, but we are maintaining libtuv more actively. For example, we can build IoT.js for arm-nuttx-stm32f4dis with libtuv, while can not with libuv.

I think it is reasonable to select libtuv as default async I/O library, and furthermore, even removing libuv from our source tree is also

[2015-11-04 01:58] seanshpark commented on #283
Agree, +1

[2015-11-04 04:28] ILyoan opened #284 "Have snapshot branch merged."
Using snapshot feature is inevitable to run IoT.js on STM32F4.

The development branch is:
https://github.com/Samsung/iotjs/tree/snapshot-dev

Let's make it merged

[2015-11-04 05:18] Seo-Young opened #285 "Logo creation"
Just few minutes ago, I suggest to collaborate for an official logo of JerryScript. https://github.com/Samsung/jerryscript/issues/702

Same suggestion for IoT.js.
Please feel free post your idea into this thread.

[2015-11-04 08:11] seanshpark commented on #272
@jiangzidong , please look inside #281. If you need something, please add comments to #281

[2015-11-04 09:28] lemmaa commented on #283
Agree, +1

[2015-11-04 11:50] jiangzidong commented on #272
@seanshpark Thanks, #281 already provides the external-include-dir and external-shared-lib options.
After it merge, My patch will 1) add the mraa option, 2) let the users to prepare the corresponding header and shared lib, which are matched to the lib version in their target board.

[2015-11-05 03:03] ILyoan commented on #272
@jiangzidong Your approach corresponds with the intention of #281.

We are cautious about adding options to build script, since while adding an option is relatively easy, removing one might difficult for compatibility issue. So, in my opinion, It would be better to choose GPIO implementation via compile-flag. Afterward mraa become prevalent, it'll still no late to add an option for it.

And `exter

[2015-11-05 23:22] seanshpark opened #287 "deps/jerry fails to build in 32bit"
Got this error in Ubuntu 32bit, code: 80ebc7d94a8662d1e8bda0d7b095772405793aae
[code]
`${CMAKE_SYSTEM_PROCESSOR}` is `i686` but was `x86`

[2015-11-06 00:37] jiangzidong commented on #272
@ILyoan I agree with you.
`compile_flag` can send "MRAA marco define" to compiler, and `link-flag` can set "-Lxxx" “-lxxx” to link libmraa

[2015-11-06 03:40] ILyoan commented on #272
@jiangzidong Thanks.
#281 is landed, please go ahead with your patch.
Hope to see mraa landing :)

[2015-11-06 04:05] ILyoan commented on #283
Apparently, #281 was landed and it already regards tuv as primary library.
So the first proposal has been already applied.

[2015-11-06 06:22] jiangzidong commented on #287
@seanshpark sorry that I didn't notice this issue. I just opened a PR #288 to fix it. I choose to change the set(CMAKE_SYSTEM_PROCESSOR i686) in cmake/config/i686-linux.cmake to set(CMAKE_SYSTEM_PROCESSOR x86).

Should I close that PR?

[2015-11-06 08:55] jiangzidong commented on #272
@ILyoan I met a problem when link mraa using `--link-flag`
--link-flag use the -DCMAKE_EXE_LINKER_FLAGS to pass the flag, while the library order is wrong.
[code]

My command is as follows
[code]
will link error, in ./build/i686-linux/debug/iotjs/CMakeFiles/iotjs.dir/link.txt
[code]
the `-lmraa` appear before liblibiotjs, it should after that.

if I modify the libtuv.cmake, `  target_link_librarie

[2015-11-08 21:50] seanshpark commented on #287
@jiangzidong , I think using `uname -p` that is `i686` would be better. You can close #288.

[2015-11-09 01:50] ILyoan commented on #272
@jiangzidong I see, you are right.
Could you add `external_shared_lib` feature in your PR with separate commit?

[2015-11-09 08:48] ILyoan opened #291 "Hide build.default.config"
`build.default.config` file provides default configuration for building this project.

After a build made, build.py produce `build.config` by copying from `build.default.config`.
Afterwards, build.py will use `build.config` by default.

That, there is a change that a developer regards `bulid.default.config` as default configuration while actually `build.config` is used for the purpose.

To prevent

[2015-11-09 08:50] ILyoan opened #292 "Make merge.py use build.default.config"
`merge.py` runs `build.py` to build project and it might use `build.config` file for take configuration, which probably be altered by programmer. That `merge.py` would run build test with a binary built by a non-standard configuration.

In my opinion, It's safe to use `build.default.config` for merge test build.

[2015-11-09 08:52] ILyoan commented on #284
PR: #286

[2015-11-09 08:55] ILyoan commented on #160
@leenux Is the problem still there?

[2015-11-09 08:56] ILyoan commented on #117
@seanshpark Could we close this issue?

[2015-11-09 08:57] ILyoan commented on #53
I think this can be close now.
Feel free to reopen if needed.

[2015-11-09 08:57] #53 closed

[2015-11-09 09:05] ILyoan commented on #135
I could not found the effective way to prevent it.
Guide not to create an instance of `JObjectWrap` as local variable.
(https://github.com/Samsung/iotjs/wiki/Inside%20IoT.js#jobjectwrap)

Close as won't fix.

[2015-11-09 09:05] #135 closed

[2015-11-09 09:07] ILyoan commented on #284
Close as #286 landed

[2015-11-09 09:07] #284 closed

[2015-11-09 10:38] seanshpark commented on #117
right after #128 which depends on #276 is closed.

[2015-11-09 10:56] jiangzidong commented on #272
@ILyoan @seanshpark Could you please review the PR #295. Thanks!

[2015-11-09 11:53] gridnow opened #296 "libtuv uv__eventfd2 failed at MIPS"
libtuv uv__eventfd2 failed at MIPS , which is called at uv__async_eventfd durring initializing process.

[2015-11-09 23:37] seanshpark commented on #296
@gridnow , can you please tell me how to reproduce this?
Compiler version, how to get that compiler, host, target, etc, so that I can check.

[2015-11-10 04:57] gridnow commented on #296
@seanshpark , I found out that uv__eventfd2 faile on MIPS is caused by invalidate  UV__O_NONBLOCK value, patch file :https://github.com/gridnow/libtuv/commit/f11fcee13dc492ffeb3f2e169413b140d12d767a

Could this patch be merged into trunck?
And I will work out additional patchs for running iotjs on MIPS (compiler configure, options ,etc) .

[2015-11-10 08:06] Seo-Young commented on #285
![image](https://cloud.githubusercontent.com/assets/5035570/11057318/5ae6db88-87cd-11e5-8133-f63bbc33b020.png)

[2015-11-10 08:11] Seo-Young commented on #285
![image](https://cloud.githubusercontent.com/assets/5035570/11057403/fd610942-87cd-11e5-9c58-09055ef3403e.png)
This is suggested by @ILyoan .

[2015-11-10 09:46] seanshpark commented on #296
@gridnow , yes please post a PR :)

[2015-11-10 10:57] gridnow commented on #296
@seanshpark but waht is PR?
thanks!

[2015-11-11 02:22] gridnow commented on #296
@seanshpark done!

[2015-11-11 06:29] #296 closed

[2015-11-11 06:34] gridnow opened #297 "compile function too slow"
I have traced to this function which take so much time (about 1 second)on MIPS at starting up a simple hello world:

212   Native.prototype.compile = function() {
213     // process.native_sources has a list of pointers to
214     // the source strings defined in 'iotjs_js.h', not
215     // source strings.
216     var source = process.native_sources[this.id];
217     var fn = process.compileNativ

[2015-11-11 11:09] gridnow opened #298 "I need more memory than 256KB"
HI,
We need memory more than 256kb in our program(100MB is better). Does iotjs provide any convenience method to set memory heap limitation? Thanks.

[2015-11-11 23:19] seanshpark commented on #298
@gridnow , memory is limited (up to 256KB) by JerryScript, it's byte code structure (http://samsung.github.io/jerryscript/internals/)

[2015-11-13 02:36] gridnow commented on #298
but more memory is needed in our test case.....

[2015-11-13 03:52] seanshpark commented on #298
It's current design decision, IoT.js and JerryScript aims for small devices with several hundred kilo bytes of memory. If you want to use 100MB of memory, I recommend you to use node.js.
BTW, what is your test case?

[2015-11-13 04:36] gridnow commented on #298
Got it, but if there's any method to define the memory size for different scenario?

[2015-11-13 05:28] seanshpark commented on #298
It would be better to add an issue to JerryScript.

[2015-11-13 06:12] zherczeg commented on #298
It is possible to control the available memory, but it cannot be set to 100MB at the moment because JerryScript uses 16 bit compressed pointers. With 8 byte aligned pointers, the maximum addressable memory is 512KB. I think setting the alignment to 16 byte may waste too much memory, and we would still only have 1MB.

[2015-11-13 06:17] lemmaa commented on #298
Hi @gridnow , what's your test case? Is it really need 100MB of memory allocation directly in JavaScript engine itself or can be solved by other way using special purpose module?

[2015-11-13 08:32] #272 closed

[2015-11-16 04:07] goodhi opened #299 "iot에 대해서 이제 막 관심을 갖은 초보입니다."
임베디드 프로그래밍 경험이 없는  웹프로그래머입니다.

iot에 대한 관심이 있던 중 iotjs를 알게 되어 이렇게 찾아왔습니다.

자바스크립트 기반이라는 점이 저에겐 다른 언어를 배우지 않아도 되는 장점이라서

관심을 갖게 되었습니다.

완전 초보인 저로서는 - 개념조차도 모르는 저로서는 - 지금 있는 도규멘트와 예제로는

iotjs 를 어떻게 활용해야 할지 감이 잡히지 않습니다.

일단 컴퓨터에 가상 머신을 설치해서 ubuntu를 설치한 후 헬로 월드까지 확인은 해봤는데

더이상 뭘 어떻게 해야 하는지 모르겠네요.

기본도 없는 저의 질문이 어이없을 지도 모르겠지만 용기내서 질문해봅니다.

아래는 제가 공부하고자 하는 방법인데 맞는 지 궁금합니다. 개인이 study할 수 있는 최적의

방법을 추천해주시면

[2015-11-16 05:12] seanshpark commented on #299
좋은 질문입니다. 지금 생각하는 것을 실천에 옮겨보는것도 좋아 보입니다.
GPIO에 계전기를 통해 전등을 붙이고 핸드폰 웹 브라우저에서 전등 키고 끄고를 해 보는 것도 생활에 별 도움은 안될수 있으나 재미는 있을것 같습니다.

[2015-11-17 08:02] chunseoklee commented on #297
@gridnow Recently, snapshot(preparsed bytecode) feature is merged to master branch. It could reduce compile time. Please check it out.

[2015-11-21 05:26] zhongjixiuxing opened #304 "How to building on stm32F103xxx"
Hi guys:
      I have a stm32F103c8t6 development board, and i don't know how to building base stm32F103XX chip.
     I read some this project document, and i see Getting Started section, on it write :
           " H/W boards
                 Current supporting
                      STM32F4-Discovery + BB
                      Raspberry Pi 2
                 Plan to support
                      S

[2015-11-23 06:59] jiangzidong opened #305 "build iotjs for nuttx failed: can't find <netdb.h>"
Hi, I follow the wiki: https://github.com/Samsung/iotjs/wiki/Build-for-NuttX to build iotjs, but met some problems.

In the last step of `3. Build IoT.js with libuv and JerryScript`, after
`./tools/build.py --buildtype=release --target-arch=arm --target-os=nuttx
--nuttx-home=/XXXX/nuttx/nuttx --no-check-test`, it shows error: **cannot find netdb.h**
Have you met the problems before? and how to sol

[2015-11-23 07:44] seanshpark commented on #305
@jiangzidong , please follow https://github.com/Samsung/iotjs/wiki/Build-for-Nuttx-(new) page to build, but still options are not updated to latest IoT.js build system, so please check `build.py`

[2015-11-23 13:54] tczene opened #306 "Make IoT.js to use ccm memory on stm32f4board"
I succesfully moved the heap and stack of nuttx and the heap of IoT.js to ccm. The stack of IoT. js and the heap of Jerryscript stayed on sram. Now we can use ~100kb of memory for Jerry heap on stm32f4 board. We couldn't move the IoT.js's stack to ccm so far, because there are only 11kb on ccm left. If we could decrease the stack size of IoT.js then we could use the entire sram as Jerry heap.

[2015-11-23 14:10] tczene commented on #306
Here are the patches:
[IoT.js](https://github.com/Samsung/iotjs/pull/307)
[JerryScript](https://github.com/Samsung/jerryscript/pull/732)
[nuttx](https://bitbucket.org/seanshpark/nuttx/pull-requests/1/omit_memory_section_from_binary/diff)
[nuttx apps](https://bitbucket.org/seanshpark/nuttx_apps/pull-requests/1/added_build_options/diff)
[nuttx arch](https://bitbucket.org/seanshpark/nuttx_arch/pull-r

[2015-11-24 01:00] seanshpark commented on #306
@tczene , you've done a great work.
[code]
Seems that `data` and `bss` are moved to CCM if possible, so, have you tried with some network test?

[2015-11-24 01:34] jiangzidong commented on #305
@seanshpark I tried the new method, build the nuttx.bin and st-flash it. shows: `2015-11-24T09:31:03 INFO src/stlink-common.c: Flash written and verified! jolly good!`

But when I connect my board with host PC, there is no ttyACM0 or other ttyUSBxxx in /dev. ( I am using stm32f407 discovery and ubuntu 14.04. ) Which board do you use?

[2015-11-24 02:50] ILyoan commented on #292
Closing as #293 landed

[2015-11-24 02:50] #292 closed

[2015-11-24 02:50] ILyoan commented on #291
Closing as #293 landed.

[2015-11-24 02:50] #291 closed

[2015-11-24 02:51] ILyoan commented on #273
Completed. Closing

[2015-11-24 02:51] #273 closed

[2015-11-24 04:02] seanshpark commented on #305
@jiangzidong , I use [STM32F4-Discovery + Base board](http://www.st.com/web/catalog/tools/FM146/CL1984/SC720/SS1462/PF255417?sc=stm32f4dis-expansion) .
When you connect to Mini USB, no device will appear in /dev folder. Please connect micro USB on the other side of the board. It should appear /dev/ttyACM0. I also use USART0 for debug logs. So 3 connections in total. Not pretty.

[2015-11-24 04:21] jiangzidong commented on #305
@seanshpark I connected the micro usb and nothing new appeared in /dev. Is that any specific menuconfig needed before building the nuttx? I typed `./configure.sh stm32f4discovery/iotjs`, and leave other configs as default value.

[2015-11-24 04:28] seanshpark commented on #305
@jiangzidong , configure is ok. Did you perhaps connect the Ethernet cable and maybe also micro SD card ? If network is not connected it may take a while to boot up.
For the network IP, please set
[code]
to some valid address.

[2015-11-24 04:38] jiangzidong commented on #305
@seanshpark I don't connect micsoSD or Ethernet (I only have the discovery board, without the extension board). so I don't change the ADDRs.
After flashing the buttx.bin, the **red user led** is on, is that correct?

During the building, I found there is several things in the wiki need to modified.
1, while clone the nuttx code, there should not `.git` in the url. `git submodule add https://bitbuc

[2015-11-24 04:40] ILyoan commented on #269
`build.py --clean` do this.
Closing.

[2015-11-24 04:40] #269 closed

[2015-11-24 05:13] seanshpark commented on #305
@jiangzidong , so did /dev/ttyACM0 appear? I think it would after time-out value. I think the red LED would be LD5 and if it's on then I think it is OK.
Thank you for the comments. Is there any problem with `.git`? Site tells there is `.git`

[2015-11-24 05:30] jiangzidong commented on #305
@seanshpark No, there is no ttyACM, and LD5 is off, LD3 is on.
Sorry, `.git` works well too.

[2015-11-24 06:04] seanshpark commented on #305
@jiangzidong , LD3 on is not normal. I think it's because you didn't attach BB.

[2015-11-24 06:07] jiangzidong commented on #305
@seanshpark so We cannot run nuttx normally on STM32F discovery without the BB?

[2015-11-24 06:59] seanshpark commented on #305
@jiangzidong , yes, IoT.js uses network and file system and without BB, it's useless. It's written in WiKi,
https://github.com/Samsung/iotjs/wiki/Build-for-NuttX#target-board.  So, may I ask what your intension is to run IoT.js on STM32F4-discovery board without the network and file system?

[2015-11-24 07:25] #235 closed

[2015-11-24 07:44] chunseoklee commented on #240
tested on master (5ddddcc3172918ce).
open, read, readFile works fine.

[2015-11-24 08:05] jiangzidong commented on #305
@seanshpark Thanks.
1, I will try to get a BB and retry it. but it's strange, why nuttx's serial port depends on fs and network.
2, Because we have no experience in developing program on RTOS, and iotjs/jerry's target board is the embedded board with RTOS, so we want to try it and familiar with its unique properties from host PC. (e.g, it has no virtual memory and binary code is in flash). So that

[2015-11-24 08:41] seanshpark commented on #305
@jiangzidong ,
1.  `why nuttx's serial port depends on fs and network.`: I don't think serial depends on fs or network. It's just that as network and fs hardware is not available the codes related to them in NuttX is waiting for any kind of response from it but nothing. I'm not sure if there are any kind of error checking codes. As we configured there will be network and fs hardware it might be un

[2015-11-24 13:23] mulderp opened #311 "Simplify build to get started"
Hi,

I wanted to try IoT.js - but I got stuck in the Nuttx build and the corresponding upload of IoT.js

It would be great to have a getting started in the lines of:

    git clone .../iotjs
    make
    make flash

[2015-11-24 22:37] #287 closed

[2015-11-24 23:33] chunseoklee commented on #311
@mulderp current instruction for nuttx build is little complicated.
https://gist.github.com/chunseoklee/c1ad97ad80d2dd6c8038 is my personal script for iotjs on nuttx.
It takes 10-20min to complete. Please try it and share the log if something is wrong.

[2015-11-26 03:42] jiangzidong commented on #305
@seanshpark As to Arduino, can iotjs run on that?

[2015-11-26 04:30] ILyoan opened #312 "Add command line arguments for turn on and off flags."
Some flags currently managed by build time options are able to be set by command lime arguments.

For example, when --jerry-memstat option for build.py is given, it makes Jerry with memstat feature on. and IoT.js will automatically turn on the flags as below..
[code]

But I think it better to decide it at the time executing IoT.js via command line whether tuning on or off such flags.

For example,

[2015-11-26 05:06] seanshpark commented on #305
@jiangzidong , well, no.... too simple? Please look in ["this"](https://www.arduino.cc/en/Tutorial/BlinkWithoutDelay) page and you can see that it's not something like Unix or event RTOS. It's very simple and good for education, especially if you want to know about `"no virtual memory and binary code is in flash"`

[2015-11-30 07:14] Seo-Young commented on #285
Reopen this issue for more candidates.
Please feel free suggest candidates until 12/11.

[2015-12-01 03:13] Seo-Young commented on #285
![image](https://cloud.githubusercontent.com/assets/5035570/11491399/dc06004c-9824-11e5-8861-df9a119457bf.png)

[2015-12-01 03:18] Seo-Young commented on #285
![image](https://cloud.githubusercontent.com/assets/5035570/11491495/adc38e38-9825-11e5-8cfa-d6a892774c16.png)

[2015-12-01 11:43] lemmaa commented on #285
IoT.{JerryScript Logo}

[2015-12-01 13:37] egavrin commented on #285
@lemmaa +1

[2015-12-02 00:11] Seo-Young commented on #285
@lemmaa Then we have to wait for JerryScript logo decision :)

[2015-12-02 09:16] mulderp commented on #311
Thanks! That build script works great. It might be an interesting to have it in its own repository, so it is easier to get started.
Only flashing my STM32F429 board  gives a problem just now:

<pre>
Build Process Done.
Now, try to flash bin into stm32f4[Enter]

Flashing....
2015-12-02T10:17:54 INFO src/stlink-usb.c: -- exit_dfu_mode
2015-12-02T10:17:54 INFO src/stlink-common.c: Loading device para

[2015-12-02 09:23] mulderp commented on #311
By the way, the build above was done on a Debian system (Wheezy I think).

Just trying the build on MacOS. It fails with the dependencies, probably I have to look how to map the `apt-get` commands to `brew`

<pre>
pm:iotjs pmu$ ./oneshot.sh
1. install dependencies
Password:
sudo: apt-get: command not found
sudo: apt-get: command not found
sudo: apt-get: command not found
sudo: apt-get: command not

[2015-12-02 09:27] mulderp commented on #311
The build on MacOS seems to fail at different places. Will have to look into this later:

<pre>
CC:  nsh_romfsetc.c
nsh_romfsetc.c:59:41: fatal error: nsh_romfsimg_iotjs.h: No such file or directory
 #  include CONFIG_NSH_CUSTOMROMFS_HEADER
                                         ^
compilation terminated.
make[2]: *** [nsh_romfsetc.o] Error 1
make[1]: *** [nshlib_all] Error 2
make: *** [../apps/l

[2015-12-02 22:43] seanshpark commented on #311
[code]

@mulderp , have you tried step 3) ~ 4) in https://bitbucket.org/seanshpark/nuttx/wiki/Home ?

[2015-12-03 09:30] huxinx commented on #274
Since 275 has been merged, please close this one.

[2015-12-03 09:32] #274 closed

[2015-12-04 03:20] lemmaa opened #315 "Improving document registeration process."
As many parts are involved not only in the development but also in documentation, we need to improve our document release process. So, I suggest 'in source documentation first' policy.

By following this procedure, we can publicly review the document by PR, looks like source code, and improvement it all together. After the review, we can merge it and publish it on the project wiki or web pages.

F

[2015-12-04 04:51] seanshpark commented on #315
+1

[2015-12-07 03:10] jiangzidong commented on #284
@ILyoan I just curious about what's your mean by "inevitable"? Snapshot will saving the parsing time for native js libs and decrease the ram size of storing the code. Am I right?

[2015-12-10 13:29] tczene commented on #306
Hi,
I updated the patches.
Yes I have tried. Simple http tests run well.

[2015-12-11 08:39] jiangzidong commented on #305
@seanshpark After we connect the BB board, we can find the serial port and run iotjs in nuttx! Thanks for  your help.
But do you know how to measure the memory consumption for iotjs in nuttx? So that we can measure whether a feature/patch's memory behavior

[2015-12-13 22:39] seanshpark commented on #305
@jiangzidong , good to hear you got the BB board.
I used `free` command and looked into `map` file.

[2015-12-14 00:19] seanshpark commented on #306
@tczene , it seems there was a typo in `arm/src/stm32/stm32_eth.c`
[code]
`CONFIG_ITOJS_USE_CCM` should be `CONFIG_IOTJS_USE_CCM`

Can you check with the network again?

[2015-12-14 00:26] seanshpark commented on #306
@tczene , I've added review comments for nuttx. please check.

[2015-12-15 02:49] jiangzidong commented on #305
@seanshpark `free` will tell the current memory usage of the system. And is `map` you mean `System.map`?
Is there a method to tell the flash usage and ram usage of the iotjs in stm32?

[2015-12-15 03:00] jiangzidong opened #316 "how to measure the flash/ram usage in stm32f4 board"
I am using the stm32f407, which has 192k RAM and 1M flash. After I build iotjs for nuttx, is there a method to measure its flash/ram usage?

`free` command in nuttx will show the memory usage  (I think it means RAM, right?) of the system.

[2015-12-15 04:29] seanshpark commented on #316
Yes, `free` command for dynamic RAM usage. I didn't look in the `free` codes but one can copy the code to measure free RAM and periodically show its amount.
And yes `map` for `System.map` file for looking static usage of RAM and Flash.

[2015-12-15 04:39] jiangzidong commented on #316
@seanshpark And for `System.map`, we need to distinguish the iotjs from other parts in nuttx by the symbol name, right?

[2015-12-15 07:27] #305 closed

[2015-12-15 08:05] seanshpark commented on #316
I think it could be better to modify loader script so that all related iotjs symbols stay in some specific place, some thing like
[code]

[2015-12-17 07:28] ILyoan commented on #284
@jiangzidong Yes you are right. more precisely, parsing native modules requires large amount of memory that exceeds memory capacity provided by STM32F4 board that we need to parse native modules in advance.

[2015-12-20 11:45] fivdi commented on #311
I'm also in the process of building IoT.js for an STM32F4Discovery board and was also getting the following error:
[code]
The problem was solved by installing `genromfs` with `sudo apt-get install genromfs`. @chunseoklee perhaps you could add this line to your script?

However, I'm still having a few issues with the build and would be grateful for any help. The complete output of @chunseoklee's bu

[2015-12-20 12:18] fivdi opened #320 "Latest Status information in Build-for-NuttX.md"
The [Latest Status](https://github.com/Samsung/iotjs/blob/40b38f0ef60e387960c304f56df39c90ce33fc97/docs/Build-for-NuttX.md#6-latest-status) information at the bottom [Build-for-NuttX.md](https://github.com/Samsung/iotjs/blob/40b38f0ef60e387960c304f56df39c90ce33fc97/docs/Build-for-NuttX.md) implies that IoT.js requires more memory than is available on an STM32F4Discovery board. As stated at the top

[2015-12-20 12:26] fivdi opened #321 "Binaries for the STM32F4Discovery board"
Would it be possible to provide IoT.js binaries for the STM32F4Discovery board? Binaries that could be flashed with the st-flash utility? This would make things easier for people new to IoT.js. People like me for example :)

[2015-12-20 23:09] seanshpark commented on #311
@fivdi ,
1) I'v added a line to install `genromfs` in nuttx page.
2) And `/home/brian/harmony/iotjs/deps/libtuv/cmake/config/arm-nuttx.cmake` is incorrect. You should have `/home/brian/harmony/iotjs/deps/libtuv/cmake/config/config_arm-nuttx.cmake` file. Please update files or clone again. https://github.com/Samsung/libtuv/tree/df9f328ad3d6426169ef1fcefa6c332a3168a8bf/cmake/config is what you shoul

[2015-12-20 23:14] wateret commented on #320
Good point. FYI, IoT.js works on STM32F4Discovery after bytecode-snapshot support of Jerryscript.

[2015-12-21 11:31] fivdi commented on #311
@seanshpark Thanks for the response. I deleted everything and started again.

I'm using the instructions form here:
https://github.com/Samsung/iotjs/wiki/Build-for-Nuttx-(new)
and also from here:
https://bitbucket.org/seanshpark/nuttx/wiki/Home

In addition, I'm using small tweaks based on @chunseoklee's script here:
https://gist.github.com/chunseoklee/c1ad97ad80d2dd6c8038

These tweaks are needed

[2015-12-21 12:22] mulderp opened #322 "Build on MacOS fails with genromfs missing"
Hi,

I am trying to run the `oneshot.sh` build script on MacOS.
For this, I installed genromfs manually from Sourceforge and run a local build. This works:

[code]

But when I run the Nuttx build script, I still get a:

[code]

[2015-12-21 12:23] mulderp commented on #322
Note dependencies of this issue to: https://github.com/Samsung/iotjs/issues/311#issuecomment-159439166

[2015-12-21 12:27] mulderp commented on #322
Not sure what file to copy for STM32 for genromfs:

[code]

[2015-12-21 12:34] fivdi commented on #322
If I'm not mistaken, the manually modified `harmony/nuttx/nuttx/tools/nsh_romfsimg.h` should be copied to `/harmony/nuttx/apps/nshlib/nsh_romfsimg_iotjs.h`

[2015-12-21 13:58] mulderp commented on #322
I can't find that source file:

[code]

Also not sure where/how to update the branches to possibly see the file.

[2015-12-21 14:37] fivdi commented on #322
This is what I see after following the instructions on [bitbucket](https://bitbucket.org/seanshpark/nuttx/wiki/Home):
[code]
I tried to use the exact instructions from bitbucket and looked for tips in `oneshot.sh` whenever there were issues. I'm not sure if `oneshot.sh` is suitable for the first build. For example, [make menuconfig](https://gist.github.com/chunseoklee/c1ad97ad80d2dd6c8038#file-one

[2015-12-22 01:30] hyunjunekim opened #323 "Segmentation Fault#When call fs.statSync or fs.stat as returning empty string which is path."
If call fs.statSync or fs.stat as empty string which is path, raise `Segmentation fault`.
Example,

Because on the binding function, get the null value through path String(iotjs_module_fs.cpp:293line).

If should call uv_fs_stat using null value which is path argument, occur to `Segmentation fault`.

[2015-12-22 02:04] seanshpark commented on #322
Hi,
[code]

FYI, this file is generated by
[code]
step. for example
[code]
It converts `rcS.template` file in `tools` folder into C source file in form of an array.
Output file is `nsh_romfsimg.h` and instruction is like, copy to `nuttx/apps/nshlib/nsh_romfsimg_iotjs.h` file.

If you type `rcS.template` file it will show something like this
[code]

first line will mount SD-card to `/mnt/sdcard` fo

[2015-12-22 08:40] mulderp commented on #322
Thanks!

Now I have the build running on MacOS too. Not 100% sure if everything worked but the error about missing header file went away:

[code]

[2015-12-22 13:31] fivdi commented on #311
Downgrading from "GCC ARM Embedded 4.9-2015-q3-update" to "GCC ARM Embedded 4.8-2014-q3-update" didn't help.

I'm not sure if it makes a difference, but the build is being performed with the 32-bit version Ubuntu 14.04.

[2015-12-22 23:55] seanshpark opened #324 "mac: segment fault in build for nuttx while snapshot generation"
Although build in mac is not yet supported but as in issue #322, building for nuttx, snapshot generation fails when running jerry.

Error:
[code]
When I run `jerry` with any dummy parameters, it fails with segment fault
[code]

[2015-12-23 00:14] seanshpark commented on #322
There's two issues,
1) `Failed to dump ../src/js/assert.js: - -11]`
--> I've added new issue for this problem.
for the mean time, please build with `--no-snapshot` option.
This is what I used.
[code]
I'm not sure about `stm32f4dis` cause libtuv requires `stm32f4disco`. it will be changed to `stm32f4` in the near future.

2) `No rule to make target 'lib/liblibiotjs.a', needed by 'pass2deps'.  Stop.

[2015-12-23 00:31] seanshpark commented on #322
BTW, running the iotjs built in mac seems to have some problem. I get
[code]

[2015-12-23 01:27] wateret commented on #322
FYI, even jerryscript alone fails some of unit-tests on Mac.
Related issue is https://github.com/Samsung/jerryscript/issues/610

I'm going to check it soon.

[2016-01-02 13:53] nuttx commented on #316
The binutils ''size'' command will also give you the static memory usage (or perhaps arm-none-eabi-size) .

[2016-01-16 19:00] scriptjs opened #326 "Licensing question"
How can Samsung relicense iotjs under Apache license and not provide attribution or include MIT licence anywhere to identify its sources or attribute node's authors. The majority of this code is directly derived from node.js

[2016-01-18 14:54] davidsz commented on #285
Ideas for the IoT.{JS Logo} concept:
![logos-1](https://cloud.githubusercontent.com/assets/4364601/12394338/85a0eb5c-bdfb-11e5-835c-4f82f8d37910.png)

[2016-01-19 04:05] jiangzidong commented on #316
@nuttx "size" is not included in the nuttx shell. How can i use the command?

[2016-01-19 13:04] nuttx commented on #316
The size command is used on the HOST PC after you build.  It will give
you the static memory usage.

At runtime, there will be additional memory usage from allocations from
the heap.  You can see this dynamic memory usage using the NSH free command:

nsh> free

Greg

[2016-01-20 10:49] lemmaa commented on #326
@scriptjs , It's my mistake. I'm going to fix it on https://github.com/Samsung/iotjs/pull/327. Could you please explain me about MIT license related parts in detail? Thanks! :)

[2016-01-22 14:11] scriptjs commented on #326
@lemmaa Hi there. Thank you for your reply.

The MIT is a very open license but explicit in what it requires. While I believe there is no requirement to include the MIT license reference in the head of each file, it must at least be included in the software for attribution and copyright.

I would say this. If you are going to use license headers in each file, you should include the MIT info in fil

[2016-01-23 21:13] mikeal commented on #326
This is a little trickier than the initial issue claims.

MIT allows you to "sublicense" the work, so you can add the Apache-2 license to your redistribution of this software. You can also choose to *only* distribute any modifications you make under the Apache-2 license.

However, for the code you are re-distributing from the MIT code base you must retain the MIT license in the distribution, which

[2016-01-23 21:16] mikeal commented on #326
Just a followup, I am not a lawyer and do not represent the legal opinion of the Node.js Foundation. If you want a legal recommendation from the Node.js Foundation we can ask for one.

[2016-01-25 00:34] lemmaa commented on #326
Hi @scriptjs, my question was 'Which part of node.js codes that IoT.js referenced are under MIT license, you think?' From license notice of node.js at https://github.com/nodejs/node/blob/master/LICENSE I can't figure it out. IoT.js referenced API codes, mostly written in JavaScript, from https://github.com/nodejs/node/tree/master/src, and it looks like licensed under `Node.js License` as following

[2016-01-25 17:23] mikeal commented on #326
I think he is referring to https://github.com/Samsung/iotjs/tree/master/src/js

All of the Node.js original source is under an MIT license.

[2016-02-01 10:33] lemmaa commented on #326
@mikeal Thank you. I asked to `node.js` community. (https://github.com/nodejs/node/issues/5021)

[2016-02-01 10:58] hubciorz opened #329 "iotjs.net not working"
iotjs.net is not working (the same as ipm.iotjs.net?)

[2016-02-03 12:16] poussa commented on #283
It would have been nice to keep the libuv as a build option. I can't build libtuv for OS X but libuv I can. Thus, one can't build iot.js for darwin target. Or should this (iotjs build for darwin) be possible?

[2016-02-03 17:41] akosthekiss opened #335 "Illegal memory read vulnerability in Buffer"
The current implementation of buffers makes read access to data memory possible, which may raise security concerns.

[code]

The above example accesses the `_builtin` member of `Buffer` objects and exploits the fact that the natively implemented `write` method (`JHANDLER_FUNCTION(Write)` in iotjs_module_buffer.cpp) performs very limited sanity checks on its arguments. Basically, all range checks a

[2016-02-03 17:44] scriby opened #336 "Parser error on "catch""
I'm trying to run some code like this:

[code]

iotjs is throwing an error:

[code]

It seems to not like the fact that the function name is "catch".

[2016-02-03 19:34] zherczeg commented on #336
we are in the middle of landing a new JS parser for JerryScript:

https://github.com/Samsung/jerryscript/pull/813

I hope it will fix this problem. Please wait a bit until we complete the landing process.

[2016-02-07 18:49] scriby commented on #298
I was looking at using iot.js to run on openwrt based routers. It's not uncommon to only have 10-50 free MB of RAM in this scenario. V8's memory overhead makes it a tight fit. This is probably an area where iot.js would be a better fit if it supported larger heap sizes.

[2016-02-08 09:45] polaroi8d opened #337 "--no-checktest doesn't working"
In Build for Nuttx, https://github.com/Samsung/iotjs/wiki/Build-for-NuttX on the 3th step there is a problem with no-checktest parameter...

--no-checktest doesn't working, instead of **--no-check-test**...

[2016-02-08 10:11] polaroi8d opened #338 "wrong libraries path"
In the Build for NuttX tutorial there is some wrong libraries path in the 4th step - https://github.com/Samsung/iotjs/wiki/Build-for-NuttX

**correct:**
cp build/arm-nuttx/release/lib/libjerrycore.a ../nuttx/nuttx/lib/libjerry.a
cp build/arm-nuttx/release/lib/libtuv.a ../nuttx/nuttx/lib
cp build/arm-nuttx/release/iotjs/liblibiotjs.a ../nuttx/nuttx/lib/libiotjs.a
cp build/arm-nuttx/release/lib/libf

[2016-02-23 18:58] cwong1 opened #339 "Is there a plan for iotjs to switch to use newer version of JerryScript?"
The branch of JerryScript used by iotjs's current build system is from Sept. 16th 2015. Is there a plan to switch to a newer branch of JerryScript anytime soon?

[2016-02-25 10:46] zoobab opened #340 "NPM server not responding?"
Hi,

I am trying to register to the custom NPM server, but I get timeouts:

[code]

Can you confirm/infirm that the server is working fine?

A telnet to the IP PORT does not answer anything...

[2016-02-25 11:40] zherczeg commented on #339
You can make IoT.js work with the latest jerry after you add this patch:
https://github.com/Samsung/iotjs/pull/330

[2016-02-25 14:15] zoobab opened #341 "iotjs core dumps when GPIO number is over 64"
Hi,

I do have a PL2303 USB-serial adaptor on my PC with 4 GPIOs, with a patched driver which expose those 4 GPIOs in /sys/class/gpio/, see here: http://www.zoobab.com/pl2303hxd-gpio.

My 4 GPIOs looks like this:

[code]

I can set the direction to out, and toggle them with 0 or 1 on the shell.

Now, when I modify test_gpio.js to set to the gpio 508:

[code]

And then launch iotjs, it coredumps:

[2016-03-09 08:31] icode commented on #117
support rtLinux?

[2016-03-21 09:50] zherczeg opened #343 "Nominating Akos Kiss, Laszlo Lango, and Zoltan Herczeg to IoT.js maintainer status"
Hi,

I would like to nominate Akos Kiss ( @akiss77 ), Laszlo Lango ( @LaszloLango ), and Zoltan Herczeg ( @zherczeg ) to be IoT.js maintainers. They have extensive JerryScript knowledge, and also cotributed to IoT.js.

Any seconds?

[2016-03-21 12:54] seanshpark commented on #343
+1

[2016-03-21 14:17] lemmaa commented on #343
+1

[2016-03-22 16:32] poussa commented on #343
Will this resume the iot.js development? It has been stalled during 2016.

[2016-03-23 11:29] zherczeg commented on #343
Yes, we plan to increase the activity on this project.

[2016-03-24 11:35] lemmaa commented on #343
There is no objection, I updated wiki page https://github.com/Samsung/iotjs/wiki/Assigned-people
Congratulations!!! :)

[2016-03-24 11:39] poussa commented on #343
Congratulations to new maintainers!

Intel has plans to submit patches, new features and new OS port to IOT.js and JerryScript. What would be the proper way to start discussing the topics? Do you want just the PR or should we create an issue(s) to talk about the those first?

[2016-03-24 11:52] lemmaa commented on #343
@poussa create an issue first, then PR is recommended.
For JerryScript, our goal is quite simple. Optimization first. But for IoT.js, it's much more complicate. We need to have a time to discuss about the direction for each activities. So create an issue before PR is very important and fruitful.

P.S. Despite IoT.js was open sourced together with JerryScript last year, it was maintained in-house w

[2016-03-25 09:44] LaszloLango commented on #343
@lemmaa, thank you! :)

[2016-03-25 09:44] #343 closed

[2016-03-29 15:50] poussa commented on #339
We can close this since the PR330 was merged.

[2016-03-30 01:58] #339 closed

[2016-03-30 13:06] LaszloLango commented on #341
Sorry for the long delay. Yes, currently only GPIO pins between 0 and 64 are supported. How many pins does your device have?

[2016-03-30 13:24] LaszloLango commented on #336
The current version throws a reference error since there is no `promise`. Promise is an ES6 feature. IoT.js is currently based on JerryScript and only support ES5.1. See also:
https://github.com/Samsung/jerryscript/issues/205 and https://github.com/Samsung/jerryscript/issues/671

[2016-03-30 14:37] scriby commented on #336
I am using the bluebird library for promises, not native es6 promises.

Iotjs was throwing a parser error, not a runtime exception.

[2016-03-30 15:15] zherczeg commented on #336
There has been a jerry update in IoT.js. Could you check that the problem still persists? I see a reference error here.

[2016-03-31 12:32] LaszloLango commented on #321
I think setting up daily builds would be great, but currently we don't have any published prebuild binaries.

[2016-03-31 12:42] #297 closed

[2016-03-31 12:44] LaszloLango commented on #160
There is no response since Nov 9, 2015, so we should close this.

[2016-03-31 12:44] #160 closed

[2016-03-31 12:46] LaszloLango commented on #270
#294 is merged, so we should close this.

[2016-03-31 12:46] #270 closed

[2016-03-31 12:49] LaszloLango commented on #72
Everything marked as complete in this issue, so we should close this.

[2016-03-31 12:49] #72 closed

[2016-03-31 12:51] LaszloLango commented on #84
This issue is open still Jun 12, 2015 without any description. Is this still valid?

[2016-03-31 12:53] #212 closed

[2016-04-08 05:38] gridnow commented on #298
yes, we may not really need 100MB memory,but we need bigger memory.

[2016-04-08 06:05] LaszloLango commented on #298
We have plans to make Jerry more scalable.

[2016-04-08 07:07] gridnow opened #349 "cannot build on x86_64: ./tools/build.py"
==> Build libtuv

cmake /home/sihai.ysh/iotjs/deps/libtuv -DCMAKE_TOOLCHAIN_FILE=/home/sihai.ysh/iotjs/deps/libtuv/cmake/config/config_x86_64-linux.cmake -DCMAKE_BUILD_TYPE=debug -DTARGET_PLATFORM=x86_64-linux -DLIBTUV_CUSTOM_LIB_OUT=/home/sihai.ysh/iotjs/build/x86_64-linux/debug/deps/libtuv -DCMAKE_C_FLAGS=-D__LINUX__ -fno-builtin -D__x86_64__ -D__X86_64__ -g -DDEBUG -DENABLE_DEBUG_LOG -DCMAKE_CX

[2016-04-08 07:14] LaszloLango commented on #349
Could you provide more info for us? What is your OS and GCC version?

[2016-04-08 07:17] gridnow commented on #349
$gcc --version
gcc (GCC) 4.8.5 20150623 (Red Hat 4.8.5-4)
Copyright (C) 2015 Free Software Foundation, Inc.
This is free software; see the source for copying conditions.  There is NO
warranty; not even for MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.

$cmake --version
cmake version 2.8.11

$python --version
Python 2.7.5

os
centos7

[2016-04-08 16:34] akiss77 commented on #349
@gridnow I've managed to track down the issue.

In short: please, update your cmake to 2.8.12 at least.

A bit longer explanation: `libtuv/cmake/libtuv.cmake` has a line
`target_include_directories(${TARGETLIBNAME} SYSTEM PRIVATE ${TARGET_INC})`
According to cmake manuals, the `SYSTEM` argument was introduced in 2.8.12 only:
* 2.8.11: https://cmake.org/cmake/help/v2.8.11/cmake.html#command:target_

[2016-04-11 03:24] gridnow commented on #349
build ok。thanks。

[2016-04-11 06:28] #349 closed

[2016-04-22 07:24] LaszloLango commented on #335
@akiss77, is this still valid?

[2016-04-22 08:39] akiss77 commented on #335
@LaszloLango Confirmed. On latest master (0b7aa35385d4cbcaffa9a6a5338939becc663272), the output is still as follows:
[code]

[2016-05-08 10:26] esevan commented on #211
I would like to try this, but I'm not really sure which direction of the solution is appropriate to begin. There might be two simple approaches for the solution of this problem.

1) Using jerryScript heap for platform memory allocation
 In this case, is it able to span the jerry heap dynamically, so that js application could use whole system memory not using only statically allocated jerry heap?
2

[2016-05-09 07:35] zherczeg commented on #211
I would go to direction 2. You need an allocator where you can specify the address range of the returned pointer:

malloc(size, addr_min, addr_max, align);

The returned pointer must be >=addr_min and < addr_max. The min would be the base for compressed pointers, and addr_max-addr_min <= 512K. Even the allocator could recommend the min. Jerry also need 8 byte aligned blocks. Furthermore Jerry can

[2016-05-25 07:10] gridnow opened #357 "latest code with wrong default linking library"
hi,
I use lastest code but with error while linking:
[100%] Linking C executable debug.linux
/usr/bin/ld: skipping incompatible /usr/lib/gcc/x86_64-redhat-linux/4.8.5/../../
../libpthread.a when searching for -lpthread
/usr/bin/ld: skipping incompatible /lib/libpthread.a when searching for -lpthrea
d
/usr/bin/ld: skipping incompatible /usr/lib/libpthread.a when searching for -lpt
hread
/usr/bin/ld

[2016-05-25 07:19] LaszloLango commented on #357
Could you send us your linux version and architecture of your workstation. What parameters are you using for the build?

[2016-05-25 07:40] gridnow commented on #357
centos7, x64 version
python 2.6.6
python tools/build.py without any parameter

Default lib path seems changed to x32,, but i am using x64

[2016-05-25 07:47] LaszloLango commented on #357
I suggest to try a clean release build at first
`tools/build.py --clean --buildtype=release`

Maybe it helps if you set your architecture explicitly with `--target-arch=x86_64`

[2016-05-25 08:04] gridnow commented on #357
It's strnge, with --clean i can compile and get executable file iotjs, but again without --clean, above errors occured.

[2016-06-11 08:49] ouki-wang commented on #142
var buf=new Buffer('abc')
buf[0]=99 // it does NOT work
why?

[2016-06-11 08:50] ouki-wang opened #360 "Buffer can not use []"
var buf=new Buffer('abc')
buf[0]=99 // it does NOT work
why?

[2016-06-12 02:57] ouki-wang commented on #360
zero value is very important when Manipulating device, and String can not contain zero value. so the buffer [] method is very important, looking forward to solve this problem

[2016-06-13 08:43] LaszloLango commented on #360
@ouki-wang, it works for me on the latest version. What version are you using?

[2016-06-14 02:37] ouki-wang commented on #360
@LaszloLango
it does not work on the latest version(4dd47dc06696dbd1c1f8d126838c18ba5cd9c93a)

//test.js
var buf = new Buffer('abc')
buf[0] = 99
console.log(buf.toString())

run command
iotjs ./test.js
abc

run command
node ./test.js
cbc

[2016-06-14 06:56] LaszloLango commented on #360
@ouki-wang, thanks for the detailed test. The problem is that `[]`operator of buffers is unimplemented at the moment. You must use `buffer.write` instead.

[code]

See also: https://github.com/Samsung/iotjs/wiki/IoT.js-API:-Buffer

[2016-06-14 07:32] ouki-wang commented on #360
@LaszloLango
We expect Samsung to achieve [] operator, because we can not write non-string value。
for example：
buf[0] = 2
buf[1] = 0
buf[2] = 1
buf[3] = 6

[2016-06-14 08:12] zherczeg commented on #360
You can use: String.fromCharCode()
Implementing this would be difficult at the moment because neither proxy objects and typed arrays are not supported by JerryScript at the moment.

[2016-06-15 02:44] ouki-wang opened #361 "how to monitor serial"
How to monitor file readable, such as serial (ttyACM0), argument  UV_READALBE can not be used.
And these functions are not available (uv_poll_init uv_poll_start uv_poll_stop)

[2016-06-20 07:57] wuxj2015 commented on #111
@ILyoan
Excuse me, have you support Extended API CoAP?
If you did, how can I get it and use it ?

[2016-07-06 09:10] zippocage opened #362 "Question: will installing new modules work?"
I wanted to test creating a new internal module and made a duplicate module using the console module as a template. I noticed it requires quite a lot of changes to the code to get this module to be reachable from a jerryscript file. For example, unless the name of the module is not added to the iotjs_string_ext.cpp then the module name will not be recognized and there will be a reference error.

T

[2016-07-06 13:38] zippocage commented on #362
I have played around a bit now with local modules and can confirm that it works well to reference other modules without any need for rebuilding iotjs. I think I can conclude that native/internal modules in iotjs requires more changes but that may just be the way it is.

[2016-07-06 13:38] #362 closed

[2016-07-13 13:24] pfalcon opened #364 "Availability/Status of "Extended APi"

[2016-07-13 13:29] pfalcon opened #365 "Availability/Status of "Extended API""
https://github.com/Samsung/iotjs/wiki/IoT.js%20API%20Reference#extended-api lists "Extended API", however there're no links to the detailed documentation like for "Basic API" on the same page, nor searching the source code reveals any implementation of names from Extended API. What's the status of it? Is it tentative APIs which don't really exist, or some proprietary (not open-source) extension, o

[2016-07-13 13:58] LaszloLango commented on #364
Duplicate of #365

[2016-07-13 13:58] #364 closed

[2016-07-14 23:28] seanshpark commented on #365
Hi, what I know of is this.

Something like a wish-list when Basic is somewhat done.

Yes, currently.

No proprietary exist. :)

[2016-07-20 06:25] gudbooy opened #366 "Raspberry-Pi2/3 build issue, cross-compile issue"
I've been struggling to build IoT.js on Raspberry-Pi2/3

According to the build manual posted on WIKI page, there are a few wrong guideline [I will pull requests of them]

First, I tried to build on both Raspberry-Pi2 and 3, the error comments are same.

**[pi@raspberrypi: /iotjs]/$ ./tools/build.py --buildtype=release --no-init-submodule --target-arch=arm --target-os=linux**

  Building C object

[2016-07-20 06:36] LaszloLango commented on #366
`--target-board=rpi2`

[2016-07-20 06:44] esevan commented on #366
@LaszloLango Is there any update for rpi internal update? only support cross-compile now?

[2016-07-20 06:49] gudbooy commented on #366
@LaszloLango
Thank you
Is it possible to pull requests of wiki page?

[2016-07-20 06:57] LaszloLango commented on #366
@gudbooy, no. Unfortunately it is not possible. This is why most of the documentations were moved into the repository (https://github.com/Samsung/iotjs/tree/master/docs). Could you post the your update wiki somewhere? Or at least a diff file. For example on https://gist.github.com/ ?

[2016-07-20 07:01] LaszloLango commented on #366
@gudbooy, is this what we are talking about: https://github.com/Samsung/iotjs/blob/master/docs/Build-for-ARM-Linux-(RPi2).md ? If yes, then you can create a pull request and we can accept your changes after you've got at least 2 LGTMs.

[2016-07-20 07:16] esevan opened #367 "Update Readme.md"
Readme.md aligned with jerry script at #348. However, Readme.md of IoT.js doesn't include the documentation and License section unlike that of jerryScript, although docs directory has been already created. Can I toss pull-request of readme.md update?

[2016-07-20 08:00] gudbooy commented on #366
@LaszloLango  Thank you. I will handle this ASAP

[2016-07-21 00:42] esevan commented on #367
#368 merged, so close this issue.

[2016-07-21 00:42] #367 closed

[2016-07-25 05:02] gudbooy opened #369 "[Raspberry-Pi] test_net[3, 7, 8].js failed"
When I try to  run test_net3, 7, 8.js individually, it just produces a segment fault.

Thus, I run the IoT.js on GDB which produces the following log

Starting program: /home/pi/iotjs/build/arm-linux/debug/bin/iotjs test_net3.js
[Thread debugging using libthread_db enabled]
Using host libthread_db library "/lib/arm-linux-gnueabihf/libthread_db.so.1".
[New Thread 0x76ffc2f0 (LWP 22015)]
[New Thread

[2016-07-27 08:03] mitizhi commented on #149
@drasko - I learned about both duktape and JerryScript just couple of minutes ago. That said, I just happened to see this presentation: http://www.slideshare.net/SamsungOSG/jerryscript-on-riot. (Actually that presentation is the reason I learned about JerryScript in the first place, and this question made me search for JerryScript.) On pages 13 and 14 there are comparison of memory and performance

[2016-07-28 06:34] esevan commented on #149
@drasko IMHO, IoT.js is the IoT platform powered by JerryScript. Even though there's somewhat modularity (JerryScript Binding) between IoT.js API and JerryScript, which is able to be replaced by other JS engine such as Ducktape, I don't think it's easy to replace the JS engine since the difference of JerryScript API and DuckTape API. Moreover, as @mitizhi said, there's no certain reason to replace

[2016-08-08 01:47] gudbooy commented on #366
@LaszloLango The PR: #345 handles R-Pi2 build command correction, I will handle the Raspberry-Pi2 native build ASAP

[2016-08-10 14:23] zippocage opened #370 "Latest ROM/RAM usage numbers on STM32F4Discovery?"
I have been trying to build IoTjs for NuttX in order to understand the current ROM and RAM use on STM32F4Discovery but I have make issues and can't get past them right now.

Does someone have the latest ROM use numbers for STM32F4Discovery?

According to @tilmannOSG [slideshare presentation from April 2016](http://www.slideshare.net/SamsungOSG/introduction-to-iotjs-60814606) (slide 13) JerryScript

[2016-08-10 15:05] zherczeg commented on #370
JerryScript with LTO, stripping, and -Os on ARM Thumb2 target is <160K now.

[2016-08-11 08:29] zippocage commented on #370
@zherczeg Thanks but I would like to have the complete ROM use. DO you perhaps have figures for iotjs in total?

[2016-08-11 10:28] RedCarrottt opened #371 "Guide for making IoT.js builtin modules and native modules"
As I know, there is no guide to make builtin modules nor native modules for IoT.js.

In order to help other developers contribute to the new modules for IoT.js, this task is very important.

[2016-08-11 11:25] zippocage commented on #311
@fivdi did you finally get this to build? I am running into many of the same issues you list above

[2016-08-11 13:14] fivdi commented on #311
@zippocage no, I never managed to get the build to work.

[2016-08-11 13:58] zippocage commented on #311
I have now gotten a bit further and managed to get libtuv to build. In order to do so I needed to make changes to the [option_arm-nuttx.cmake](https://github.com/Samsung/libtuv/blob/master/cmake/option/option_arm-nuttx.cmake) file and change this line (41) from:
`  if(${TARGET_BOARD} STREQUAL "stm32f4")`
to:
`  if(${TARGET_BOARD} STREQUAL "stm32f4dis")`

Then I am stuck on jerry with the following

[2016-08-12 09:26] zippocage commented on #370
I have now built iotjs for NuttX and here are my figures from using the size command:

libtuv:               ~19 kB
HTTP parser:   ~11 kB
Jerry  script:    ~163 kB
Iotjs lib:           ~ 88 kB

Total:               ~280 kB

[2016-08-12 11:11] #370 closed

[2016-08-15 13:51] pfalcon commented on #365
Thanks, that answers it. I guess I'll close it, hope other folks who have a similar question will be able to found it.

[2016-08-15 13:51] #365 closed

[2016-08-15 13:54] pfalcon opened #372 "Update to JerryScript 1.0 API?"
JerryScript recently has undergone noticeable API changes, preparing for 1.0 (it's at 1.0-RC1 now). It would be nice to know what plans IoT.js maintainers have in regard to update to JrS 1.0 API. Like, have any work already started on that, or is there wait for official JrS 1.0 release first, or there're no immediate plans to update to new API, or is it expected a community to contribute update pa

[2016-08-15 15:28] zherczeg commented on #372
The API adoption is in progress, but it has not finished yet.

[2016-08-16 06:58] LaszloLango commented on #372
@pfalcon, you can find the in-progress  version here: https://github.com/LaszloLango/iotjs/tree/jerry-update

It does not contain the new build system and 3 test cases are failing (in filesystem module). I won't be able to continue the update at this week.

[2016-08-16 12:30] pfalcon commented on #372
Thanks for the responses and information! I'll leave ticket open, for other folks to easily see it.

[2016-08-17 11:10] yichoi opened #373 "Broken nuttx build"
https://github.com/Samsung/iotjs/wiki/Build-for-Nuttx-(new) is out-of-date.
And the board name of STM32F4discovery is not consistent among many repositories and build guides
(stm32f4, stm32f4dis, stm32f4disco, ...)

[2016-08-17 11:14] yichoi commented on #373
Updated build guide: https://github.com/yichoi/iotjs-wiki/commit/db1cba51b7994736c793a6b0fe7261fda843ac31
(Board name becomes `stm32f4dis` according to .build.default.config file in iotjs repo)

[2016-08-25 08:59] LaszloLango commented on #372
UPDATE: I've updated the working branch, but those 3 tests are still failing.

[2016-08-29 12:44] zherczeg opened #376 "Nominating Young-il Choi (yichoi) to be a maintainer for IoT.js"
I would like to nominate Young-il Choi (yichoi) to be a maintainer for IoT.js. I trust him to be a great developer for IoT.js.

[2016-08-29 13:02] LaszloLango commented on #376
+1

[2016-08-29 19:50] akosthekiss commented on #376
+1

[2016-08-29 21:07] bzsolt commented on #376
+1

[2016-08-29 22:56] akosthekiss commented on #372
Update is happening at #375

[2016-08-30 11:35] pfalcon commented on #372
Thanks, closing this ticket.

[2016-08-30 11:35] #372 closed

[2016-08-31 09:35] yichoi commented on #373
modified build guide: https://github.com/yichoi/iotjs-wiki/commit/67afe6a033e56a5fc24e7106afc53ce696293292
(Reviewed by @haesik)

[2016-08-31 09:43] yichoi commented on #373
Updated the wiki page (https://github.com/Samsung/iotjs/wiki/Build-for-Nuttx-(new)/67afe6a033e56a5fc24e7106afc53ce696293292)
Closing issue.

[2016-08-31 09:43] #373 closed

[2016-09-01 02:35] yichoi commented on #376
Thanks!

[2016-09-01 02:35] #376 closed

[2016-09-02 06:32] nova0821 opened #377 "Need to update Wiki page about "Build for ARM Linux (RPi2)""
Wiki page "Build for ARM Linux (RPi2)" is not same with "docs/Build-for-ARM-Linux-(RPi2).md" file.

Also, It is needed to update some contents in there.

[2016-09-02 06:47] haesik opened #378 "docs/Build-for-NuttX-(new).md is not updated"
Wiki page [https://github.com/Samsung/iotjs/wiki/Build-for-Nuttx-(new)](https://github.com/Samsung/iotjs/wiki/Build-for-Nuttx-(new)) was updated but the docs/Build-for-NuttX-(new).md was not updated,

[2016-09-02 07:01] yichoi commented on #377
#379 merged

[2016-09-02 07:02] nova0821 commented on #377
Update build guide for Raspberry Pi 2: https://github.com/nova0821/iotjs-wiki/commit/e2b11528324b6eaf0c634cf1bdb24c9fa09c377d
(Sync with "docs/Build-for-ARM-Linux-(RPi2).md")

[2016-09-02 07:10] yichoi commented on #377
updated Wiki Page "Build for ARM Linux (RPi2)"

[2016-09-02 07:10] #377 closed

[2016-09-02 08:21] hs0225 opened #381 "How to skip tidy check and test?"
According to documents, I can skip tidy check by using "--notidy" build option. But, this option was not working.
(https://github.com/Samsung/iotjs/wiki/Build-for-Linux)
And 'checktest' defalut option is true.  I can't find false option.

[2016-09-02 08:40] yichoi commented on #378
updated Wiki page "Build for Nuttx (new)"

[2016-09-02 08:40] #378 closed

[2016-09-02 08:53] haesik opened #383 "Need to change file(Build-for-NuttX-(new).md) permission"
File permission should be changed 664

[2016-09-02 09:27] LaszloLango commented on #381
The correct command line option is: `--no-check-tidy`

[2016-09-02 09:28] LaszloLango commented on #381
Use `tools/build.py --help` to check the available options of `build.py`.

[2016-09-02 13:07] #383 closed

[2016-09-05 02:41] haesik commented on #338
Build for Nuttx has been updated and changed
https://github.com/Samsung/iotjs/wiki/Build-for-Nuttx-(new)

[2016-09-05 02:42] #338 closed

[2016-09-05 09:55] haesik commented on #304
Hello,
Now iotjs is not support the build base of stm32F103xx chip.

[2016-09-05 10:06] hs0225 commented on #337
The correct command line option is "--no-check-test".  You can check the availbale option by using "-h" option. (tools/build.ph -h).

[2016-09-05 10:06] yichoi commented on #329
closing since iotjs.net is working.

[2016-09-05 10:06] #329 closed

[2016-09-05 10:08] yichoi commented on #299
no more advice. closing

[2016-09-05 10:08] #299 closed

[2016-09-05 10:11] yichoi commented on #84
no more description added. closing.

[2016-09-05 10:11] #84 closed

[2016-09-05 10:15] yichoi commented on #141
no more discussion. closing

[2016-09-05 10:15] #141 closed

[2016-09-05 10:20] yichoi commented on #150
no more discussion. closing.

[2016-09-05 10:20] #150 closed

[2016-09-05 10:29] yichoi commented on #360
It's related with [JerryScript](https://github.com/Samsung/jerryscript) not IoT.js

[2016-09-05 10:29] #360 closed

[2016-09-05 10:29] #304 closed

[2016-09-05 10:32] #337 closed

[2016-09-05 10:33] hs0225 commented on #132
Use make debug.linux

[2016-09-05 10:34] #132 closed

[2016-09-05 10:37] yichoi commented on #117
Closing. #276 is closed and GPIO for linux is supported at #128. (Only GPIO for nuttx is not supported)

[2016-09-05 10:37] #117 closed

[2016-09-05 10:53] yichoi commented on #366
Closing this issue because documents for RPi2 is updated, and we don't have plan to support internal build IoT.js on RPi2 board now. @gudbooy If you want to working on internal build task on RPi2 board, you can make new issue for it.

[2016-09-05 10:53] #366 closed

[2016-09-05 11:08] yichoi commented on #315
closing. no more discussion

[2016-09-05 11:08] #315 closed

[2016-09-05 11:12] yichoi commented on #298
Closing. It is more related with [JerryScript](https://github.com/Samsung/jerryscript) than IoT.js

[2016-09-05 11:12] #298 closed

[2016-09-05 11:18] yichoi commented on #242
Closing. no further description added.

[2016-09-05 11:18] #242 closed

[2016-09-05 11:28] yichoi commented on #238
closing. no more description added

[2016-09-05 11:28] #238 closed

[2016-09-05 11:35] yichoi commented on #161
Closing. It's better to handle at [JerryScript](https://github.com/Samsung/jerryscript) itself.

[2016-09-05 11:35] #161 closed

[2016-09-05 11:36] yichoi commented on #153
closing. ipm is not maintained.

[2016-09-05 11:36] #153 closed

[2016-09-05 11:38] yichoi commented on #149
closing. no plan with Duktape right now.

[2016-09-05 11:38] #149 closed

[2016-09-05 11:48] LaszloLango commented on #298
@yichoi, after https://github.com/Samsung/jerryscript/pull/1271 it is possible to do this in JerryScript.

[2016-09-05 13:19] yichoi commented on #298
@LaszloLango, That's great! looks like almost landed.

[2016-09-06 07:15] nova0821 commented on #369
It doesn't produce segment fault with "Raspbian JESSIE" on May, 2016. However, it doesn't pass test cases that are net3,7,8 and dns.

I fixed them and make pull request. (https://github.com/Samsung/iotjs/pull/385/commits/b85a7d3ce2f7851b1925a60b51ca689746f416c5)

[2016-09-06 07:21] nova0821 commented on #340
IPM server is not working now. We don't decide that we make own registry for IoT.js or just use npm server.

We will update a document related IPM.

[2016-09-06 09:53] yichoi commented on #369
#385 landed. closing

[2016-09-06 09:53] #369 closed

[2016-09-06 09:54] nova0821 opened #386 "Need to update(or delete) WiKi page about "IoT.js Package""
According to WiKi page "IoT.js Package"(https://github.com/Samsung/iotjs/wiki/IoT.js-Package), it looks like ipm registry is working now and it describe how to setup ipm, but it is not working now.

Many people who interest this project will follow it, but will fail. (I did it, too.)

I think the title of the page should have "TBD" or just delete the page and remove the link from iotjs.net.

How d

[2016-09-06 10:20] yichoi commented on #340
closing. we will update document according to #386

[2016-09-06 10:20] #340 closed

[2016-09-06 11:19] hs0225 commented on #283
need to documents update about libtuv option. refer to [fetch](https://github.com/Samsung/iotjs/pull/382)

[2016-09-06 22:35] glistening commented on #111
As of this writing, the missing documentations for basic modules exist (e.g., fs, module, process, stream). So I think we could close this issue.

@wuxj2015
We don't support Extended API CoAP yet.

[2016-09-07 01:17] yichoi commented on #381
According to #382, wiki page Build for Linux and docs are updated.
Please refer it

[2016-09-07 01:17] #381 closed

[2016-09-07 01:27] yichoi commented on #111
closing. let's update each APIs as updated

[2016-09-07 01:27] #111 closed

[2016-09-07 01:31] yichoi commented on #336
closing. I found that it works fine.

[2016-09-07 01:31] #336 closed

[2016-09-07 01:33] yichoi commented on #78
closing. JerryScript also shows error location properly

[2016-09-07 01:33] #78 closed

[2016-09-07 01:50] glistening commented on #323
Thank you for reporting bug. I see same problem in current source. After investigating the source, I found there are same problems in fs.open and so on, too. First, I will make testcases issue-323.js using your report and put the issue-323 into our repository.

[2016-09-07 06:35] haesik commented on #311
Hello,
I have update the build guide for NuttX
please check the following link,
https://github.com/Samsung/iotjs/blob/master/docs/Build-for-NuttX-(new).md

[2016-09-07 06:40] yichoi commented on #311
closing. I tried and found that it works properly with updated document. If you fail again with updated document, please reopen it.

[2016-09-07 06:48] yichoi commented on #23
Closing. No plan to open ipm server now.

[2016-09-07 06:48] #23 closed

[2016-09-07 06:49] yichoi commented on #75
Closing. No plan to open ipm server now.

[2016-09-07 06:49] #75 closed

[2016-09-07 06:50] yichoi commented on #76
Closing. No plan to open ipm server now.

[2016-09-07 06:50] #76 closed

[2016-09-07 06:54] yichoi commented on #243
closing. no description provided.

[2016-09-07 06:54] #243 closed

[2016-09-07 07:10] yichoi commented on #386
It would be better to modify document since we don't run ipm server.

[2016-09-07 08:17] yichoi opened #388 "Remove ipm link in http://iotjs.net/"
There is "ipm" page link to IoT.js Package document of github WiKi on top of the homepage of http://iotjs.net.
Since we don't run ipm server anymore, it is supposed to be removed.

[2016-09-07 09:20] yichoi commented on #386
closing. #387 landed

[2016-09-07 09:20] #386 closed

[2016-09-07 11:39] yichoi commented on #320
closing. #389 landed.

[2016-09-07 11:39] #320 closed

[2016-09-07 12:29] haesik commented on #321
@LaszloLango Do you have any progress on proposed feature?

[2016-09-07 12:37] LaszloLango commented on #321
@haesik, no, I haven't worked on it.

[2016-09-07 13:39] hs0225 opened #391 "Need a user guide explaining about execution options"
Users can check memory consumption and opcode used by Jerry when
it is built with a memstat flag. However, this option is hard to find
unless you closely look at the source code. Therefore, there should
be a guide explaining about how to use this option.

[2016-09-07 18:20] mulderp commented on #311
The build looks much better now on my MacOS machine but running the script out of the box, I get this:

[code]

So, I should set the env variables - what could I try here?

[2016-09-08 01:55] yichoi commented on #311
@haesik please try with your macbook and share your result.

[2016-09-08 05:35] yichoi commented on #312
Closing. I found that this command line options work fine.

[2016-09-08 05:35] #312 closed

[2016-09-08 06:05] mulderp commented on #311
still a problem

[code]

[2016-09-09 09:29] yichoi commented on #391
closing. #392 landed

[2016-09-09 09:29] #391 closed

[2016-09-10 11:09] mulderp commented on #311
on Darwin, adding compiler flags and copying the Cmake files from Linux helps:

https://github.com/mulderp/iotjs/commit/7620e80f5dfc93faa558e82357c827132abee5ed

but something still does not work:
[code]

[2016-09-10 11:45] mulderp commented on #311
note that i can build libtuv locally via:

    $ ./autogen.sh
    $  ./configure
    $ make

[2016-09-11 19:05] mulderp commented on #311
on darwin, setting compiler flags with this might work as well:

     export CC=/usr/local/bin/x86_64-apple-darwin13.3.0-gcc-4.8.3
     export CXX=/usr/local/bin/x86_64-apple-darwin13.3.0-g++-4.8

[2016-09-14 01:31] yichoi commented on #388
closing since #394 is landed

[2016-09-14 01:31] #388 closed

[2016-09-14 01:32] yichoi commented on #335
closing since #393 is landed

[2016-09-14 01:32] #335 closed

[2016-09-19 10:02] nova0821 opened #397 "IPv6 issue"
Hello,

Currently, IoT.js is not supported IPv6 because libtuv is not supporting IPv6.
(In libtuv, codes related IPv6 was deleted.)

1) We need to discuss that IoT.js should support IPv6 or not.
2) **(Bug)** If IPv6 style address is used, the application is not finished. (I will fix it in libtuv side.)

Is there any reason not supporting IPv6 in libtuv? If there isn't, I think we need to support I

[2016-09-19 16:27] haesik opened #398 "Build break for nuttx(with updated jerryscript)"
When I build iotjs for nuttx with updated source codes, I met a build break.
It seems that the changed jerryscript does not support "arm" keyword of CMAKE_SYSTEM_PROCESSOR.

-- The ASM compiler identification is GNU
-- Found assembler: /usr/bin/arm-none-eabi-gcc
System is unknown to cmake, create:
Platform/EXTERNAL to use this system, please send your config file to cmake@www.cmake.org so it can b

[2016-09-20 00:04] yichoi commented on #323
#396 landed. closing

[2016-09-20 00:04] #323 closed

[2016-09-20 00:58] glistening opened #399 "Null String allocates 1 byte heap memory"
With recently merged commit 54cd255979f5f1fb3e6ee38e2b56b99c60b48955 for fixing #323, we allocate 1 byte memory with malloc for every null string. Previously, null string is represented by setting _data to NULL. I think memory defragmentation should be considered more carefully in iot environment since it has small memory. Although this patch make it easy to remove many bugs relating non-nullcheck

[2016-09-20 06:23] nova0821 opened #403 "Support to build IoT.js for Raspberry Pi on Mac OS."
Hello,

Currently, IoT.js only support to build for Raspberry Pi on Linux.
I think it will be better if we support to build for Raspberry Pi on Mac OS, too.

For supporting build for Raspberry Pi on Mac OS,

1) Need to update document 'Build for ARM Linux (RPi2)' - for Mac OS prerequisite.
: (https://github.com/Samsung/iotjs/wiki/Build-for-ARM-Linux-(RPi2))

2) Modify build options. - Currently, b

[2016-09-20 06:28] nova0821 commented on #397
Bug is fixed with https://github.com/Samsung/iotjs/pull/400.

[2016-09-20 09:25] glistening opened #404 "UnicodeDecodeError on running check_test.py"
When running tests with tools/check_test.py, in some systems it shows folowing error:

multiprocessing.pool.RemoteTraceback:
"""
Traceback (most recent call last):
  File "/usr/lib/python3.4/multiprocessing/pool.py", line 119, in worker
    result = (True, func(*args, **kwds))
  File "/usr/lib/python3.4/multiprocessing/pool.py", line 44, in mapstar
    return list(map(*args))
  File "/home/yichoi/

[2016-09-20 12:38] yichoi commented on #404
#405 landed. closing

[2016-09-20 12:38] #404 closed

[2016-09-21 07:42] gudbooy opened #407 "cannot see the Coding Style Guideline"
I want to see the coding style guideline in wiki page but it only shows the main wiki page repeatedly.

[2016-09-21 07:48] yichoi commented on #407
@gudbooy I've fixed. please try again

[2016-09-21 07:49] gudbooy commented on #407
@yichoi Thank you:)

[2016-09-21 07:55] #407 closed

[2016-09-22 05:46] nova0821 opened #408 "Complete I2C module"
Implement I2C Module.
- [x] JS API
  - [x] i2c
  - [x] i2c.scan
  - [x] i2c.writeByte
  - [x] i2c.writeBytes
  - [x] i2c.readByte
  - [x] i2c.readBytes
  - [x] i2c.on
  - [x] i2c.stream
- [x] x86 linux dummy
- [x] arm-linux on Raspberry Pi
- [x] arm-nuttx on STM32F4-discovery
- [x] Create document

[2016-09-22 07:31] hs0225 opened #409 "Complete UART module"
- [x] JS API
  - [x] initialize
  - [x] read
  - [x] write
  - [x] on
- [x] x86 linux dummy
- [x] arm-linux on Raspberry Pi
- [x] arm-nuttx on STM32F4-discovery
- [x] Create document

[2016-09-22 08:28] glistening opened #410 "Complete SPI module"
Implement SPI module
- [x] spi constructor
- [x] transfer
- [x] transferSync
- [x] close
- [x] closeSync

Test SPI module
- [x]  arm-linux on Raspberry Pi2
- [x]  arm-nuttx on STM32F4-discovery

Write API documentation

[2016-09-23 06:28] yichoi commented on #201
Closing issue. Please reopen it again if necessary.

- Issue description is not sufficient: It is unclear if 'backtrace' means JavaScript stack backtrace or native stack backtrace. (or something else?)
- Currently it's impossible to print JavaScript stack trace, since jerry doesn't support this feature.
- Since it is easy to get backtrace information in linux target using debugger support, printin

[2016-09-23 06:28] #201 closed

[2016-09-30 05:16] esevan opened #420 "Any plan about BLE IoT.js module?"
IoT.js is a JavaScript platform for a very tiny device, and nowadays bunch of coin-cell backed devices emerge. Most of them use only P2P communication using BLE which is a super energy-efficient communication module. (cf. there's even a JavaScript platform named Puck.js (BLE + espruino) already)

Does anybody of the iotjs community have any plan to add a new ble module or port an existing ble modu

[2016-09-30 08:11] yichoi commented on #49
Closing since #417 merged.

Maybe we should re-consider the path with `node` in it. (in another issue)

[2016-09-30 08:11] #49 closed

[2016-09-30 08:56] yichoi commented on #211
Closing.

About direction 1), jerry allocator will be in charge of managing iotjs and libtuv memory management, which will be unreasonable burden.

And about direction 2), as @zherczeg mentioned, below conditions would be important:

- Efficient 8-byte aligned block allocation
- Restricting returned address as addr_max-addr_min <= 512K
- Efficient alloc(size) / free(ptr, size), i.e., without extra

[2016-09-30 08:56] #211 closed

[2016-10-03 06:41] gudbooy commented on #366
@yichoi
OK, I will handle soon

[2016-10-04 04:54] yichoi commented on #93
Closing.

C code will be harder to read, write, and maintain, etc. It can decrease development productivity, especially for current IoT.js whose [milestone 1](https://github.com/Samsung/iotjs/milestone/1) has not been finished yet. And it can be a bigger problem for developers who are familliar with node.js and v8 APIs, but not IoT.js and JerryScript APIs. They may even want to refer to existing c

[2016-10-04 04:54] #93 closed

[2016-10-05 07:44] yichoi commented on #357
Closing since PR #423 merged.

[2016-10-05 07:44] #357 closed

[2016-10-05 08:33] yichoi commented on #326
@scriptjs, @mikeal,

Hi. Recently I found that this issue is still open. So I read the guide in [this comment] (https://github.com/nodejs/node/issues/5021#issuecomment-199462228), and added some missing license in PR #419. So now,

* We're not modifing any of original copyright lines.
* If we are making local modification, our copyright line is added below original license.
* We will include copyr

[2016-10-05 08:45] sae-bom commented on #357
The reason for the problem was a conflict which was happened between Jerry's binary build option and library build option.
It has been fixed by PR #423
But in the future when you want to build JerryScript with compiler-default-libc(not jerry-libc) and static linking option, I recommend you to install some packages which contain 'static' libraries like pthread.a. Centos may not have those libraries

[2016-10-06 23:51] hyunjunekim opened #426 "Enhance UV exception on |CreateUVException|."
We should print some more information such as 'node.js'.
I guess that we need to fix up |CreateUVException| function, and also |After| function.

[2016-10-07 03:08] yichoi commented on #165
@cookiengineer , do you still have plan to work on it?

[2016-10-07 03:18] yichoi commented on #239
It seems not essencial feature since we do not support STM32F4 as a main development target anymore.

[2016-10-07 03:18] #239 closed

[2016-10-07 03:21] yichoi commented on #277
Current reference targets are STM32F4Discovery and Raspberry Pi 2. If further discussion needed please reopen it again.

[2016-10-07 03:21] #277 closed

[2016-10-07 03:24] yichoi commented on #278
Closing since it looks like rare case and hard to find my envinroment. @chaolaipi please let us know if this problem reproduced again.

[2016-10-07 03:24] #278 closed

[2016-10-07 03:27] yichoi commented on #283
Closing since libtuv is default async I/O library.

[2016-10-07 03:27] #283 closed

[2016-10-07 03:28] yichoi commented on #280
Closing since this issue is not reproduced at latest codes.

[2016-10-07 03:28] #280 closed

[2016-10-11 02:43] #403 closed

[2016-10-11 04:01] yichoi commented on #371
Closing since #418 and #431 has merged.

[2016-10-11 04:01] #371 closed

[2016-10-12 06:04] yichoi opened #436 "Make IoT.js modules build-time configurable"
Currently, every builtin modules are included in iotjs final binary.
However, some of the modules are not essential for every usage of IoT.js.
We should make it possible to select which module to include in binary at build-time.

[2016-10-12 06:26] yichoi commented on #398
Closing since Samsung/iotjs#435 merged

[2016-10-12 06:26] #398 closed

[2016-10-12 06:28] yichoi commented on #322
Closing since Samsung/iotjs#435 merged. genromfs is not needed anymore.

[2016-10-12 06:28] #322 closed

[2016-10-12 09:24] yichoi opened #439 "Change IoT.js source code from C++ to C"
In order to maximize portability for IoT devices, let's change IoT.js source code from c++ to c.

[2016-10-12 11:16] hs0225 opened #440 "Complete PWM module"
- [x] JS API
  - [x] initialize
  - [x] setPeriod
  - [x] setDutyCycle
  - [x] setEnable
  - [x] Unexport
- [x] Test PWM module
  - [x] arm-linux on Raspberry Pi2
  - [x] arm-nuttx on STM32F4-discovery
- [x] Write API documentation

[2016-10-13 00:36] yichoi commented on #324
Closing since current Nuttx build works with snapshot

[2016-10-13 00:36] #324 closed

[2016-10-13 00:47] yichoi commented on #92
Closing since #416 merged

[2016-10-13 00:47] #92 closed

[2016-10-13 00:59] chokobole opened #443 "Unexpected read-related system call on the NuttX side."
When call read-related system call with longer or equal than 1024 buffer size, it doesn't seem to work well.

For example, if type command like below,
[code]

I found that nothing happened, even though i put some of "console.log" in it.

So I tracked down what was happening, and I found belows.

[code]

read's value will be returned to 0.

Also, when you call fs.readFileSync API, it happens the sa

[2016-10-13 01:03] chokobole commented on #443
It is related to https://github.com/Samsung/iotjs/pull/434.

[2016-10-13 01:05] yichoi commented on #128
Closing since basic GPIO module completed

[2016-10-13 01:05] #128 closed

[2016-10-13 01:37] glistening commented on #399
As for now, I checked isssue #323 passes without the patch 54cd255. I will make a PR. If there is other reason for the change, Let me know.

In addition,

 93   IOTJS_ASSERT(_size >= 0);
 94   IOTJS_ASSERT(_cap >= 0);
 95
 96   if (_cap >= 0) {
 97     _data = AllocBuffer(_cap + 1);
 98   } else {
 99     _data = NULL;
100   }

line 98, 99, 100 seems strange. because line 94 says _cap is non-negat

[2016-10-13 06:16] yichoi commented on #443
Closing since #434 landed

[2016-10-13 06:16] #443 closed

[2016-10-13 06:46] LaszloLango opened #448 "Nominating Wonyong Kim (@chokobole) to become an IoT.js committer"
I would like to nominate Wonyong Kim to become a committer. He already has 11 patches:

#446 Fix check_tidy error
#435 Add targets for nuttx-stm32f4 to support nuttx main repository.
#434 Set read size to 1023 when read files for nuttx compatibility
#433 Implement chdir
#429 Update submodule 'libtuv' to the latest.
#428 Update submodule 'libtuv' to the latest.
#424 Fix ./tools/build.py --clean err

[2016-10-13 06:49] yichoi commented on #448
+1

[2016-10-13 06:49] zherczeg commented on #448
+1

[2016-10-13 07:37] yichoi opened #449 "Add support for JavaScript Array in binding layer"
- [ ] Add array support in binding layer
  - [ ] create array / check if object is array / ...
  - [ ] add support to easily iterate over array elements (esp. for sparse array, maybe in jerry?)
  - [ ] ... (TBD)
- [ ] Use array support in IoT.js
  - [ ] in `i2c` module, many APIs should use array as input parameter or callback argument
  - [ ] in `buffer` module, enable `new Buffer(array)`
  - [ ]

[2016-10-13 11:24] nova0821 commented on #449
I think it will be better to support more APIs in binding layer. For example, push(add) and pop(remove) for numbered index and named index will be very helpful.

[2016-10-13 21:36] yichoi commented on #399
Closing since #444 merged

[2016-10-13 21:36] #399 closed

[2016-10-14 00:41] nova0821 commented on #448
+1

[2016-10-14 00:44] glistening commented on #448
+1

[2016-10-14 00:45] haesik commented on #448
+1

[2016-10-14 00:58] hs0225 commented on #448
+1

[2016-10-14 01:14] hs0225 opened #454 "Build break for latest nuttx"
Deleted 'nuttx/gpio.h' header file and changed gpio api in latest nuttx.
If developers follow the document(https://github.com/Samsung/iotjs/blob/master/targets/nuttx-stm32f4/README.md) to build iotjs, they’ll have some problems.

/home/hosung/work/iotjs/my/iotjs/src/platform/arm-nuttx/iotjs_module_gpio-arm-nuttx.cpp:18:24: fatal error: nuttx/gpio.h: No such file or directory
 #include <nuttx/gpio.

[2016-10-14 01:49] glistening opened #455 "Building error when following nuttx-stm32f4 guide"
When following the instructions in https://github.com/Samsung/iotjs/blob/master/targets/nuttx-stm32f4/README.md, following error occurs:

[code]

In addition, on following page https://github.com/Samsung/iotjs/wiki/Getting-Started,
the link to Build for Nuttx (new) seems broken. It leads to main page ( https://github.com/Samsung/iotjs/wiki ).

[2016-10-14 02:12] cookiengineer commented on #165
I kind of put it on hold, due to some weird problems I got with some segfaults while running my code. I'm not sure if it's related to memory limits of the VM or if it's related to a bug in the code. The Debian package generation itself is pretty easy, as it just requires `ar` and `tar` as a binary.

- I don't know where to put the code for it?
- Is there something like an existing CI solution in p

[2016-10-14 02:32] yichoi commented on #455
Wiki is fixed

[2016-10-14 05:58] yichoi commented on #455
Closing since #456 is merged

[2016-10-14 05:58] #455 closed

[2016-10-14 06:50] glistening commented on #449
I made a PR for array creating and checking for char array. Please see #460.

[2016-10-17 00:31] yichoi commented on #448
Congratulations!

[2016-10-17 00:31] #448 closed

[2016-10-17 03:13] yichoi commented on #436
Closing since https://github.com/Samsung/iotjs/pull/458 merged

[2016-10-17 03:13] #436 closed

[2016-10-17 07:51] yichoi commented on #165
Hi. Before answering your questions, please note that I'm not an expert on debian packaging. As far as I understand, you're going to write a bundling logic, and that logic can be written first, and then moved to upstream Samsung repository.

* About where to put the code, if I understood correctly, it seems that it can be placed in some personal repository first, and then we can discuss it later a

[2016-10-17 11:23] LaszloLango opened #463 "Nominating Jaechul Yang (@nova0821) to become an IoT.js committer"
I would like to nominate Jaechul Yang to become a committer. He already has 10 patches:

#462 Implement I2C module (Open, Close, SetAddress, ReadBytes).
#461 Update document about Raspberry Pi.
#457 Create I2C module document.
#432 Add a license from node-i2c.(BSD-3).
#427  First Implementation I2C Module.
#400 Update submodule 'libtuv' to the latest version.
#390 Update submodule 'libtuv' to late

[2016-10-17 11:23] yichoi commented on #463
+1

[2016-10-17 11:28] chokobole commented on #463
+1

[2016-10-17 11:29] hs0225 commented on #463
+1

[2016-10-17 11:30] haesik commented on #463
+1

[2016-10-17 11:30] haesik commented on #463
+1

[2016-10-17 11:39] zherczeg commented on #463
+1

[2016-10-19 07:18] yichoi commented on #237
Closing since #450 landed. now we can test with JavaScript driver

[2016-10-19 07:18] #237 closed

[2016-10-20 05:29] chokobole commented on #311
@mulderp since #435 landed, the way to build nuttx was changed, I hope you to check it out. If there's no problem with build process, then please let me update so that i can close this issue!

[2016-10-20 06:19] chokobole commented on #311
Close since #435 landed. @mulderp  If there's a problem with build process, then please let me update.

[2016-10-20 06:20] chokobole commented on #311
Close since #435 landed. @mulderp  If there's a problem with build process, then please let me update.

[2016-10-20 06:20] #311 closed

[2016-10-20 06:43] chokobole commented on #306
close since as we mentioned here [hw-boards](https://github.com/Samsung/iotjs/blob/master/docs/Getting-Started.md#hw-boards), the optimization for stm seires boards are up to each developer.

[2016-10-20 06:43] #306 closed

[2016-10-20 07:35] yichoi commented on #85
Closing since #472 is merged

[2016-10-20 07:35] #85 closed

[2016-10-20 07:36] yichoi commented on #454
Closing since #468 is merged

[2016-10-20 07:36] #454 closed

[2016-10-21 08:15] nova0821 opened #474 "Complete BLE(Central) Module"
Complete BLE(Central) Module

Reference to node.js ble module - noble under MIT License.
(https://github.com/sandeepmistry/noble)

- [ ] JS API (ble)
    - [ ] ble.startScanning()
    - [ ] ble.stopScanning()

- [ ] JS Event (ble)
    - [ ] ble.on('stateChange')
    - [ ] ble.on('scanStart')
    - [ ] ble.on('scanStop')
    - [ ] ble.on('discover'): return peripheral JS object with callback functi

[2016-10-21 08:18] yichoi commented on #420
We are planning to support BLE with #474, If you want to join us, please check the status.

[2016-10-21 08:18] #420 closed

[2016-10-25 08:03] esevan commented on #285
Combining ideas of @Seo-Young and @lemmaa
![image](https://cloud.githubusercontent.com/assets/8223765/19677571/e0b1f0b6-9ad4-11e6-800f-352751235d15.png)

[2016-10-25 09:16] zherczeg commented on #285
Hm, I would raise the JS logo, so it it would not be aligned to the bottom of I and T letters, but in the center.

    %%%  %%%%%
     % /%\ %
     % %%% %
     % \%/ %
    %%%    %

[2016-10-26 04:40] yichoi opened #479 "iotjs_string_t should be able to handle strings with '\0' inside"
It has been only partially supported.

[2016-10-26 04:53] yichoi opened #480 "Re-enable skipped tests after TC driver update"
Below tests have been skipped after TC driver update. (#450)
They should be re-enabled / or removed from TC if not necessary.
- [x] test_cwd.js
- [x] test_exit.js
- [x] test_next_tick.js - It can be re-enabled if we use `setTimeout` instead of `process.nextTick` in test driver(`tools/test_runner.js`), but then jerry assertion occurs - ICE: Assertion 'ECMA_STRING_IS_REF_EQUALS_TO_ONE (string_p)' fa

[2016-10-26 04:56] yichoi commented on #480
(FYI) `$ iotjs tools/check_test.js -- start-from=test_uncaught_error1.js` fails with jerry assertion,
but `$ iotjs tools/check_test.js -- start-from=test_uncaught_error2.js` doesn't. (Tested with https://github.com/Samsung/iotjs/commit/63f1ab2cd7dbd8964ef3c8a09a25d05d621aea3e)

[2016-11-01 07:39] gudbooy commented on #474
@nova0821
I have thoroughly read the reference node.js module (called **noble**), however the internal JavaScript APIs (noble-Linux Version) have Glib-DBus (IPC) and Bluez (Bluetooth Native Daemon) dependencies.
I think that the BLE module on IoT.js should minimize such dependencies.
Thus, I think the best candidate is to implement socket interface with Bluez instead of DBus.
Could you let me know

[2016-11-02 13:22] LaszloLango opened #497 "Nominating Sanggyu Lee (@glistening) to become an IoT.js committer"
I would like to nominate Sanggyu Lee to become a committer. He already has 11 patches:

#496 Fix nuttx build break
#493 Enable error message description on debug build
#492 Update jerry submodule
#486 Add binding APIs for putting an element by index
#470 Implement fs.rename and fs.renameSync
#466 Implements fs.unlink(Sync) and fs.writeFile(Sync)
#460 Add array creation and testing API in binding l

[2016-11-02 13:38] zherczeg commented on #497
+1

[2016-11-02 14:43] chokobole commented on #497
+1

[2016-11-02 23:34] akosthekiss commented on #497
+1

[2016-11-03 01:28] hs0225 commented on #497
+1

[2016-11-03 01:37] nova0821 commented on #497
+1

[2016-11-03 02:05] nova0821 commented on #474
@gudbooy This document describes about ``Javascript API Interface``. We didn't decide yet which libraries are used for BLE implementation. However, IoT.js has the feature which use the different native part for each platforms, so I think it is ok to use any libraries on each platforms if there is no issue(like license issue). As you know, in ``Node.js``, it also implements the native part for each

[2016-11-03 05:30] chokobole commented on #229
close since [commit](https://bitbucket.org/nuttx/nuttx/commits/8a87e3ca6e29c4de5ab0dcb3edb806cf88dddbec) landed. (But this is an empty function.)

[2016-11-03 05:30] #229 closed

[2016-11-03 07:05] nova0821 opened #500 "Complete BLE(Peripheral) Module"
Complete BLE(Peripheral) Module

Reference to node.js ble module - bleno under MIT License.
(https://github.com/sandeepmistry/bleno)

Currently, I don't decide module name, so I use ``bleno`` - It will be changed.

- [x] JS API (bleno)
  - [x] bleno.on()
  - [x] bleno.startAdvertising()
  - [x] bleno.stopAdvertising()
  - [x] bleno.setServices()
  - [x] bleno.PrimaryService constructor
[code]
  -

[2016-11-04 01:15] yichoi commented on #497
Congratulation!

[2016-11-04 01:15] #497 closed

[2016-11-04 01:21] chokobole commented on #240
Close since tested running js driver(#472) on nuttx. if the path  is an absolute path, it works well.

[2016-11-04 01:21] #240 closed

[2016-11-09 02:17] nova0821 opened #515 "Nominating Hosung Kim (@hs0225) to become an IoT.js committer"
I would like to nominate Hosung Kim to become a committer.
He already has 10 patches:

#509 Implement PWM for linux
#494 First Implementation PWM module
#468 Implement GPIO module for latest nuttx
#465 Update nuttx-stm32f4.md
#445 Update GPIO document
#441 Update GPIO document
#438 Implement GPIO for nuttx
#425 Implement GPIO port for linux general
#392 Update the document about "Build-for-Linux"

[2016-11-09 02:24] yichoi commented on #515
+1

[2016-11-09 04:09] nova0821 commented on #515
+1

[2016-11-09 04:10] chokobole commented on #515
+1

[2016-11-09 04:12] glistening commented on #515
+1

[2016-11-09 05:28] zherczeg commented on #515
+1

[2016-11-10 00:02] yichoi commented on #515
Congratulations!

[2016-11-10 00:02] #515 closed

[2016-11-11 00:40] hs0225 commented on #341
@zoobab I removed limit about maximum number of pins. If your system supports it, you can use 508 pin.

[2016-11-11 00:41] hs0225 commented on #341
#519 landed. closing

[2016-11-11 00:41] #341 closed

[2016-11-12 22:51] nkolban opened #536 "Issues with macros in iotjs_module.h"
I am trying to compile iot.js for the ESP32 device.  I am using a cross compiler which is GCC v4.9.5.

During the compilation, we try and compile `iotjs_exception.c` which at line 17 includes `iotjs_def.h`.

At line 151 of `iot_def.h` we then include `iotjs_module.h` and it is here where things go wrong.  The full compiler output is as follows:

[code]

Before creating this issue, I tried to diagn

[2016-11-12 23:06] nkolban commented on #536
Aha ... looking at the code ... it seems that I **need** defines for ENABLE_MODULE_BUFFER to be 0 or 1 for all the modules.

[2016-11-12 23:06] #536 closed

[2016-11-16 08:04] yichoi commented on #439
Done

[2016-11-16 08:04] #439 closed

[2016-11-22 05:44] sinban04 opened #551 "Internal Build Problem on Raspberry Pi2"
I tested building iotjs on the raspberry pi 2.
(There was advance of build system enabling to build on the raspberry pi 2 #437 )

In the middle of building, there was some error and I'm trying to solve it.
is it right that current iotjs code has bug inside ?

I will attach my result of building on the raspberry pi 2
![0](https://cloud.githubusercontent.com/assets/15901475/20512288/bfae5d84-b0c1-11

[2016-11-22 05:57] nova0821 commented on #551
@sinban04 Thanks to report it. I checked your error messages, it looks like you need to install ``cmake`` to build libtuv.

I will update wiki document. (Build for RPi 2 - Build IoT.js on Raspberry Pi 2 section.)

[2016-11-22 05:58] #551 closed

[2016-11-22 06:32] sinban04 commented on #551
Oh Thanks, I newly set up the raspberry pi 2, so probably there would have benn no cmake program, installed on the raspberry pi 2

[2016-11-22 06:53] nova0821 opened #552 "valgrind is failed while build IoT.js on RPi 2"
It is failed with below messages:

[code]

Need to chek valgrind environment.

Until this issue is fixed, the option ``-no-check-valgrind`` will be set ``true`` when ``target-device=rpi2``.

[2016-11-22 08:12] esevan commented on #474
@nova0821 Do you have any progress on BLE Central? As I checked on your private fokred repository, only ble peripheral is being implemented. If it is, could you assign this project to me for a week? I want to try to implement this based on bluez for raspberry-pi2 version.

[2016-11-22 08:35] nova0821 commented on #474
@esevan Yes, I am working on BLE peripheral now.(``ble`` branch on my repo) - no progress on BLE central module.

If you want to try to implement BLE central module, you can try it! Welcome!!

Ubuntu and Raspbian should support BLE module(both central and peripheral). On Ubuntu, it will run with USB Bluetooth 4.0 dongle. Both platform have bluez library, so I guess, it will work with same codes.

[2016-11-22 08:52] glistening commented on #26
I checked streams's basic APIs works in our main supporting platforms. So I close it.

[2016-11-22 08:52] #26 closed

[2016-11-22 08:54] glistening commented on #28
I checked File System's basic APIs works in our main supporting platforms. So I close it.

[2016-11-22 08:54] #28 closed

[2016-11-22 09:38] esevan commented on #474
@nova0821 I've also tried to come up with an idea about the module name of peripheral and central. According to blueZ HCI library ([See example here](https://github.com/carsonmcdonald/bluez-experiments)), scanning and advertising APIs have same prefix hci_le_ or le_ which does not represent if it is used as central or peripheral.
 I agree with that the users may be confused with same module name "

[2016-11-23 01:42] glistening commented on #426
Currently we use iotjs_create_uv_exception (renamed from CreateUVException), it uses uv error number, and shows error string defined in libtuv/include/uv__error.h. We removedd some of the error strings from uv since we want to reduce footprint. What error messages do you need? Could you please explain more what fix up do you want? Furthermore, there are errors from jerryscript. It does not print e

[2016-11-23 01:46] RedCarrottt opened #555 "Complete OS Module"
Complete OS Module

I think we need OS module in order to access running system's status.

Refer to [node.js os module](https://nodejs.org/dist/latest-v6.x/docs/api/os.html).

- [ ] os.cpus()
- [ ] os.endianness()
- [ ] os.freemem()
- [ ] os.homedir()
- [ ] os.hostname()
- [ ] os.networkInterfaces()
- [ ] os.totalmem()
- [ ] os.uptime()
- [ ] os.userInfo()

[2016-11-23 01:47] RedCarrottt commented on #555
I will implement this module.

[2016-11-23 01:56] yichoi commented on #555
Thanks for your interest in IoT.js however our primary goal is not to expand APIs like node.js but focus on minimum optimized set of APIs. I am afraid that I do not think this APIs are necessary.

[2016-11-23 02:02] #555 closed

[2016-11-23 02:16] sinban04 commented on #409
I'm going to implement this part, is it right that this part is not implemented yet?
When i see the docs, there is no document related to uart, so i think it's not implemented yet.

[2016-11-23 02:21] glistening commented on #361
You seems to be asking libtuv or libuv, not JS level. Is it right? Could you give me more information what you had tried? What device do you use? x86 desktop? RPI2 ? STM32F4discovery on nuttx ? Could you show your test code?

[2016-11-23 02:24] nova0821 commented on #474
@esevan I also thought to using one module name ``ble`` for central and peripheral. However, it is not a good idea because IoT.js is focused to small device - we need to reduce code size.

Since we already have excluding modules which are not needed in compile time, I think we need to separate BLE central and peripheral. Also, there is no use-case to use both module in same time.

How do you think

[2016-11-23 02:29] sae-bom commented on #409
I'm sorry that this part is already in progress. The code for UART on linux is internally almost done.

[2016-11-23 04:54] esevan commented on #474
@nova0821 I agree. I'm going with ```ble-central```

[2016-11-23 05:58] RedCarrottt commented on #410
Do you have a progress in implementing SPI module? If you don't have a progress, I will handle it.

[2016-11-23 06:10] yichoi commented on #410
We have implemented SPI but we could not test enough because there is not proper H/W to test this module. I think we need to find proper H/W first.

[2016-11-23 09:23] hyunjunekim commented on #426
@glistening Could you check this codes on 'module_fs'?
https://github.com/Samsung/iotjs/blob/master/src/module/iotjs_module_fs.c#L72

And i think this issue is ambiguous about context. So also closed this issue. Thank you.

[2016-11-23 09:23] #426 closed

[2016-11-23 13:10] RedCarrottt commented on #449
Is there any progress in this issue? If anyone did not made a progress, I want to handle it.

[2016-11-24 01:36] glistening commented on #449
We intentionally don't put more time into this issue since we don't want to make APIs bigger. We want to keep minimal and necessary APIs.

[2016-11-24 01:50] glistening commented on #449
All the issues posted are in progress or in pending for some reason. Therefore I recommend you suggest your proposal in issue. You can refer to the guide in [Development-Process](https://github.com/Samsung/iotjs/wiki/Development-Process), especially in [Feature developmentprocess](https://github.com/Samsung/iotjs/wiki/Development-Process#feature-development-process).

[2016-11-24 08:19] esevan commented on #474
We're going to implement the ```ble-central``` module as described below.

The ```ble-central``` is based on [noble](https://github.com/sandeepmistry/noble) npm packages on Node.js.
Entire parts of noble are actually implemented in JS language with several dependent modules, e.g. bluetooth-hci-socket, websocket, and xpc. In case of our implementation, however, we're planning to cut those dependenc

[2016-11-24 10:57] gudbooy opened #564 "Porting IoT.js to Artik5/10"
We have been trying to port IoT.js to Artik 5/10 (Fedora Platform) in order to use it in the graduate course.
Actually, it has almost done (currently dealing with minor tests and eliminating the warning messages).

So, my question is that we can PR this ?

PR will include following things
- Artik5/10 Documentation ( Internal, Cross-compile build manual )
- Minor modification on build.py
- Eliminat

[2016-11-25 06:10] hs0225 opened #566 "Complete OCF"
Implement OCF(Open Connectivity Foundation)

- [ ] core
  - [ ] initialize
  - [ ] get_properties
  - [ ] setup_properties
  - [ ] free_ocf

- [ ] server
  - [ ] initialize
  - [ ] create_resource
  - [ ] create_response
  - [ ] create_request
  - [ ] get_handler
  - [ ] put_handler
  - [ ] delete_handler
  - [ ] post_handler
  - [ ] notify
  - [ ] register

- [ ] client
  - [ ] initialize
  - [ ]

[2016-11-25 06:30] nova0821 commented on #564
@gudbooy We have a plan to release IoT.js version 1.0 in next year 1Q. (Please see - https://github.com/Samsung/iotjs/milestone/5)

I think there will be many changes in APIs and build script file until version 1.0 is released.
Therefore, I think it will be better to keep your changes in your repo and request PR after version 1.0 is released.

[2016-11-25 06:56] gudbooy commented on #564
@nova0821
Okay, I will PR after the version 1.0 is released.

[2016-11-25 07:49] LaszloLango commented on #566
What is the motivation of re-implementing instead of using iotivity-constrained?

[2016-11-25 11:52] RedCarrottt commented on #566
I have a great interest in OCF support of IoT.js since I have a plan to make a graduate school lecture covering IoT.js and IoTivity.
Does the OCF IoT.js module just use existing IoTivity or IoTivity-constrained as a library?

[2016-11-26 09:34] esevan commented on #211
@yichoi About direction 2, I don't think we need to allocate the memory in unit of every allocation. If we expand the allocation granularity from the object to 8KB or 16KB and keep multiple memory bases instead of a single heap base, we can still use compressed pointer as well as reduce waste by over-provisoned heap.

Here is the current memory waste in several IoT.js module test codes when 256KB

[2016-11-28 00:36] yichoi commented on #566
@LaszloLango Basically, I am going to use iotivity-constrained however As far as I know, iotivity-constrained does not support nuttx and our target (you might aware of this). I am thinking whether we should implement iotivity-constrained for nuttx and our target. Alternatively, I could assume that there will be implementation of iotivity-constrained for nuttx and our target then only support Linux

[2016-12-07 04:14] hs0225 opened #578 "Complete ADC module"
- [x] Implement ADC module
  - [x] ADC constructor
  - [x] read
  - [x] readSync
  - [x] unexport

- [x] Test ADC module
  - [x]  arm-nuttx on STM32F4-discovery

- [x] Write API documentation

[2016-12-07 05:52] yichoi commented on #440
Done

[2016-12-07 05:52] #440 closed

[2016-12-16 05:00] hs0225 commented on #578
Done

[2016-12-16 05:01] #578 closed

[2016-12-16 05:03] glistening commented on #361
Recently we added support for uv_poll_init, uv_poll_start and uv_poll_stop on linux and nuttx. I close this issue.

[2016-12-16 05:03] #361 closed

[2016-12-16 05:09] glistening commented on #321
We don't have plan to provide pre-built binary. There are many combinations of binaries from iot.js since we support several platforms and modules that is configurable.

[2016-12-16 05:09] #321 closed

[2017-01-06 07:44] rtakacs commented on #285
Just a note:

If the project will support other JS engines (see [wiki](https://github.com/Samsung/iotjs/wiki/Inside%20IoT.js#javascript-binding)) the logo should not refer to JerryScript.

[2017-01-11 10:46] loki04 opened #596 "One document to rule them all"
It would be lovely if there is only one place for the documentation of iotjs.

1.- Currently there is a minimal introduction of iotjs via gh-pages,
2.- there is a wiki at github which might be the most up-to-date documentation,
3.- and finally there is `doc` sub-directory under the git branches of iotjs - which is based on wiki with differences and outdated content.

How about if there will be onl

[2017-01-13 11:48] loki04 commented on #596
Maybe it will be even better if iotjs just simple uses its `docs` folder and does not spread the information across different places. I am going to share a simple solution very soon.

[2017-01-17 14:16] vprunet commented on #360
buffer[ index ] is not supported (by JerryScript).
The buffer API does not provide any function to read/write individual byte values.
buffer.toString is fairly limited as this function hangs when a buffer value does not represent a valid string.

Am I the only one needing to read and write arbitrary data from a buffer (in particular to handle tcp/ip data)?

We have extended the Buffer API with rea

[2017-01-17 14:43] vprunet opened #600 "#491 patch broke tcp on STM32F4"
Patch #491  introduced extra \e\n\d characters in tcp sockets (on STM32F4/nuttx) with several unfortunate effects for real use :
- if the other end is not iot.js/Nuttx and the socket close is initiated by the Nuttx side, the extra \e\n\d is not understood by the receiving party (for example a third party web server).
- even on Nuttx, iot.js hangs  if tcp data contain arbitrary binary characters. T