[2017-01-18 06:18] glistening commented on #600
Yes. You're right. Patch #491 is incomplete. However, removing this patch makes even our simple TCP test cases hang when running on STM32F4. I think both solutions (removing and not removing) are not complete. I think we need to investigate the reason of not returning EOF on Nuttx. But I am not good at Nuttx internals.

[2017-01-18 11:35] pmarcinkiew opened #601 "Build fails at Raspberry Pi2 Raspbian Jessie"
I cloned IoT.js:

         pi@raspberry:~/src $ git clone https://github.com/Samsung/iotjs.git

When I run build script it fails with missing architecture for armv6l:

        pi@raspberry:~/src/iotjs $ ./tools/build.py --target-board=rpi2
        =================================================
         --jerry_heaplimit: 256
         --target_board: rpi2
         --target_arch: armv6l

[2017-01-18 13:34] rtakacs commented on #601
Did you try with `tools/build.py --target-board=rpi2 --target-arch=arm` ?

[2017-01-18 13:53] rtakacs opened #602 "JerryScript update"
The currently used **JerryScript** is almost the 1.0 Release (28/10/2016). I would like to update it, because there were several fixes and improvements since the last update. What's more, a new ES6 feature has been introduced, namely typed array. I would like to create a PR when #1532 will land at Jerry side.

What do you think?

[2017-01-19 00:27] yichoi commented on #602
I would like to check the memory size first with 1.0 release and the current one.
If the memory size is not increase seriously, It might not a big problem.

[2017-01-19 00:36] jiangzidong commented on #602
@rtakacs  Please note that the patch 1532 does NOT implement all features of typedarray.
It implements the constructor, set/get/define/list/delete operation, and conversions of different types.
It does NOT implement many prototype methods of typedarray, e.g. slice, sort, some, forEach,...,  which will be implemented in the following patches.

[2017-01-19 08:09] LaszloLango commented on #602
@yichoi, RPi2 results of release JerryScript and current master:

**Note**: Only ES5.1 features are enabled!

Benchmark | Heap (bytes) | Stack (bytes) | Perf (sec) |
----: | ----: | ----: | ----: |
3d-cube.js | 16376 -> 16376 : 0.000% | 18008 -> 15120 : +16.037% | 0.938 -> 0.852 : +9.127% |
3d-raytrace.js | 161152 -> 128520 : +20.249% | 3740 -> 2596 : +30.588% | 1.112 -> 1.050 : +5.540% |
access-b

[2017-01-19 08:30] bzsolt commented on #602
@LaszloLango The binary size is `140208` byte on RPi2.

[2017-01-19 08:34] LaszloLango commented on #602
@bzsolt, thank you. `es2015-subset` or `es5.1` profile?

[2017-01-19 08:50] jiangzidong commented on #602
according to  my measurement on RPI2, binary size for es5.1 is `140208` , and for es2015 is `144320`

[2017-01-19 10:14] jiangzidong commented on #602
@LaszloLango ec14622cb1's binary size is also `140208` in my RPI2... so their is no binary size regression of patch 1532.

I just run `./tools/build.py` in RPI2, and use `ls -l` to see the binary size

[2017-01-19 10:27] LaszloLango commented on #602
@jiangzidong, 136K is the size of the minimal main implementation. Try
`./tools/build.py --jerry-cmdline-minimal=on` and `ls -l ./build/bin/jerry-minimal`

[2017-01-19 11:12] jiangzidong commented on #602
I see, the size of jerry-minimal after patch 1532 is 136128

[2017-01-19 18:52] pmarcinkiew commented on #601
# Introduction

Thank you for this suggestion. It was helpful but still build is not possible without very significant modifications to build scripts.

I compiled iotjs binary with _arm_ architecture with my changes but it crashed in some random places.

I see that some build scripts in submodules for IoT.js ignore _arm_ target architecture option passed from _build.py_ and use _armv6l_ detected b

[2017-01-20 06:59] glistening commented on #601
From your first comment's build log, _tools/build.py_ seems to recognizes your system as `armv6l`.
In iot.js sources, I cannot find any string of `armv6l`. I want to check whether it comes from your RPI2 system.

Could you give me what your RPI2 says when you type:

    uname -a

In my case,

    Linux raspberrypi 4.4.38-v7+ #938 SMP Thu Dec 15 15:22:21 GMT 2016 armv7l GNU/Linux

[2017-01-20 10:34] pmarcinkiew commented on #601
My kernel architecture is marked as armv6l:

    pi@raspberry:~ $ uname -a
    Linux raspberry 4.1.19+ #853 Wed Mar 9 18:04:48 GMT 2016 armv6l GNU/Linux

[2017-01-20 10:41] pmarcinkiew commented on #601
I forget to mention one more issue. The guide for Raspberry Pi fails to mention dependency to _libbluetooth-dev_.

In my opinion this and info about _no-parallel-build_ flag should be added to guide to make it easier to build for Pi.

[2017-01-22 23:26] glistening commented on #601
@pmarcinkiew
When we test on the official image (https://www.raspberrypi.org/downloads/raspbian/) as is (e.g., `2016-05-27-raspbian-jessie.img`), it returns the architecture as `armv7l`. Could you give me how do you installed the raspbian `armv6l`? Old version raspbian? or is there way to select raspbian image?

For the guide for Raspsberry Pi document, I also found there is no description about `

[2017-01-23 02:28] nova0821 commented on #601
@pmarcinkiew The guide for Raspberry Pi will update when BLE module is completed.

Sorry for delaying the document update. Thanks.

[2017-01-23 08:36] pmarcinkiew commented on #601
I'm using older RPI2 image with kernel 4.1.19+. I used Noobs image:

        https://downloads.raspberrypi.org/NOOBS/images/NOOBS-2016-05-13/

I installed it on May 2016 so it has older architecture as default.

I'm afraid that my problems are unclear for you because I failed to prepare patch.

I'm going create commit with version of IoT.js, which builds at my machine so you can understand how val

[2017-01-23 15:00] pmarcinkiew commented on #601
I prepared [commit for IoT.js](https://github.com/pmarcinkiew/iotjs/commit/cc0d9bf19dd0e92d13876ae3006f980dc271d985) and [commit for libtuv](https://github.com/pmarcinkiew/libtuv/commit/88edc81ea21d0d7c61acc8e7c043f94d6350f5fd)

# Armhf architecture is used for CPU.
# gcc used as compiler
# all compilation flags removed

[2017-01-27 08:26] lastmjs opened #609 "No IoT.J's package manager"
I was looking at some slides from an IoT.js presentation, and one of the items under future work mentioned a package manager for IoT.js modules. I just want to say that I really hope that does not happen. Since NPM already exists, why not continue to use it and improve it, thus keeping the JS community unified and making IoT.js modules much more discoverable than they might be in a whole new packa

[2017-01-27 08:34] lastmjs opened #610 "Potential merge with Node.js"
If Node.js becomes extensible so that other JS engines are able to be used instead of V8, such as JerryScript, would it be possible to somehow merge IoT.js into Node.js, or even get rid of IoT.js and just use Node.js with JerryScript to get the same benefits that IoT.js is seeking currently?

https://www.google.com/amp/s/blogs.windows.com/msedgedev/2016/11/29/node-chakracore-vm-neutrality/amp/?cli

[2017-02-08 13:03] lauriro opened #617 "Wrong scope in modules"
`this` refers to the `exports` in Node.js, but to `module` in IoT.js

[code]

[2017-02-10 00:32] glistening commented on #617
I've checked the different behaviors. And I cannot find reason to behave differently against node. So we would like to resolve it. We will investigate this issue and fix it. If you have solution, please could you kindly push the PR?

[2017-02-10 09:33] lauriro commented on #617
#620

[2017-02-13 06:22] lsmIndex opened #622 "build error, /usr/bin/ld: cannot find -lbluetooth"
When I build, there are error like this..
"/usr/bin/ld: cannot find -lbluetooth"
What else module should I install?

Scanning dependencies of target libiotjs
[ 11%] [ 11%] [ 11%] [ 15%] Building C object CMakeFiles/libiotjs.dir/src/module/iotjs_module_process.c.o
Building C object CMakeFiles/libiotjs.dir/src/iotjs_string_ext.c.o
Building C object CMakeFiles/libiotjs.dir/src/iotjs_js.c.o
Building C

[2017-02-13 06:23] nova0821 commented on #622
@lsmIndex Hello, bluetooth lib dependency will be removed after https://github.com/Samsung/iotjs/pull/621 is merged.

[2017-02-13 07:16] #617 closed

[2017-02-13 07:19] LaszloLango commented on #622
@lsmIndex, until it is not landed you must install `libbluetooth-dev`

[2017-02-13 10:53] yichoi commented on #622
closing. #621 is merged

[2017-02-13 10:53] #622 closed

[2017-02-16 03:52] hs0225 opened #628 "Update Buffer API"
Compared with node.js, the buffer API of iot.js couldn't support many features.
I would like to update it for latest node.js compatibility.

 - Deprecated API : new Buffer(array/buffer/size/string)
 - Add API
   - create : Buffer.alloc, Buffer.from
   - array buffer : Buffer.from(arayBuffer)
   - [] operator : buf[index]
   - readDouble, writeDouble, readFlat, writeFloat

To add new features, we n

[2017-02-16 04:53] nova0821 opened #629 "Define extended modules' API convention rules."
Because we implemented extended modules from public ``node.js`` modules(like node-i2c) , API style of them is not equal.

For example, some modules have ``close()`` function and other have ``unexport()`` function which have same role. Also, some modules need to make each object using ``new`` and other can be get by using ``open()`` function. I think user can be confused using these APIs.

That's w

[2017-02-16 04:56] yichoi commented on #629
Please post general convention of APIs here

[2017-02-16 05:08] nova0821 commented on #629
@yichoi I think it will better to make as a WIKI document to explain general convention of APIs, because developers who want to implement new extended modules need to follow our convention.

I will make general convention of APIs as a WIKI document and make PR.

[2017-02-16 06:11] yichoi commented on #629
Ok

[2017-02-16 07:56] kolipka opened #631 "Javascript coding convention"
I would like to start conversation about JS coding convention. On wiki https://github.com/Samsung/iotjs/wiki/Coding-Style-Guideline#coding-style-guideline-for-javascript there is information about few selected rules from google coding guidelines. This is missleading:
1. Do we use whole google guidelines and selected rules are just exceptions?
  Propably not since selected rules are in line with go

[2017-02-17 04:16] nova0821 commented on #631
I am not first author of guideline, I understand like below:

1. Developer must follow the guideline which is mentioned in guideline.
2. If there are some ambiguous cases, developer can search in google's rule and recommend to follow it.

@kolipka Can you write some rules which is not general in JS community? or need more additional rules? Give us more detail example not just URL.

[2017-02-17 14:42] kolipka commented on #631
OK, this is not a simple request :)

There is a lot of rules. Google does specify only some of them (~55 from more than 250) while others explicite sets them all. Problems I see in google:
allows this:
 - http://eslint.org/docs/rules/no-cond-assign (if (a=1) - is OK - source of hard to find errors)
 - http://eslint.org/docs/rules/eqeqeq (does not enforce === and !==)
 - var shadowing
and a lot mor

[2017-02-20 06:20] nova0821 commented on #631
@kolipka Could you update our rule document(in https://github.com/Samsung/iotjs/wiki/Coding-Style-Guideline) and make PR? (You can find the document file in ``/docs/help``.)

If you want to update JS coding style rule, you need to make more specific document because we already have our rules in there. I think it will be better to discuss with your proposed rules.

After our JS coding style rule is

[2017-02-20 07:58] kolipka commented on #631
@nova0821 I would love to edit Wiki, but have no access to do that. Actually I would write there two sentences:
We are following airbnb rules described in details [here](https://github.com/airbnb/javascript) without any exception as of today. Please check your PR with tools/eslint.sh before you submit.

Otherwise I would have to describe ~200 rules :)
Actually if we want to keep 80 char line with,

[2017-02-20 09:59] nova0821 commented on #631
@kolipka You can update Wiki document by making PR in ``docs`` folder. (https://github.com/Samsung/iotjs/blob/master/docs/help/Coding-Style-Guideline.md)

When review of your PR(About Wiki document), one of committer will merge it to Wiki page.

I think we have the rule which is not matched with airbnb's That's why I request you to update Wiki document. Please check the difference with our rule an

[2017-02-20 10:49] kolipka commented on #631
@nova0821 I made #639

Since we actually don't enforce google rules on our code, I don't think we need to list all rules changes. There are most propably 200 ESLint rules not defined by Google, so it would be a lot to describe.

From this PR it will be checked automatically, so no need to remember all of them. You can also use ESLint with --fix and it will fix a lot of them automatically.

[2017-02-20 11:55] hs0225 commented on #631
The code style rules may change depending on the setting of eslint.
For example, `if` statement must need braces in PR #627. But node.js allow that `if` statement could be used without braces.
In my opinion, although we can not guild all of the rules, we need to explain the rules that are used frequently.

And in PR #627, 4 spaces are used after `if` statement on a single line. But 1 space or 6 sp

[2017-02-20 12:03] kolipka commented on #631
@hs0225 We will not use few rules frequently. We will use ALL ESLint rules always.

Please check #639 - all ESLint rules are explicitely set and explained. This is why I want to use those settings, #627 will be changed to reflect what we will agree here. In fact I should abandon it, and make it again when we agree on rules.

[2017-02-20 14:49] tadziopazur opened #641 "Nuttx on master does not build"
As of: 9b68d22867c3028149826fb8a882c68ea3d7b867

The script happily goes thru the failure, as build_nuttx() return value is ignored.
As a side note: setup_nuttx_root() also returns False, but the return value is (also) ignored.

$ rm -rf build/
$ tools/precommit.py --test=nuttx
(...)
cp /opt/iotjs/iotjs.git/build/arm-nuttx/release/lib/lib* .
cp: cannot stat '/opt/iotjs/iotjs.git/build/arm-nuttx/re

[2017-02-20 16:15] Felipeasg commented on #641
I also have this failure following the instruncions [here](https://github.com/Samsung/iotjs/blob/master/targets/nuttx-stm32f4/README.md) and [here](https://github.com/Samsung/iotjs/blob/master/docs/build/Build-for-NuttX.md).

But this seems like missing libapps.a due the app in **./nuttx/apps/system/iotjs** that is copied from directory **./iotjs/targets/nuttx-stm32f4/app/***.

To fix this problem

[2017-02-20 17:59] Felipeasg commented on #641
I was able to advance a little.

Knowing that the problem was on the line 553..559 of file **iotjs/deps/libtuv/src/unix/fs.c** I decided to check how nuttx define the **stat struct** on file  _**include/sys/stat.h**_. So I found the following

[code]

If you got to line 553 of file **iotjs/deps/libtuv/src/unix/fs.c** You will find the following (when you compile to nuttx):

[code]

Then I comment

[2017-02-20 23:15] Felipeasg commented on #641
I fix this problems. The code could not access the tv_sec and tv_nsec directly, because they are **Internal Fields**, them you need to use **itimerspec struct** to get the stat time.

I change the lines 553 to 558 of file iotjs/deps/libtuv/src/unix/fs.c by the following:

[code]

and the line 568 and 569 to the following code:

[code]

after that go to nuttx folder and copy the .config of iotjs (l

[2017-02-21 01:07] glistening commented on #641
The following flags are not related to nuttx.
[code]

For nuttx, the compilation was intended to use the code in the last #else
[code]
We must find out why the compilation is trying to include the code.
We will check it further.

On my build system, when I build with following commit from 31st, Jan, I have no problem building nuttx.

24b30f1 2017-01-31 Add BLE js and implements bindRaw, emit('data

[2017-02-21 01:49] yichoi commented on #631
Airbnb rules are based on ES2015. so it may not the best choice for IoT.js.
I don't want to change the existing rules but just clarify and specify the existing rules.
I think coding rules are somewhat religious. If the opinions are diverged, I will decide by myself.

[2017-02-21 03:39] hs0225 commented on #409
Done.

[2017-02-21 03:39] #409 closed

[2017-02-21 11:32] kolipka commented on #631
To clarify:
* Config i suggest uses airbnb-base/legacy - it is for ES5 only, not covering ES6+
* I made simple check aginst current (eslint-config-google) rules. **We violate it in ~600 cases**.
* Comparison of our (explicit) rules agains proposed AirBnB ES5:
1. var (ESLint: 'no-undef', **the same**)
**violated: 35 times**
eg.: http_server.js:118:10 (key), http_outgoing.js:184:25(msec)
2. semicolo

[2017-02-21 12:19] LaszloLango commented on #631
Just a quick note. I'm not familiar with eslint, but if it isn't only a style checker (indentation, case convention, etc.), but reports deeper issues (e.g. best practice violations), then we must do the JS changes carefully. They might have some impact on memory consumption too. They shouldn't, but might be.

[2017-02-21 13:07] kolipka commented on #631
@LaszloLango For now we have no rules so I think it is worse, When you will encounter such rule, we can change it with one line in eslint config to find all places where we have a problem.
Anyway: is there any guideline about cost of some constructs in JerryScript? Eg.: we usually use caching:
var someVal = myObject.someVal;
I expect it gives performance improvement but at the cost of memory. I wo

[2017-02-21 13:20] LaszloLango commented on #631
@kolipka, using eslint is defiantly in improvement. :) The memory usage of JerryScript in IoT.js is under investigation at the moment. I cannot say now what constructions should be avoided in the future development or is there any. What we need is to able to measure the memory usage consistently. But it is independent from eslint.

[2017-02-22 01:45] Felipeasg commented on #641
I noticed that.. some flag may be wrong defined on build process, but is the correct way to passa the tv_sec and nv_sec information from stat? couldn't be better use the itimerspec?

To solve the problem temporarily, I remove the code defined by others flags and left only the last #else  as you mentioned above, but accessing throuth itimerspec.

Thanks by the response.

Att.

Felipe

[2017-02-22 05:28] nova0821 commented on #631
@LaszloLango @kolipka

I also agree using eslint is better than now. We need to decide which rules in there and how we provide JS coding style guide for user.

In my opinion, we need to choose the rules which we really need and write minimal document.
@kolipka says he suggest to use ``airbnb-base/legacy - it is for ES5 only, not covering ES6+``, but it looks he linked the guideline document(https:

[2017-02-22 05:36] nova0821 commented on #500
Closed.

[2017-02-22 05:36] #500 closed

[2017-02-22 05:37] nova0821 commented on #408
Closed

[2017-02-22 05:37] #408 closed

[2017-02-22 08:49] kolipka commented on #631
@nova0821 guide document describe all rules available in ESLint. I think it is OK since maybe some day we will use also ES6+ too. Anyway ESLint will check only ES5 rules.
I do not know what Code Editor you are using but most of them (even Vim) can read .eslintrc and will guide / display errors, so you do not have to remember any of those rules.
I am against extracting only few rules since I think

[2017-02-22 13:23] kolipka opened #644 "Change architecture to support plugins"
Since we are targeting low hardware spec devices, we should care about having slim IoT.js binary. On the other hand we have to deliver solution that is simple to use by developers.

Number of our modules constantly grows: BLE, TLS/SSL + HTTPS, CoAP, etc. Those are rather big modules.

I would like to suggest discussion about plugin architecture. We could remove most of the modules from core, and l

[2017-02-23 09:10] kolipka opened #645 "Question about precommit.py"
https://github.com/Samsung/iotjs/blob/master/tools/precommit.py#L120
we add modules specified as excluded to included. Since this script builds on Travis, is it for a purpose to test something?

[2017-02-23 09:33] hs0225 commented on #645
Yes. This is to test all modules which include excluded modules.

[2017-02-23 09:36] kolipka commented on #645
@hs0225 OK thanks.

[2017-02-23 09:36] #645 closed

[2017-02-23 12:44] tadziopazur commented on #645
I think this could be done a bit differently - can we have explicit configurations for Travis to run thru?
Right now modules that are not used (in certain build) still would be included in test build.
I.e.: if we have two modules that cannot work together, the precommit would still verify a build with them both enabled.

If we had explicit test configurations (we have a test/ directory to hold the

[2017-02-24 04:38] hs0225 commented on #641
@Felipeasg I also have no problem building nuttx. Can I know which of following flags is on?
[code]
I think, I would rather define `nuttx` explicitly like other platforms.
[code]

[2017-02-24 09:02] renatahodovan opened #648 "Assertion `!throws' failed in iotjs_jhelper_call_ok"
###### IoT.js version:

[code]
###### OS:

[code]
###### Test case:

[code]

###### Backtrace:

[code]

<sup>Found by  [Fuzzinator](http://fuzzinator.readthedocs.io/)</sup>

[2017-02-26 14:12] Felipeasg commented on #641
Sorry by the delay.

I checked the file **build.config** on iotjs folder and I saw de definition  "-D__NUTTX__" in "compiler_flags" field.

[code]
But using some **#pragma message** I discovered that the flag defined detected in **./dev/libtuv/src/unix/fs.c**  is  **"_DEFAULT_SOURCE"**.

Thanks again.

Att.

Felipe

[2017-03-01 11:13] tosyu opened #656 "Full UART implementation"
IoT.js UART implementation does not satisfy UART standard, as it does not support the most common options for serial devices. The only thing that is supported:

- baduRate (this does not even support the whole range of rates)
- dataBits

Missing:

- xon/xoff
- parity
- stop bits

[2017-03-02 13:33] tadziopazur opened #658 "PWM API is non-portable and insufficient"
PWM API has currently several issues:

1. Implementation leaks to the interface level (both period and dutyCycle are specified in nanoseconds, instead of seconds)
2. There are platform limits to PWM chips (i.e.: minimum and maximum period, duty cycle limits and granularity). There is no way to find out these limits from JS application
3. There is no way to find out current period/duty cycle values

[2017-03-09 09:41] cztomsik commented on #631
standard?
http://standardjs.com/rules.html
there are no configs -> no decisions to make :)

[2017-03-14 12:59] akosthekiss commented on #648
The following snippet has the same effect:
[code]

The root cause is that the unhandled exception handler is implemented in JS (in iotjs.js) and is not allowed to throw exceptions. However, it does contain string manipulations (at least concatenation), and since `String` can be overwritten (e.g., with `NaN` in both test cases), those operations will fail and throw, which will lead to an assert.

[2017-03-15 01:42] #648 closed

[2017-03-16 09:17] renatahodovan opened #672 "Assertion `data != ((void *)0)' failed in iotjs_string_create_with_size"
###### IoT.js version:

[code]
###### OS:

[code]
###### Test case:

[code]

###### Backtrace:

[code]

<sup>Found by  [Fuzzinator](http://fuzzinator.readthedocs.io/)</sup>

[2017-03-16 09:31] renatahodovan opened #673 "heap-buffer-overflow in ReadUInt8"
###### IoT.js version:

[code]
###### OS:

[code]
###### Test case:

[code]

###### Backtrace:

[code]

<sup>Found by  [Fuzzinator](http://fuzzinator.readthedocs.io/)</sup>

[2017-03-16 09:46] renatahodovan opened #674 "heap-use-after-free in uv__fs_read"
###### IoT.js version:

[code]
###### OS:

[code]
###### Test case:

[code]

`/PATH/TO/IOTJS` has to point to the IoT.js repository.

###### Backtrace:

[code]

<sup>Found by  [Fuzzinator](http://fuzzinator.readthedocs.io/)</sup>

[2017-03-17 04:42] yichoi opened #677 "Tizen RT Support"
Tizen RT Public Repo: https://github.com/Samsung/TinyAra

[2017-03-21 14:42] kolipka commented on #677
libtuv PR ready: https://github.com/Samsung/libtuv/pull/72

[2017-03-22 02:02] hs0225 commented on #641
@Felipeasg @tadziopazur Can not build Nuttx with the latest commit?

[2017-03-24 03:21] glistening opened #692 "Provide experimental features"
It would be good to specify the stability of features (modules or APIs, and so on). Node.js provides 3 level of stability: Deprecated, Experimental, Stable. We will introduce experimental level first. The experimental features have high probability of changes and may be not stable so we must inform the users of the features. Here are requirements:

- Provide build script for enabling experimental

[2017-03-27 10:36] rtakacs opened #696 "Eliminate failing tests of stm32f4-discovery"
There are two tests that fail on the _stm32f4-discovery_ board:

https://samsung.github.io/iotjs-test-results/

* [syntax_fail1.js](https://github.com/Samsung/iotjs/blob/master/test/run_fail/syntax_fail1.js): the reason of the timeout is a crash on the board. I'm planning to skip this test temporarily.
* [issue-266.js](https://github.com/Samsung/iotjs/blob/master/test/run_pass/issue/issue-266.js):

[2017-03-28 06:59] hs0225 commented on #641
Closing.
I confirmed that the nuttx build works well in #680. If you have problems, please reopen it again.

[2017-03-28 06:59] #641 closed

[2017-03-28 07:44] glistening commented on #672
I've run the source and got the same call stack in current version. Thank you for reporting. We will investigate this issue and fix it.

[2017-03-28 07:57] daeyeon commented on #692
Done.

[2017-03-28 07:57] #692 closed

[2017-03-28 15:58] aquaherd commented on #142
Is there any plan to support websockets on iot.js?

[2017-03-28 16:03] cookiengineer commented on #142
@aquaherd iot.js already supports http and the net stack. So you can implement websockets on your own, as everything underlying is ready for it.

[2017-03-28 16:25] aquaherd commented on #142
Thanks, I will try that.

[2017-03-30 07:24] hs0225 opened #710 "Refactor platform folder structure"
There are a lot of unnecessary files that must exist because of the build test in the current `src/platform` folder. We need to arrange these. And the targets folder also need the arrangement.
I suggest changing the folder structure and name as below.
 - replace `.inl.h` with `.c`.
 - does not implement dummy file and not test it in Travis.
 - rename `targets` folder to `config` and put all config

[2017-03-31 05:55] #672 closed

[2017-03-31 06:25] daeyeon commented on #674
I think that you are calling fs.readSync incorrectly. Seeing the api reference, `fs.readSync(fd, buffer, offset, length, position)`, the 1st and 3rd argument in your code looks wrong. And the 4th, length, shouldn't exceed the length of the buffer, the 2nd argument.

[2017-03-31 09:07] renatahodovan commented on #674
@daeyeon Yes, they might be incorrect. But that's the point of fuzzer-generated test cases: testing the stability of the system with unexpected or extreme parameters. For such inputs, the system may/should throw exceptions but should not crash or access invalid memory.

[2017-03-31 09:31] glistening commented on #674
@renatahodovan I totally agree with you. This is clearly a bug. We will fix it. Thank you.

[2017-03-31 15:00] daeyeon commented on #674
@renatahodovan Sorry. Now I understand what your true intention is.

[2017-04-03 22:36] #674 closed

[2017-04-04 08:31] #673 closed

[2017-04-04 09:30] renatahodovan opened #717 "SIGSEGV in iotjs_handlewrap_validate"
###### IoT.js version:

[code]
###### OS:

[code]
###### Test case:

[code]

###### Backtrace:

[code]

<sup>Found by  [Fuzzinator](http://fuzzinator.readthedocs.io/)</sup>

[2017-04-04 09:41] renatahodovan opened #718 "Assertion `iotjs_jval_is_object(jbuiltin)' failed in iotjs_bufferwrap_from_jbuiltin"
###### IoT.js version:

[code]
###### OS:

[code]
###### Test case:

[code]

###### Backtrace:

[code]

<sup>Found by  [Fuzzinator](http://fuzzinator.readthedocs.io/)</sup>

[2017-04-04 09:49] renatahodovan opened #719 "Assertion `!uv__io_active(&stream->io_watcher, POLLIN | POLLOUT)' failed in uv__stream_destroy"
###### IoT.js version:

[code]
###### OS:

[code]
###### Test case:

[code]

###### Backtrace:

[code]

<sup>Found by  [Fuzzinator](http://fuzzinator.readthedocs.io/)</sup>

[2017-04-05 18:49] galpeter opened #723 "Refactor build script to be more CMake friendly"
The current build script provides all of the logic on how to build each sub-module (jerry/http-parser/libtuv), where to copy the resulting libraries. Thus if someone would want to build the project without invoking the build.py the cmake call will fail. It would be possible to manually call each sub-module's cmake and build them but it is tedious and would not make much sense.

Building each sub-m

[2017-04-06 08:36] akhilkedia opened #724 "Is it possible to pass a void* pointer from C to Javascript?"
Hi!

I am making a Native Module which needs to pass a `void*` pointer to JavaScript.
Later on, the JavaScript can pass the `void*` back to the Native Module.

From what I can tell, none of the `iotjs_jval_create_*` functions seem to suitable for this.

There are two workarounds I can think of -
1. Split the contents of the `void*` (The memory address which the pointer contains) as a byte array, a

[2017-04-06 11:58] LaszloLango opened #725 "High memory consumption in 'setTimeout'"
`setTimeout` calls consume too much memory in IoT.js. I've investigated the issue and here are my experiences. The net module use `resetSocketTimeout()` frequently. For example in `test_net3.js` the setTimeout is called 828 times.

JS backtrace of `Timeout.prototype.activate`:
[code]

Each `setTimeout` call allocate 176 byte in release and 232 byte in debug build. This means 140K peak of timer cal

[2017-04-06 12:11] zherczeg commented on #725
Probably it could help if we could delete the timer when it is cleared. Unfortunately there is a delayed delete, which unreferences the object, but does not call its native destructor.

Perhaps it could help if the native part of such objects would be deleted as well.

[2017-04-06 14:19] renatahodovan opened #726 "Assertion 'lit_is_valid_cesu8_string (string_p, string_size)' failed in ecma_new_ecma_string_from_utf8"
###### IoT.js version:

[code]
###### OS:

[code]
###### Test case:

[code]

###### Backtrace:

[code]

<sup>Found by  [Fuzzinator](http://fuzzinator.readthedocs.io/)</sup>

[2017-04-07 01:14] glistening commented on #725
@LaszloLango For latter, please give us some time for investigating this issue. Probably we can fix the former first, because it is simpler than latter and independent problem.

[2017-04-07 13:21] tadziopazur commented on #710
Could you please hold off for a moment?
I think next week I'll have some time to understand and, if I have something useful to say - discuss this item.

[2017-04-07 14:12] tadziopazur opened #736 "nuttx/stm32f4discovery build fails"
nuttx: 1b6630ee7557687f7717b52a0d938c72a3e047a8
iotjs: de4cabb9707449dc95eefe2b301e14f30d9918ed

There are macro redefinition errors:
$tools/build.py --target-os=nuttx --sysroot=/opt/iotjs/nuttx/nuttx --target-arch=arm --target-board=stm32f4dis --jerry-heaplimit=78 --buildtype=release --no-init-submodule --no-parallel-build
(...)
/opt/iotjs/iotjs_test/deps/libtuv/include/uv-nuttx.h:60:0: error: "E

[2017-04-07 16:45] akosthekiss commented on #710
@hs0225 In the platform subtree, I'm not sure that `platform/os/os-board` has much more expressive power than `platform/os/board`. Is there any specific reason to repeat the OS part on the path? And for the source file names, why is it needed to add a suffix to the platform-specific parts of the module implementations, or - if platform-specific suffix is a must - why don't we add `-os-board` for b

[2017-04-07 19:10] galpeter commented on #736
It seems the newer nuttx provides the ENOTSUP macro.
Hopefully this PR will fix it: https://github.com/Samsung/libtuv/pull/75

[2017-04-10 04:25] hs0225 opened #741 "Nominating Daeyeon Jeong (@daeyeon) to become an IoT.js committer"
I would like to nominate Daeyeon Jeong to become a committer.
He already has 10 patches:

Support experimental build (#692) (#693)
Add a description of --config (#695)
Set Coverity-Scan (#697)
Fix travis configuration for Coverity Scan (#709)
Fix #672 in iotjs_string_create_with_size/buffer (#712)
Fix #674 to check if user inputs are valid (#713)
Fix #673 via checking bound_range properly (#714)
U

[2017-04-10 04:39] yichoi commented on #741
+1

[2017-04-10 04:56] zherczeg commented on #741
+1

[2017-04-10 06:03] akosthekiss commented on #741
+1

[2017-04-10 06:25] hs0225 commented on #710
@tadziopazur Unfortunately, I have already worked on it. But please do not hesitate to give me any feedback.

@akosthekiss I agree not to use `os` repeatedly in the folder name. And attaching the os suffix to the filename in platform subtree is to distinguish it from the file in the module subtree.
I suggest the following.
[code]

[2017-04-10 06:33] akosthekiss commented on #710
@hs0225 Actually, the toolchain would/should not mind having two source files with the same name, but it might help in debugging in some cases to have all files named differently. The suggestion works with me.

[2017-04-10 06:45] chokobole commented on #741
+1

[2017-04-10 06:54] glistening commented on #741
+1

[2017-04-10 08:07] bzsolt commented on #741
+1

[2017-04-10 08:50] rtakacs commented on #741
+1

[2017-04-10 11:43] galpeter opened #743 "Proposal: Test naming"
Currently the test case names does not have a "strict" rule.
There are test file like `test_i2c.js` and also `test_uncaught1.js`. In the first example the test name explicitly contains the module under testing (or related module under testing). But the `test_uncaught1.js` does not contain any module info thus it is not clear for which module is tested (the `test_uncaught1.js` tests one of the `pro

[2017-04-10 23:46] #726 closed

[2017-04-11 05:06] hs0225 commented on #743
I agree with your opinion. The module name in the test's name must be precisely specified so that the test runner accurately test the built module. And if possible, instead of writing a number in the file name, it would be better to specify what the test is.

Current name |  New name
-|-
test_fs.js | test_fs_oepn_read_async.js
test_fs1.js | test_fs_oepn_read_sync.js
test_fs2.js | test_fs_event.js

[2017-04-11 09:24] zherczeg commented on #724
For security reasons I would not pass a pointer to JS code which can be modified by JS. However, you can assign a user pointer to any JS object. This pointer can only be accessed from JS.

I would recommend to do the following:
* Create an object with `jerry_create_object`
* Assign a user pointer with jerry_set_object_native_pointer (new API) / jerry_set_object_native_handle (old API)
* When you n

[2017-04-11 10:20] glistening commented on #725
@LaszloLango
1) _Is it OK to do complex reworks in libtuv or not?_
OK. If it is necessary to reduce memory consumption.
2) _Do we plan to upstream libuv changes frequently?_
Presently, no. We have other high priority tasks.
3) _Do you have suggestion how to reduce the memory consumption of timers?_
We will be busy probably till May. I think this is presumably related to garbage collector. Or it is

[2017-04-11 15:48] galpeter commented on #743
@hs0225 yeah replacing the numbers with more informative text is better. I'll create a PR which renames the tests so others can see a more concrete thing.

[2017-04-12 04:20] #724 closed

[2017-04-12 23:54] akosthekiss opened #750 "Confusing "exclude" module list in `build.config`"
In `build.config`, modules can be listed as "always" (i.e., must be included in the build), "include" (i.e., also to be included in the build, unless overridden by command line option), and "exclude" -- and this category is what needs to be discussed. The problem is that actually the "exclude" modules of `build.config` are not excluded from anywhere (as far as building IoT.js goes): the config fil

[2017-04-13 02:08] glistening commented on #750
@akosthekiss I agree with you. We need to refine the build option ''exclude". We will start to discuss and follow up this issue after high priority task (due date next Friday) is done. Thank you for suggestion and thorough review about #730.

[2017-04-16 04:45] yichoi commented on #741
Congratulations! I've updated [here](https://github.com/Samsung/iotjs/wiki/Assigned-people)

[2017-04-16 04:45] #741 closed

[2017-04-18 08:33] akhilkedia opened #760 "[Doc] Documentation for ReadableStream does not mention the event 'error'"
The documentation for `ReadableStream` [in the docs folder](https://github.com/Samsung/iotjs/blob/master/docs/api/IoT.js-API-Stream.md#events) does not mention the `error` event, but the source code [here](https://github.com/Samsung/iotjs/blob/master/src/js/stream_readable.js) clearly shows the stream emitting that event.
Will be a simple edit of the docs to fix.

[2017-04-18 17:52] glistening commented on #736
I checked nuttx/stm32f4discovery builds well after libtuv PR #75 landed.

[2017-04-18 17:52] #736 closed

[2017-04-19 11:15] akhilkedia opened #766 "[Doc] Documentation for http.ClientRequest does not mention the events 'finish', 'close' and 'error'"
The documentation for [`http.ClientRequest`](https://github.com/Samsung/iotjs/blob/master/docs/api/IoT.js-API-HTTP.md#events-1) in the `docs` folder does not mention the events `finish`, `close` or `error`, but the source code of `http_client` [here](https://github.com/Samsung/iotjs/blob/master/src/js/http_client.js) shows that it inherits from `http_outgoing`, which does emit those events [here](

[2017-04-19 11:58] yichoi commented on #760
#764 landed for this issue. I would like to listen your opinion

[2017-04-19 12:00] yichoi commented on #766
Why don't you fix this issue by yourself ? :)

[2017-04-19 12:26] akhilkedia commented on #760
This works. :)
I was compiling a list of current HTTP APIs supported by IoT.js and saw some missing, and so thought I should report those.

[2017-04-19 12:26] #760 closed

[2017-04-21 07:18] #696 closed

[2017-04-21 07:58] LaszloLango opened #774 "Measure memory usage"
IMHO, we need to define how we'd like to measure memory usage of IoT.js. It would be nice to have tools for that. I see several different solutions here:

1) JS heap usage #754
Pros:
  * JerryScript provides this information, so it is easy to gather the data
  * Can be used on boards too
Cons:
  * JS heap is only a part of the actual memory usage
  * Won't work with other JS engines
2) Measure wit

[2017-04-22 12:24] eljefedelrodeodeljefe opened #777 "STM / nuttx installation branch breaks on various steps"
I have tried to compile for nuttx on OS X and linux now, but both branches seem to be broken in the tutorials. E.g. on OS X some steps are missing / wrong / not complete, but eventually some compilation with nuttx will fail.

On Linux somehting woth kconfig seems to be wrong.

Do you by chance have a comprehensive walkthrough? Can you include deployment to a device into the test suite?

[2017-04-23 23:56] yichoi commented on #774
@LaszloLango +1 for #754. I will be a good start.

[2017-04-23 23:58] yichoi commented on #777
@hs0225 @rtakacs ?

[2017-04-24 00:11] yichoi commented on #677
The patch for Initial support has landed

[2017-04-24 00:11] #677 closed

[2017-04-24 00:46] #743 closed

[2017-04-24 01:04] daeyeon commented on #723
PR for this has been merged into master.

[2017-04-24 01:04] #723 closed

[2017-04-24 01:11] yichoi commented on #710
#730 was landed

[2017-04-24 01:11] #710 closed

[2017-04-24 01:15] yichoi commented on #316
We can measure the flash size [here](https://samsung.github.io/iotjs-test-results/)
We need to measure the memory size too.

[2017-04-24 01:17] yichoi commented on #326
@daeyeon Could you please check the feasibility of [FOSSA](http://fossa.io/) to our repo?

[2017-04-24 01:30] hs0225 commented on #658
#659 was landed.

[2017-04-24 01:30] #658 closed

[2017-04-24 01:52] hs0225 commented on #777
Our wiki page has not been updated yet. Please refer to [here](https://github.com/Samsung/iotjs/blob/master/docs/build/Build-for-NuttX.md).
Could you tell me in detail which step failed on OS X and Linux?
Please use `kconfig-frontends-3.9.0.0` tag in kconfig.
The simplest way to run a test suite on a device is to copy it directly to the sd card.

[2017-04-24 02:02] glistening commented on #449
`buffer module, enable new Buffer(array)` - done
`in http_incoming module, IncomingMessage.headers should be array type` - landed in #776
`add support to easily iterate over array elements` - We want to keep the API minimal. Let's discuss this item when we need this API.

[2017-04-24 06:18] hs0225 commented on #718
`_write` is the private function. `write` which is the public function checks the type of the parameter. Therefore, the first parameter must be `Buffer`.(`String` can also be the first parameter. The string is converted to a buffer.)

[2017-04-24 07:31] akosthekiss commented on #718
@hs0225 In JavaScript, traditional visibility categories don't exist. `_write` is just as much available to anyone as `write` is. Therefore, should a malevolent user intentionally call `_write` directly with an intentionally malformed first parameter, they may crash the framework. IMO, JS code may never be able to cause a crash in the C code. (Note: whenever argument validation happens on JS side

[2017-04-25 01:49] glistening commented on #479
`iotjs_string_t` is simply a pair of buffer and size. It provides very simple functions (i.e., create, destroy, empty, getting data/size, append), which internally use `memcpy`, `realloc`, and don't try to interpret the internal buffer one by one as character. So `iotjs_string_t` is able to handle strings with '\0' inside. I believe we can close this issue.

[2017-04-25 02:16] #479 closed

[2017-04-26 12:18] LaszloLango commented on #725
First part of the timer optimization is landed (https://github.com/Samsung/libtuv/pull/76)
Second part: https://github.com/Samsung/libtuv/pull/79
This patch reduces the total memory usage by 20Kbytes on `test_net3.js`. The peak usage was also reduced by 10Kbytes. (Measured with Freya tool of Valgrind on x86_64-linux)

[2017-04-27 01:16] glistening commented on #725
Thank you for your second improvement.

I think we saved 2 x sizeof(void*) per a uv_timer_s with second part.
The removal of start_id would not give us gain because of uint64_t timeout immediately before uint32_t repeat. If so, what about rolling back uint32_t repeat to uint64_t repeat? Because 2^32 milliseconds are about 49.7 days. It may not be enough for some scenario.

In addition, I am guessi

[2017-04-27 06:22] LaszloLango commented on #725
@glistening my bad. I thought `repeat` is a counter to how many times do you want to run the timer. I checked in the documentation and you are right. `repeat` must be uint64_t. Although I think it won't be happening in a real world use case to use such a big repeat  time. :)

[2017-04-27 07:21] LaszloLango commented on #725
@glistening measured the path on RPi2:

*test_net_3.js*
Before:
[code]
After:
[code]

[2017-04-27 07:46] glistening commented on #725
@LaszloLango Oh, great! Thank you.

[2017-04-27 07:55] LaszloLango commented on #725
@glistening I've update my prev. comment with the results of release builds.

[2017-04-28 01:10] yichoi commented on #774
Need to invent more convenient way to measure for NuttX. @rtakacs might have an idea for this, which mentioned at #754

[2017-04-28 03:09] daeyeon opened #798 "Use array for headers in http_outgoing and http_incoming"
`Object` was used as substitute for the lack of `Array` features. #776 was a fix to remove one of the cases.

In #797, it's discussed if replacing the type of `_header` in `OutgoingMessage` with `Array` is needed.

In my brief study, it's a private property that stores HTTP headers for In/OutMessage, and the type of user's input to be saved is `Object`. It may or may not be better to replace it wi

[2017-04-28 13:52] pmarcinkiew commented on #601
I recompiled today Raspberry Pi version of IoT.js from commit  0252cbdbb7ce2b4dcc8bb110f6c7f98cc2b1ba1f.

I used Ubuntu ARM cross compiler:

[code]

The compilation fails with unknown  _‘-mfpu=neon-vfpv4’_ flag.

Please found my full compilation log below:
[code]

[2017-04-28 14:01] LaszloLango commented on #601
AFAIK if you'd like to cross-compile then you need `--target-arch=arm` too.

[2017-04-28 14:33] pmarcinkiew commented on #601
I compiled with arm flag:

[code]

It compiles but it doesn't work at my Raspberry Pi. It just crashes. My Pi just like before requires amrhf CPU target.

The armhf is not supported.
[code]

[2017-04-28 14:35] pmarcinkiew commented on #601
With my fixes I will get successful compilation and execution of IoT.js at Rasperry Pi 2 with Raspbian.

There is no any clear change in IoT.js, which improves my compilation scenario :(

[2017-04-28 14:51] pmarcinkiew commented on #601
I modified builds scripts to support amrhf architecture:

[code]

The new configuration file:
[code]

It compiles amrhf variant but fails during linking:

[100%] Linking C executable bin/iotjs
/usr/bin/ld: lib/libtuv.a(inet.c.o): Relocations in generic ELF (EM: 40)
/usr/bin/ld: lib/libtuv.a(inet.c.o): Relocations in generic ELF (EM: 40)
/usr/bin/ld: lib/libtuv.a(inet.c.o): Relocations in generic E

[2017-04-28 15:45] #165 closed

[2017-05-05 10:01] zherczeg opened #816 "Internal types are not checked by IoT.js"
This is currently crashing:

    var Buffer = require('buffer');

    var buf = new Buffer("ABCDEF");

    var o = { _builtin: { compare:buf._builtin.compare }, compare: buf.compare };
    o.compare(buf);

We are creating a _builtin object which is a normal object, and this object has no internal property. It is even more dangerous if we use an object created by another module (and has an internal

[2017-05-05 11:39] LaszloLango commented on #816
I think this is bug. The internal objects must be hidden. `_onNextTick` and `_onUncaughtException` also available in the global object. This might caused by #748.

FYI, sample code to find internal objects:
[code]

[2017-05-08 09:35] zherczeg commented on #774
On NUTTX we probably need to implement an infrastructure such as memstats. Probably we need to redirect malloc in some way.

[2017-05-10 10:46] hs0225 commented on #816
@zherczeg I agree that if a user uses the internal object indiscreetly, it causes a problem in the program. But this is not an easy problem to remove it. Especially, modules with native dependency are not easy to fix. Is there a good idea to solve this problem?

@LaszloLango I think  `_onNextTick` and `_onUncaughtException` should be hidden.

[2017-05-10 10:54] zherczeg commented on #816
I have a simple solution. Currently JS callbacks do something like this:

    JHANDLER_CHECK_THIS(object);
    const iotjs_jval_t* builtin = JHANDLER_GET_THIS(object);

The `JHANDLER_GET_THIS` do no checks. However with IOTJS_DEFINE_NATIVE_HANDLE_INFO, we could easily validate the type of an object. I would propose something:

    IOTJS_DEFINE_NATIVE_HANDLE_INFO(type);

    JHANDLER_THIS_TO_OBJ(bu

[2017-05-11 08:36] yichoi commented on #816
#829 can solve a part of problem, GPIO.

[2017-05-11 08:45] hs0225 commented on #816
@zherczeg The best way is to hide the internal object. In the case of `Buffer`, we should consider how to hide internal object like node.js.
In the sample above, if user change `this` by mistake or intention and call the internal function, I think your solution has a meaning.

[2017-05-16 08:16] kolipka commented on #816
@hs0225 If I understand correctly nodejs code, they use internal V8 Uint8Array as a prototype for Buffer. It hides internals in native part. (https://github.com/nodejs/node/blob/master/lib/buffer.js#L32) That would require us having similar type from JerryScript or at least in native part of IoT.js

GPIO solution is OK, but it comes at a cost:  gpioPinOpen on each call create new GpioPin class tha

[2017-05-17 02:28] #766 closed

[2017-05-17 06:24] glistening opened #845 "Assertion Failure ECMA_STRING_IS_REF_EQUALS_TO_ONE (string_p) after running Promise"
I got the following assertion failure on Linux x86_64:

### Error message
[code]

### promise.js (Test case)
[code]

### How to Build and Run
[code]

### jerryscript standalone and node.js works well.

[code]

[2017-05-17 06:51] akosthekiss commented on #845
I've seen similar things when experimenting with promises in jerry. To me, this happened when there were still enqueued promise jobs when calling jerry_cleanup. (I guess, without looking at any code I admit, that nothing executes the enqueued promise jobs in iotjs, yet. I.e., jerry is built with promise support, the js code uses them, jerry enqueues jobs as asked, but at the end, nothing runs them

[2017-05-17 06:58] LaszloLango commented on #845
IMHO, we should wait for https://github.com/jerryscript-project/jerryscript/pull/1804 to land first and update JerryScript submodule in IoT.js.

[2017-05-17 10:41] glistening commented on #845
@akosthekiss @LaszloLango Your comments helped me much. Thank you.

[2017-05-18 06:39] daeyeon opened #846 "Wrong and insufficient error message"
a) Bug. The error message always says that the column, 38, is wrong even when the given code is wrong from the very first line.

[code]

b) In comparison with Javascript, developers will feel hard to fast debug in the below cases.

Case i)
[code]

[code]

[code]

Case ii)
[code]

[code]

[code]

Of course, there are a lot unkind messages pending improvement. These look very essential. Especially,

[2017-05-18 06:57] LaszloLango commented on #846
It is more like a feature request than a bug. :) For parse errors there are location information. The default command line application in JerryScript gives a similar output as NodeJS. I think we can do it in IoT.js easily. At the moment you must use the debugger to track down runtime exceptions.

[2017-05-18 07:17] glistening commented on #845
@akosthekiss, @LaszloLango I fixed the assertion failure by putting `jerry_port_default_jobqueue_run` as the guide added in jerryscript-project/jerryscript#1804. I will push iotjs Promise support PR after jerryscript-project/jerryscript#1804 is landed.

[2017-05-18 07:53] daeyeon commented on #846
Yes, someone who well knows the glue layer b/t JerryScript and IoT.js would fix this easily. I just wanted his help. :) I ran JerryScript CLI in bin/jerry with `--log-level 3`, and it's built with `error-messages=on`. In my observation, the messages aren't similar with NodeJS, but same with iot.js. I can't find other options.

[2017-05-18 09:32] yichoi commented on #845
jerryscript-project/jerryscript#1804 has landed. @LaszloLango would you please update Jerryscript submodule in IoT.js?

[2017-05-18 10:24] kolipka commented on #846
@LaszloLango There is a bug (column is invalid) and feature missing (no proper runtime errors)
As for debugger - it's usability is far, far behind the tools known from nodejs / browsers. I've started investigation of VSCode debugger interface to move it to real IDE.
I've started also initial work on REPL for IoT.js - I hope it would be helpful too.

[2017-05-18 10:26] LaszloLango commented on #846
@kolipka REPL is a good idea. I was thinking on that too.

[2017-05-18 10:29] LaszloLango commented on #845
@yichoi sure, I'll do it.

[2017-05-18 10:31] yichoi commented on #846
@kolipka That's good however I have not confirmed the plan for REPL for IoT.js yet

[2017-05-18 10:31] LaszloLango commented on #774
We might consider to use the [benchmark](https://github.com/nodejs/node/tree/master/benchmark) of NodeJS.

[2017-05-18 11:43] zherczeg commented on #846
JerryScript is designed for resource constrained devices, and key factor of memory optimization is throwing away as much information as possible to save more memory. However the debugger has no such limitations so JerryScript can send data such as line information for preservation. The debugger is capable of capturing exceptions, please check this example:

https://github.com/jerryscript-project/j

[2017-05-19 06:13] glistening commented on #846
IMHO, if we can turn on the descriptive and more helpful error messages in debug mode, and the device itself is capable of the rich error message feature, it would be nice to support this feature. Because IoT.js users don't need to set up and learn how to use the IoT.js/JerryScript debugger. However, for now, we are supposed to release IoT.js 1.0 in June. So I want to put off this discussion till

[2017-05-19 07:19] daeyeon opened #853 "Unit Tests for release 1.0"
This task is not for migrating Node.js tests as many as possible, but for bugfixing.

1) Find tests, which test 1 feature what IoT.js should support.
2) If fails, then fix it, and migrate the test

Common Checklists
---
- For the adopted tests, put the Samsung license and Node.js one in order, and update the year on Samsung's one with 2017.

:books: Please update this section once you find any.

G

[2017-05-19 07:46] daeyeon opened #854 "Some known issues for Release 1.0"
**Infra**
- [x] Add daily benchmark (memory usage and binary footprint size) for NuttX/STM32 and Linux/RPi (https://samsung.github.io/iotjs-test-results/)
- [x] Integrate license verification tool (https://goo.gl/SXMcbq)
---
**Defects**
- [x] Fix static analysis defects (https://scan.coverity.com/projects/samsung-iotjs)
- [x] Validating target supports on RPi/Linux and NuttX/STM32.
---
**Code Cove

[2017-05-19 07:57] daeyeon opened #855 "Make codes and docs tidy"
- [ ] **Source convention**: `JFreeHandlerType` to Callback

[2017-05-19 08:32] glistening opened #856 "Nominating Péter Gál (@galpeter) to become an IoT.js committer"
I would like to nominate Péter Gál to become a committer.

Here are patches:

- Typo fix in jerry.cmake file for JERRY_PORT_DEFAULT (#848)
- Fix build type parameter for js2c call (#827)
- Remove unused require calls from http server module (#826)
- Remove unused require calls from http common module (#825)
- Remove 'parser=this' constructs from http_common js module (#824)
- Avoid creating anonym

[2017-05-19 08:38] glistening opened #857 "Nominating Zsolt Borbély (@bzsolt) to become an IoT.js committer"
I would like to nominate Zsolt Borbély (@bzsolt) to become an IoT.js committer.

Here are merged PRs:

- `require` keyword in comment: after #642 this trick isn't needed anymore (#807)
- Followup patch for the Jerry-debugger (#805)
- Activate sanitizer-jobs on Travis CI (#787)
- Sync test/testsets.json with the existing tests (#790)
- Allow to use JerryScript-debugger (#722)
- Update JerryScript (

[2017-05-19 09:40] LaszloLango commented on #856
+1

[2017-05-19 09:40] LaszloLango commented on #857
+1

[2017-05-19 09:49] yichoi commented on #856
+1

[2017-05-19 09:49] yichoi commented on #857
+1

[2017-05-20 19:15] minessis opened #858 "[Doc] Getting Started documentation Optimization Tips link 404ing"
The link to [Optimization Tips](https://github.com/Samsung/iotjs/blob/master/devs/Optimization-Tips)  **just above** [this point](https://github.com/Samsung/iotjs/wiki/Getting-Started#for-developers) in the Getting Started documentation, is broken/missing.

[2017-05-21 08:11] LaszloLango commented on #858
@minessis you can find the latest documentation of IoT.js under the docs folder. I think the wiki pages are out of date. Here is what you are looking for: https://github.com/Samsung/iotjs/blob/master/docs/devs/Optimization-Tips.md

[2017-05-22 01:01] hs0225 commented on #856
+1

[2017-05-22 01:01] hs0225 commented on #857
+1

[2017-05-22 03:32] zherczeg commented on #857
+1

[2017-05-22 03:32] zherczeg commented on #856
+1

[2017-05-22 03:53] daeyeon commented on #856
+1

[2017-05-22 03:53] daeyeon commented on #857
+1

[2017-05-22 06:18] chokobole commented on #857
+1

[2017-05-22 06:18] chokobole commented on #856
+1

[2017-05-22 12:16] LaszloLango commented on #845
#859 is landed.

[2017-05-22 12:16] #845 closed

[2017-05-22 12:18] LaszloLango commented on #725
Fixed.

[2017-05-22 12:18] #725 closed

[2017-05-22 12:36] LaszloLango commented on #596
#597 is landed.

[2017-05-22 12:36] #596 closed

[2017-05-23 11:07] jerry-fossa commented on #856
+1

[2017-05-23 11:08] bzsolt commented on #856
+1

[2017-05-23 13:40] rtakacs opened #862 "Fix net tests on stm32f4dis-nuttx"
The following net tests are failing (caused by #851):

* test_net_1.js
* test_net_2.js
* test_net_4.js
* test_net_5.js
* test_net_6.js
* issue-266.js

You can check it on the testresult webpage: https://samsung.github.io/iotjs-test-results/

[2017-05-24 11:10] akhilkedia opened #866 "[Question] Is it intentional to have travis build all modules for all platforms?"
When travis checks iotjs, `tools/precommit.py` intentionally includes all excluded modules from `build.config` for that platform in the build as well, and excluded modules is empty.
Is this intentional? If yes, for any module to be merged into master, it is necessary that it must atleast build for all platforms?

[2017-05-24 23:26] yichoi commented on #856
Congratulations! I've added him to [here](https://github.com/Samsung/iotjs/wiki/Assigned-people)

[2017-05-24 23:26] #856 closed

[2017-05-24 23:27] yichoi commented on #857
Congratulations! I've added him to [here](https://github.com/Samsung/iotjs/wiki/Assigned-people)

[2017-05-24 23:27] #857 closed

[2017-05-25 06:50] daeyeon commented on #866
Yes, that's intended, but it doesn't mean that every module in master should be built for all the platforms. Assuming a module supporting `nuttx` only, you can put it into `module/exclude/nuttx`. If it supports all platforms, then use `module/exclude/all`.

The names such as `exclude` and `include` may confuse you as issued in #750. To make them clear to everyone, each needs to be renamed.

[2017-05-25 07:07] bzsolt commented on #857
Thank you! :)

[2017-05-26 05:56] akhilkedia commented on #866
@daeyeon It works, thanks! :)

[2017-05-26 05:56] #866 closed

[2017-05-29 02:26] daeyeon commented on #717
[code]

It looks fixed. The error doesn't occur any longer.

[2017-05-29 03:37] daeyeon commented on #719
With the revision, 9d19b91, this looks fixed. Can you please clarify my observation?

[2017-05-29 03:50] daeyeon commented on #798
While discussing `src/js/http_outgoing.js` on #833, @knightburton also agreed that `Object` is ok for `OutgoingMessage`. If there is no other opinion, I'd like to close this for now.

[2017-05-29 05:56] daeyeon opened #873 "Documents"
1) Ensuring that it precisely describes API interface and its parameter conditions.
2) Applying the most of Node.js format (e.g, title, subtitle, leveling rules, and so on) except the following cases.
  - Place 'Platform Support' section at the beginning.
  - Use the current format for callback arguments
3) Improving lacks and faults of the documents.

---
Common Checklists
---
1) For primitive ty

[2017-05-29 06:19] zherczeg commented on #873
I would like to work on the DGRAM module (testing + documentation).

[2017-05-29 06:42] #718 closed

[2017-05-29 07:13] LaszloLango commented on #873
I'd kike to work on the HTTP module.

[2017-05-29 08:00] daeyeon opened #874 "Validate arguments on C side for Release 1.0"
Improve all argument checkers on C side in release running. Can be disabled, although not recommended only for trusted code.

- #898 and #911 are landed as a PoC for `Buffer`.

---
- [x] Process
<del>- [ ] Console</del>
- [x] Timers
<del>- [ ] Module</del>
---
<del>- [ ] Assert</del>
- [x] Buffer
- [x] DGRAM
<del>- [ ] DNS</del>
- [x] Events
<del>- [ ] File-System</del>
- [x] HTTP
- [x] Net
- [x]

[2017-05-29 08:31] galpeter commented on #873
I'll work on the dns module.

[2017-05-29 08:36] bzsolt commented on #873
I'll work on the **fs** module.

[2017-05-29 16:05] #862 closed

[2017-05-31 10:13] tadziopazur opened #882 "I2C API has mismatched abstractions"
I2CBUS represents in fact i2c device, as it has device address embedded into it.
Bus should accept complete transactions (address, r/w, payload) or oerations (i.e.: enumeration), while device should just have the address set explicitly during construction (and non-mutable).

The example (https://github.com/Samsung/iotjs/blob/master/docs/api/IoT.js-API-I2C.md):

[code]
i2c_bus represents a device o

[2017-05-31 10:16] tadziopazur opened #883 "Inconsistent datatypes in i2c configuration"
Excerpt from i2c API (https://github.com/Samsung/iotjs/blob/master/docs/api/IoT.js-API-I2C.md):
[code]

This is inconsistent and IMO needs to change. Application should not have to explicitly depend, much less check for the type of OS to access hardware resources.

There are some ideas how to achieve the uniformity goal if there is any need for them.

[2017-05-31 13:51] kolipka commented on #874
Do we know how it will impact binary size / memory usage?

[2017-06-01 05:19] glistening commented on #873
@daeyeon, @zherczeg, @LaszloLango, @galpeter, @bzsolt

I found some inconsistency between the each module documentation:

1. "Prototype Function" or "Class Method"
Some modules (e.g. `HTTP`, `NET`) use the term `Prototype Function`, other (e.g., `Buffer`) uses `Class Method`.

2. Nested Class
`File System` starts the nested class from level 2, and doesn't use "Class Method" for class's method.
`Ne

[2017-06-01 06:32] daeyeon commented on #873
@glistening Thanks for sharing your concerns.

1. `Prototype Function` is a term we've used so far. I expect every document in progress use `Class Method`.

2. We can apply the leveling rule of Node.js format except `Platform Support`. It's a section we only have and now intentionally uses level 3. That's because it doesn't represent each document itself although it's placed at the beginning of ev

[2017-06-01 06:33] zherczeg commented on #873
1) I agree. It seems grouping was introduced only in IoT.js.
2) For buffer these levels are used:
[code]
Ref: https://github.com/nodejs/node/blob/master/doc/api/buffer.md
Similar in dgram:
https://raw.githubusercontent.com/nodejs/node/master/doc/api/dgram.md
[code]

[2017-06-01 06:40] zherczeg commented on #873
There is one more question: callback argument. Node.js help does not list them, only explains them in the text. It was listed before and I kept it, because I think it is a good idea. This is the format I used

[code]

Shall we use this or copy the Node.js variant?

[2017-06-01 07:01] robertsipka commented on #873
@zherczeg : I think your suggested format is better for callback arguments.

[2017-06-01 07:06] LaszloLango commented on #873
1. I agree too. We can remove it.
2. I think 3 levels should be enough for everything.

@zherczeg I like your suggestion on the callback functions.

[2017-06-01 07:07] glistening commented on #873
"Prototype function" and "Class method" are different. I am sorry for making you confused.

`Prototype function` is like instance method, and generally documented with lowercase names like **buf.copy**. On the other hand, `Class method` is like static member function, and describes with first letter uppercase, full class name like **Buffer.from**.

So, here is new questions that will replace older

[2017-06-01 07:10] zherczeg commented on #873
Sorry, should be like this:
[code]

[2017-06-01 07:10] daeyeon commented on #873
@zherczeg I also think that your one is better. Let's use it.

[2017-06-01 07:32] glistening commented on #873
Here is summary till now.

**1-1**, **3** Remove grouping level. (`Prototype function`, `Class method` and `Constructor` level)
**2**. Use node.js form for nested class.
For callback arguments, use @zherczeg 's suggestion.

Now, **1-2** remains.

[2017-06-01 07:36] zherczeg commented on #873
@glistening Could you give an example like mine above?

[2017-06-01 08:09] glistening commented on #873
@zherczeg Here is updated example from above comment:

### Class Method: Buffer.from(string[, encoding])

### Prototype Function: buf.copy(...)

Or

### Buffer.from(string,[ encoding])

### buf.copy(...)

Please notice that the prefix "Class Method:" and "Prototype Function:" in former. For latter, it does not contains the prefixes.

[2017-06-01 08:13] zherczeg commented on #873
I prefer the latter. Class Method is pretty obvious without explicitly saying it.

[2017-06-01 08:23] LaszloLango commented on #873
Should we add test for every event and function even if they are trivial? Could you check #884 is detailed enough? (Recently updated)

[2017-06-01 08:46] daeyeon commented on #873
Regarding Class Method, it seems better to follow the below rule that is applied to others.
[code]
Examples:
[code]

[2017-06-02 02:14] daeyeon commented on #873
Let me summarize the current majority opinion.

1. Remove all grouping levels such as Prototype Function, Module Functions/Properties, Properties, Event, and so on.
2. Use Node.js format according to many preferences.

[code]

In case of Class and Event, use the prefix as below, but not for others like Class Method.
[code]

Sorry for any confusion caused.

[2017-06-02 03:28] daeyeon commented on #855
The todos here have been broken into small parts and made up as new issues.

[2017-06-02 03:28] #855 closed

[2017-06-02 06:41] zherczeg commented on #873
Am I understand correctly that:
[code]
should be changed to
[code]
So the "Class Methods" group should be deleted, and one hashmark before the function?

For me the font size of two hashmarks is big. Or shall we keep the three hashmarks, just delete the group?

[2017-06-02 07:58] daeyeon commented on #873
@zherczeg In the example, `## Class Methods` should be removed and we can keep ###.

[2017-06-07 08:16] zherczeg commented on #874
Please check #816

[2017-06-07 09:13] kolipka commented on #874
@zherczeg I don't get it :/ You are refering to my question about memory impact? I don't see how those are related. Your solution in #816 is to add checks in C code. Description here states

Anyway: adding something on JS side does have bigger impact(mem+runtime performance) than native check. The module list here is quite long, and if we removed capacity from string to have savings, I think we sh

[2017-06-07 12:02] zherczeg commented on #874
@kolipka no, the issue is something else. Its security, not resource. In that issue I was able to hijack the internal parts of a Buffer object, and native code crashes rather than throwing an error (or do something nasty for a cleverly constructed input). If we go further into this direction (do argument validation in JS side), the problem might deepen.

[2017-06-08 04:49] daeyeon opened #909 "Migrate samples for Release 1.0"
Migrate the samples in the below link to 1.0
: https://github.com/Samsung/iotjs-app

Sample-http
- [x] echo
- [x] <del>hello</del>
- [x] <del>helloweb</del>
- [x] <del>state</del>
- [x] <del>web-calculator</del>

Sample-net
- [x] <del>calculator</del>
- [x] <del>ex1</del>
- [x] hello

Simple-GPIO
- [x] led
- [x] <del>blinkled</del>

Sample-httpserver
- [x] <del>led-web-server</del>

[2017-06-08 04:51] yichoi commented on #241
This task is handled by #909

[2017-06-08 04:51] #241 closed

[2017-06-08 05:43] daeyeon commented on #816
@zherczeg please check #911 made according to your suggestion. I applied it only to Buffer.compare first.

[2017-06-08 13:23] LaszloLango commented on #873
Question: what is the correct style for array parameters? I think `{Array}` does not say anything about the type of the array elements. Based on the reviews on #907 I think @zherczeg agrees. In the mentioned PR I wrote `{[string]}`, so the square brackets refers to it is an array, but it can confuse someone that it is optional. My other thought was the following form: `{Array of string}`. What do

[2017-06-08 13:26] zherczeg commented on #873
It seemed to me that they explain the items, the type is simply {Array}. They mostly focus on textual explanation in Node.js. (Questionably strategy, but they do it).

[2017-06-08 13:26] zherczeg commented on #873
E.g. listing the callback arguments is our extension, in Node.js they simply {Function}.

[2017-06-09 04:41] daeyeon commented on #873
@LaszloLango Thanks for pointing it out. How about `{Array.<string>}` ?

[2017-06-09 08:17] zherczeg commented on #873
I would `{Array[string]}` or `{Array[{string}]}` This way we could use the pipe to add more types:

`{Array[string|null|undefined]}`

[2017-06-09 08:18] zherczeg commented on #873
The latter is a bit stricter type `{Array{string}}` could go as well, but looks a bit strange for me.

[2017-06-09 08:19] LaszloLango commented on #873
Both `{Array.<string|null>}` and `{Array[string|null]}` are good to me.

[2017-06-09 09:06] daeyeon commented on #873
As you already know, `[]` could conflict with the meaning of optional. `{Array.<MyClass>}` is used in jsdoc. Please find `Arrays and objects` in http://usejsdoc.org/tags-type.html. Others may already be familiar with it. :-)

[2017-06-12 08:17] kolipka opened #924 "included / excluded modules configuration logic bug"
There is commit **Rework the module checker logic** (#894) that changes how the logic works, but without update in build.config file.
In this commit there is removed line that [exclude included modules from excluded list](https://github.com/Samsung/iotjs/commit/57b750f5a9d6f244be0c98d5a9c0820c48b23a62#diff-5dcd07ec20b9418df938cff319e62ac6L79). As a result if build.config file have excluded somethi

[2017-06-12 08:52] #873 closed

[2017-06-13 00:57] yichoi opened #929 "Security Audit"
Internal Review for Security Architecture

[2017-06-13 00:59] yichoi commented on #853
Need to report Unit Test Coverage

[2017-06-13 01:00] yichoi opened #930 "Internal Audit for Release 1.0"
- [x] Intenal Documents
- [x] Security Audit
- [x] Patent Check
- [x] License Check
- [x] Unit Test Coverage

[2017-06-13 01:00] yichoi opened #931 "Patent Check"

[2017-06-13 01:01] #931 closed

[2017-06-13 01:01] #929 closed

[2017-06-13 01:08] yichoi opened #932 "Infra ready for Release 1.0"
- [x] WiKi
- [x] Daily Report : Linux/RPi binary size & memory usage
- [x] Daily Report : NuttX/STM32F4 binary size & memory usage
- [x] Trend with Graph : Linux/RPi binary size & memory usage
- [x] Trend with Graph : NuttX/STM32F4 binary size & memory usage
- [x] Coverity Clean up
- [x] Fossa Clean up

[2017-06-13 01:08] #798 closed

[2017-06-13 01:08] yichoi commented on #932
"Daily Report" Done : https://samsung.github.io/iotjs-test-results/#

[2017-06-13 01:13] yichoi commented on #854
Somwhat dupe with #932.
let's close together with the issues are resolved

[2017-06-13 01:20] yichoi commented on #929
merged to #930

[2017-06-13 01:34] daeyeon commented on #717
This isn't reproduced in the lastest.

[2017-06-13 01:34] #717 closed

[2017-06-13 01:35] daeyeon commented on #719
This isn't reproduced in the lastest.

[2017-06-13 01:35] #719 closed

[2017-06-13 01:38] daeyeon commented on #629
Th looks done.

[2017-06-13 01:38] #629 closed

[2017-06-13 01:48] daeyeon commented on #601
@pmarcinkiew Can you update the current status about this?

[2017-06-13 05:42] yichoi commented on #552
This isn't reproduced in the lastest.

[2017-06-13 05:42] #552 closed

[2017-06-13 05:45] yichoi commented on #610
I think the target is different each others. if needed we can discuss about it again

[2017-06-13 05:45] #610 closed

[2017-06-13 05:47] yichoi commented on #777
@eljefedelrodeodeljefe do you need further help or suggestion ?

[2017-06-13 08:01] LaszloLango opened #933 "Timers module error handling"
There are some differences in error handling of Timers module between IoT.js and NodeJS. `iotjs/test/run_pass/test_timers_error.js` tests that every wrong argument must throw an exception, but NodeJS does not throw in some cases. The fault tolerance is different. `nodejs/test/parallel/test-timers-clear-null-does-not-throw-error.js` tests that `clear` functions must not throw exception on null/unde

[2017-06-13 08:07] yichoi commented on #933
In spite that we do not guarantee the compatibility with Node.js, It will be helpful to have same behavior with Node.js since the developers tend to expect the result what he/she have done before.

[2017-06-14 03:40] daeyeon commented on #858
The link has been fixed. https://github.com/Samsung/iotjs/wiki/Optimization-Tips

[2017-06-14 03:40] #858 closed

[2017-06-14 03:44] daeyeon commented on #777
The broken links has been fixed. https://github.com/Samsung/iotjs/wiki/Getting-Started

[2017-06-14 03:48] #777 closed

[2017-06-14 16:20] pmarcinkiew commented on #933
In my opinion JS should to be easy to use so we should ignore invalid parameters and not throw. It should work similar to Node.jS and web browser. There is no throw for any of this test cases in Firefox and we throw for all of them. It is not what JS developer will expect.

[2017-06-20 08:32] amistewicz opened #966 "Tizen IoT.js for Raspberry Pi 3"
http://download.tizen.org/snapshots/tizen/unified/latest/images/standard/common-iot_core-2parts-armv7l-rpi3/

[2017-06-20 08:34] pmarcinkiew commented on #966
Just to clarify, we will try to build IoT.js Tizen port for Raspberry Pi 3 using this image of Tizen.

[2017-06-20 08:38] yichoi commented on #966
Ok

[2017-06-20 10:15] amistewicz commented on #966
and tar with kernel and modules: http://download.tizen.org/snapshots/tizen/unified/latest/images/standard/common-boot-arm64-rpi3/

[2017-06-20 10:17] amistewicz commented on #966
Fix for old sfdisk: https://github.com/tizen-artik/sdboot/commit/ecf5e0e601ac389072261d32e4bf674f24ec77f1

[2017-06-21 00:34] glistening opened #972 "Unit Test Stalling after merging 97515d9"
Currently, all CI tests are stalled. They are in yellow. I found that it is stalled after

[code]

It seems related to latest merged PR 97515d9.
When I revert it, unit tests finish well on my local machine.

[2017-06-21 00:50] yichoi commented on #972
@LaszloLango Please investigate this more

[2017-06-21 06:43] LaszloLango commented on #972
@bzsolt started the investigation yesterday before the merge. We'll check it. There are some conflict between the tests. IMHO the problem came from the JS test runner.

[2017-06-22 05:28] glistening commented on #972
@LaszloLango I got some information from JS test runner author. JS test runner does not have much features. For example, it cannot stop alive task, it can only stop tests which is completed (no computing any more) and in idle waiting. All tests are required not to enter infinite computing. This limitation mostly comes from low end devices and OSes.

[2017-06-22 05:39] glistening opened #989 "Udp module build error"
There are build errors if I set on udp:

[code]

I tried to fix it by myself. But it shows another error after fixing this error.
FYI, build.py option `--iotjs-include-module` and `--iotjs-exclude-module` does not work.
So currently it is safe to edit `include` and `exclude` sections in `build.config` module section.

[2017-06-23 06:51] #989 closed

[2017-06-24 03:51] #924 closed

[2017-06-26 05:00] #854 closed

[2017-06-26 05:31] daeyeon commented on #853
For release 1.0, we investigated `http`, `http`, `fs`, and `timers` which seem high priority, and adopted some of them with bug fixes. The items confirmed and left were reported.

This task turns out quite big to finish up for 1.0 release schedule. So I think we need to close this for now and divide them smaller and make them 1.x tasks.

[2017-06-26 08:51] #930 closed

[2017-06-27 00:39] sumin-lim opened #1003 "support uv_prepare_t handle API on iotjs"
I have some problem for using uv_prepare_t and uv_check_t handles on IoT.js.
While linking on the build, it returns "undefined referece to `uv_prepare_init` or `uv_check_init`.

These are sub-class of uv_handle_t and I've test on libuv like below.

https://github.com/libuv/libuv/blob/v1.x/docs/code/uvstop/main.c
gcc -Wall -o uv_stop main.c $(pkg-config --cflags --libs libuv)

It seems that there i

[2017-06-27 01:28] hs0225 commented on #750
The word "exclude" seems to be confusing. And I don't think exclude is necessary. However, we need a list of modules suppoted by platform. So I suggest the follwing.

Before,
[code]

After,
[code]

I want to hear a better idea.

[2017-06-27 01:41] glistening commented on #1003
@sumin-lim Currently libtuv does not support `uv_prepare_init` or `uv_check_init`. We removed unnecessary functions in libtuv to reduce binary footprint. Till now, there have been no use cases for those.

To define `uv_prepare_init` and `uv_check_init`,

First, restore following lines in next to [this line](https://github.com/Samsung/libtuv/blob/master/src/unix/loop-watcher.c#L81)

[code]

Then, t

[2017-06-27 02:09] #853 closed

[2017-06-27 03:39] sumin-lim commented on #1003
Thank you for answering. I'll use 'guard', only for Tizen code.

[2017-06-27 03:39] #1003 closed

[2017-06-27 04:41] yichoi commented on #326
We can check license with [FOSSA](http://fossa.io/)

[2017-06-27 04:41] #326 closed

[2017-06-27 08:52] daeyeon commented on #909
#1004 and #1005 are landed.

[2017-06-27 08:52] #909 closed

[2017-06-27 08:54] daeyeon commented on #874
@zherczeg Could you update the above checklist?

[2017-06-27 09:33] #874 closed

[2017-06-28 08:31] #972 closed

[2017-06-28 12:16] daeyeon commented on #816
All patches for this seem landed.

[2017-06-28 12:16] #816 closed

[2017-06-30 06:10] akhilkedia opened #1010 "[Question] External Module Support"
Hi!

We need a feature for a project that does not make sense as part of the IoTjs trunk (follow http redirects, similar to [here](https://github.com/olalonde/follow-redirects) ).
I can see in [module.js](https://github.com/Samsung/iotjs/blob/master/src/js/module.js) right now IoTjs does support external modules to some extent, and in my testing adding external modules by keeping them in a `iotjs_

[2017-06-30 18:01] #932 closed

[2017-07-03 04:06] yichoi commented on #316
You can find the memory result at [here](https://samsung.github.io/iotjs-test-results/#)

[2017-07-03 04:06] #316 closed

[2017-07-03 04:08] yichoi commented on #774
https://samsung.github.io/iotjs-test-results/#

[2017-07-03 04:08] #774 closed

[2017-07-03 04:37] akhilkedia commented on #1010
I found the documentation for this here [https://github.com/Samsung/iotjs/blob/master/docs/api/IoT.js-API-Module.md](https://github.com/Samsung/iotjs/blob/master/docs/api/IoT.js-API-Module.md). It is clear to me that yes, IoTjs does indeed support "external modules" places in `iotjs_modules` folder, so I will go ahead and use it.

[2017-07-03 04:37] #1010 closed

[2017-07-03 05:16] yichoi opened #1013 "Make the samples from iotjs-app repo work"
I just move the samples of iotjs-app repo to iotjs main repo.

Needs to check and remedy these samples

[2017-07-03 05:26] yichoi commented on #1010
Sorry for late response however I am very happy that you have found the solution. Thanks

[2017-07-03 06:27] glistening commented on #600
@vprunet We've further investigated on this issue and we got the conclusion that NuttX on STM32F4 does not provide stable behavior for multiple connection/socket and poll() with multiple descriptors. We will not try to put more resources to make NuttX itself more stable. Do you have any information or better workaround? If so, could you share it with us?

[2017-07-03 07:11] yichoi commented on #176
#1014 landed

[2017-07-03 07:11] #176 closed

[2017-07-04 08:58] yichoi commented on #600
We are going to upgrade our base NuttX. Let's discuss about this when this would happen again

[2017-07-04 08:58] #600 closed

[2017-07-04 09:00] yichoi commented on #601
no response for a long time. please reopen when you find the clue

[2017-07-04 09:00] #601 closed

[2017-07-06 05:05] hs0225 commented on #410
Done.

[2017-07-06 05:05] #410 closed

[2017-07-10 08:05] akosthekiss commented on #750
I'm not sure what the difference between "supported_module.any" and "build module" is. It seems that they list the same modules. Also, I'm not completely sure how the lists of built/included and tested modules are compiled. (If I'm right, the set of tested modules should always be a subset of the built/included modules, but in the suggested approach, "supported_module.any" + "supported_module.OS"

[2017-07-11 02:47] hs0225 commented on #750
@akosthekiss The module list is required below:

1. Binary used by a developer (`build_module`), If the developer builds modules that do not exist in the supported module, it will return an error.
2. Test runner for modules included in binary (`build_module`)
3. On Travis, all implemented modules in each os and test runner (`supported_module.any`+ `supported_module.os`) ex) linux : any + linux

Th

[2017-07-13 11:21] haesik opened #1038 "Romfs is not yet supported in TizenRT"
Currently the ROMFS is not supported in TizenRT,
But we need ROMFS to perform the test..
So, I make a PR #1037 to share the current environment..
If TizenRT supports ROMFS officialy, I will delete this patch.

[2017-07-13 11:25] daeyeon opened #1039 "Tizen RT Platform defects"
## Tizen RT Platform defects

The following table shows TizenRT platform issues resolved with our internal workaround.

Defect Name | IoT.js Temporary Patch | TizenRT Github
------------ | ------------- | ------------- |
Romfs patch for artik053 | https://github.com/Samsung/iotjs/pull/1037 | https://github.com/Samsung/TizenRT/issues/272

[2017-07-13 11:29] #1038 closed

[2017-07-14 01:17] sumin-lim commented on #966
Hello, For the RPI Tizen Porting, I share a guide from
https://github.com/sumin-lim/iotjs_doc/blob/master/iotjs_RPI3_Tizen.md

[2017-07-14 14:03] tadziopazur opened #1045 "misc test takes too much time"
tools/precommit.py --test=misc took ~30 minutes on Travis, 2x more then the next-longest test.
I'd like to break the misc test into separate ones, so Travis tests complete quicker.
Indented are the three separate builds that I think do not belong there.

tools/precommit.py:237-251
    elif test == "misc":

        args = []
        if os.getenv('TRAVIS') != None:
            args = ['--travis']

[2017-07-14 19:18] renatahodovan opened #1046 "Segfault in ReadUInt8"
###### IoT.js version:

[code]
###### OS:

[code]
###### Test case:

[code]

###### Backtrace:

[code]

<sup>Found by  [Fuzzinator](http://fuzzinator.readthedocs.io/)</sup>

[2017-07-17 09:14] KonradNowicki opened #1047 "setTimeout blocks nextTick methods."
Method setTimeout  appears to block other functions inserted using nextTick.

[code]

No console logs appear. Only exception is thrown. Without (1) nextTick code runs without problems.

My expectation is:
- (1) will be added to queue
- (1) will be executed
- (2) will be added to queue
- (3) will be added to queue
- (4) will be added to queue
- (2) will be executed
- (3) will be executed
- (4) will

[2017-07-17 15:28] pmarcinkiew opened #1051 "IoT.js port to Artik 10 Tizen compilation fails during GBS setup due to missing terminfo-base-xxx"
The GBS compilation fails for Artik 10 version of IoT.js

[code]

I used ~/.gbs.conf:

[code]

Please find below my full compilation log:

[code]

[2017-07-17 23:06] glistening opened #1052 "Nominating Robert Sipka(@robertsipka) to become an IoT.js committer"
I would like to nominate Robert Sipka(@robertsipka) to become an IoT.js committer.

Here are merged PRs:

- Remove redundant type validator (#1001)
- Add a more secure type validator to SPI (#985)
- Improve type validator in PWM module (#993)
- Add a more secure type validator to TCP (#977)
- Add a more secure type validator to PWM (#984)
- Fix socket destroy in case of no connection (#955)
- Fix

[2017-07-17 23:07] glistening opened #1053 "Nominating Roland Takacs(@rtakacs) to become an IoT.js committer"
I would like to nominate Roland Takacs(@rtakacs) to become an IoT.js committer.

Here are merged PRs:

- Add test result information to the README.md (#1020)
- Update the testsets.json file (#968)
- Update the testsets.json file (#964)
- Use AF_INET by default on NuttX when no address family specified. (#871)
- Rename test_events_emit_error.js to test_events_assert_emit_error.js in run_pass folder

[2017-07-17 23:08] glistening opened #1054 "Nominating Imre Kiss(@knightburton) to become an IoT.js committer"
I would like to nominate Imre Kiss(@knightburton) to become an IoT.js committer.

Here are merged PRs:

- Improve the test coverage. (#706)
- Improve util coverage. (#732)
- Fix the coverage measure script. (#752)
- Fix dns module test. (#778)
- Improve the timers module coverage. (#779)
- [Code coverage] Test the double response in http. (#830)
- [Code coverage] Cover the http status codes. (#831

[2017-07-17 23:54] yichoi commented on #1054
+1

[2017-07-17 23:54] yichoi commented on #1053
+1

[2017-07-17 23:54] yichoi commented on #1052
+1

[2017-07-18 01:49] hs0225 commented on #1052
+1

[2017-07-18 01:49] hs0225 commented on #1053
+1

[2017-07-18 01:49] hs0225 commented on #1054
+1

[2017-07-18 04:22] zherczeg commented on #1052
+1

[2017-07-18 04:22] zherczeg commented on #1053
+1

[2017-07-18 04:22] zherczeg commented on #1054
+1

[2017-07-18 04:46] zherczeg opened #1056 "Nominating Haesik Jun (@haesik) to become an IoT.js committer"
I would like to nominate Haesik Jun (@haesik) to become an IoT.js committer. The list of his landed patches follows:

Romfs patch for artik053 (#1037)
Delete old and duplicated samples (#1036)
Add config files for TizenRT/Artik053 (#1025)
Fix build error on Artik053 board (#1016)
Change the iotjs execution methods on TizenRT (#755)
Update http-parser submodule (#751)
Add iotjs command on TizenRT (

[2017-07-18 04:57] yichoi commented on #1056
+1

[2017-07-18 05:13] daeyeon commented on #1052
+1

[2017-07-18 05:13] daeyeon commented on #1053
+1

[2017-07-18 05:13] daeyeon commented on #1054
+1

[2017-07-18 05:13] daeyeon commented on #1056
+1

[2017-07-18 05:36] glistening commented on #1056
+1

[2017-07-18 05:56] hs0225 commented on #1056
+1

[2017-07-18 06:45] LaszloLango commented on #1052
+1

[2017-07-18 06:46] LaszloLango commented on #1053
+1

[2017-07-18 06:46] LaszloLango commented on #1056
+1

[2017-07-18 06:46] LaszloLango commented on #1054
+1

[2017-07-18 07:53] #1046 closed

[2017-07-18 09:27] akosthekiss commented on #1052
+1

[2017-07-18 09:28] akosthekiss commented on #1053
+1

[2017-07-18 09:28] akosthekiss commented on #1054
+1

[2017-07-18 09:28] akosthekiss commented on #1056
+1

[2017-07-18 09:43] jgasiewski opened #1057 "Incorrect parsing of regex ended by Unicode characters range"
For this test Node js and IoT js results of regex test diverge:
`var regexps = [ /^[\u0061-\u007a]+$/, /^[a-z]+$/, /[\u0061-\u007a]+$/, /^[\u0061-\u007a]+/ ];
regexps.forEach(function(elem) {console.log(elem.test('asdf'));});`
Expected result (tested on Node js): 4x true
Result on IoT js:  false, true, false, true

[2017-07-18 10:16] pmarcinkiew commented on #1051
I have found solution for this issue:

https://github.com/Samsung/iotjs/pull/1058

[2017-07-18 11:20] tosyu opened #1059 "Random travis-ci test fails"
Hello

I have a problem with TravisCI tests :scream:  Sometime it raindomly fails on asserts spilling out errors in valgrind environment. Sometimes it fails on coverity, sometimes it fails on host-linux tests. The solution is to force restart the tests hoping that the next run will pass :confused:

Example https://travis-ci.org/Samsung/iotjs/builds/254446216?utm_source=github_status&utm_medium=not

[2017-07-18 11:26] LaszloLango commented on #1057
This is related to the JS engine (JerryScript). I'll check it later.

[2017-07-19 01:59] daeyeon commented on #1045
Apparently we can skip `--iotjs-minimal-profile` at least.

[2017-07-19 02:02] hs0225 commented on #1013
Merged to #1036.

[2017-07-19 02:02] #1013 closed

[2017-07-19 02:05] hs0225 commented on #933
#946 was landed.

[2017-07-19 02:05] #933 closed

[2017-07-19 03:12] yichoi commented on #1052
Congratulations!

[2017-07-19 03:12] #1052 closed

[2017-07-19 03:13] yichoi commented on #1056
Congratulations!

[2017-07-19 03:13] #1056 closed

[2017-07-19 03:13] yichoi commented on #1054
Congratulations!

[2017-07-19 03:13] #1054 closed

[2017-07-19 03:13] yichoi commented on #1053
Congratulations!

[2017-07-19 03:13] #1053 closed

[2017-07-19 04:12] yichoi commented on #1057
jerryscript-project/jerryscript#1927 and #1061 landed

[2017-07-19 04:12] #1057 closed

[2017-07-19 06:51] yichoi commented on #1047
closing since 1060 landed

[2017-07-19 06:51] #1047 closed

[2017-07-19 10:01] tosyu opened #1062 "Strings with 0 preprended do not work"
Hello,

I have a problem with strings that have 0 in their body. The problem could be problematic on low level communication (SPI or I2C) and enforces checking every byte prior to string concatenation.

The following code

[code]

will output

[code]

on nodejs

and in jerry script repl mode will output

[code]

but on iotjs the output is empty :cry:

[2017-07-19 10:12] LaszloLango commented on #1062
The problem comes from the implementation of the console module.

[code]

It expects a zero terminated string, so it stops at the first zero character. To fix this you can change it to

[code]

[2017-07-19 10:29] akosthekiss commented on #750
@hs0225 What confuses me is:

This is a config file that can be replaced (build.py takes the `--config` option to use an alternative config file, different from the default). This means that there is no way to ensure that "`supported_module` cannot be modified" (it can be just as much modified as `build_module`, technically). In my opinion, the default config file should come with the defaults, an

[2017-07-19 12:06] tosyu commented on #1062
This does not resolve the issue as bash (or even zsh) terminate the string after \0, check the following code

[code]

which outputs

[code]

the \0 is not converted to an unicode character, which differs from nodejs and jerry-script repl console

[2017-07-19 12:18] zherczeg commented on #1062
I don't understand how console.log affects SPI or I2C.

[2017-07-19 12:24] LaszloLango commented on #1062
@tosyu in that case `console.log` must be implemented like the default print handler in JerryScript: https://github.com/jerryscript-project/jerryscript/blob/master/jerry-ext/handler/handler-print.c

Although this should not affect SPI and I2C.

[2017-07-19 12:42] tadziopazur commented on #1059
I have seen this behavior by Travis -- seemingly irrelevant tests fail at uv error handling.
Sometimes they fail directly at timeout handling (net tests IIRC).

I think the real cause is the invalid handling of timeouts that are due to underpowered Travis worker instances.

[2017-07-19 12:44] tosyu commented on #1062
@zherczeg @LaszloLango  At the first post I did not say console affects SPI or I2C, as I thought the problem was in the String implementation itself. Guys, I'm submitting an issue, not the solution for it, I do not have to know why the error occurs and where it's actually is :)

Side note. I have discovered the error while testing SPI<->Arduino communication, because not waiting for the device to

[2017-07-19 13:05] LaszloLango commented on #1062
@tosyu it is still not clear for me what is wrong with the string implementation. JS strings have to be able to store null characters. :)

[2017-07-19 13:28] zherczeg commented on #1062
Yes, even IoT.js strings can store 0 character, that is why the size is also stored for strings (so you can check that a \0 is a terminator or intermediate character).

[2017-07-19 14:09] tosyu commented on #1062
@LaszloLango @zherczeg I really do not understand where is the discussion going :confused: I created an issue that the \0 in strings works differently with nodejs and iotjs and jerry-script.

[2017-07-20 00:33] glistening commented on #750
@akosthekiss Thank you for comment. `supported_module` is read-only property that the developers cannot and should not edit. It is a collection of the implemented and verified modules for each platform. The developers enables modules by selecting modules in `supported_module` (any + specific os) and including those in `build_module`. Are you suggesting separating `supported_module` from config fil

[2017-07-20 03:44] zherczeg commented on #1062
I suspect the problem is in string print, since it does not print further characters after \0 (this is probably correct). You can fix it by printing characters in a loop, if console.log is the only problem.

[2017-07-20 08:00] akosthekiss commented on #1062
I think we should mark this issue as a bug or a feature request. @tosyu has explicitly stated that this is a problem for him, but he is not planning to try and fix it. @zherczeg, @LaszloLango Now it's for us, for the project team, to decide first whether it is really a misbehaviour (-> mark it as bug) or whether we are happy with the current way of working (-> mark it as feature request, and decid

[2017-07-20 09:03] kolipka commented on #1062
fix applied in #1070

[2017-07-20 11:16] akosthekiss commented on #750
To me, it's a bit strange to have something unmodifiable in a _config_ file. But so be it. But then I'm still not convinced about the need for `build_module`, exactly because of the syncing burden. (Typos are just one thing. Another thing is that someone will have to copy-paste from `supported_module ` to `build_module` any time the former changes. And yet another thing is that `build_module` is n

[2017-07-20 22:16] #1062 closed

[2017-07-21 09:08] glistening opened #1073 "Improving remote test runner to cover new os/boards"
_Note: We will not cover system I/O automation in this issue so that we can concentrate remote-test-running itself_

We are using [remote test runner](https://github.com/rtakacs/remote-testrunner) to run IoT.js unit tests automatically. It works greatly for NuttX/stm32f4-discovery and Linux/RPI.

Now, we must support two more platforms (TizenRT/artik053 and TizenIoT/RPI) and the kind of boards may

[2017-07-21 10:53] kolipka commented on #1073
As a continuation of https://groups.io/g/iotjs-dev/message/21:

A user story:
Now I get test_spi.js failed. I need to know how many tests/asserts was executed for this module, and what tests failed. That will help me to estimate condition of module: 1 of 10 failed is differend that 9/10 failed. Now to know we have to read sources and extract this information. This is pretty basic capability of UT

[2017-07-21 12:18] rtakacs commented on #1073
@glistening It seems feasible.

**NuttX - STM32F4-Discovery**: NuttX supports shell over USB (usbnsh), that's why we can replace the currently used Ethernet based communication (netnsh). We can use `minicom` for the serial communication. (Tested)

**Linux - Raspberry Pi**: We can use UART for the serial communication, so we can eliminate the Ethernet based one. `minicom` can be used as well for th

[2017-07-24 04:17] glistening commented on #1073
@kolipka I don't agree that we need to rewrite whole test framework for the reason above. The requirement and benefit seems to be improvable in remote test runner, or lower priority than getting the working solution in given time schedule to meet basic requirements. ( Currently we have no way to run unit tests automatically for new platforms. Let's make working one before improving. )

I am not su

[2017-07-24 06:38] kolipka commented on #1073
@glistening
1. I am not aware of any time schedle so I don't take it into account. What I want to emphasize is nodejs is superior to any python solution because of above reasons and many more. As a side note: I like python a lot, and spend few years using it exclusively and it was really good experience. But pleasae choose the best tool for the job. Python is not the best here.
2a. I am not sure I

[2017-07-24 11:07] KonradNowicki opened #1077 "Require recursive load."
Hello,

I have a problem with modules with the same name that loads itself recursively. There are 2 situations described below.

1. Core module vs local module
I have test file ./test/gpio.js
[code]
When run: script loads itself until recursion limit is reached.
[code]
I would expect that require will load gpio core module not local one, if I would want to load local module I would use: ` require(

[2017-07-24 14:01] tadziopazur commented on #1051
I had similar issue, with the gbs.conf as follows (removed presumably non-relevant lines).
Apparently the libstdc++ of required version is not present in Tizen OBS repositories.
How? Why?

[general]
profile = profile.tizen_unified

[profile.tizen_unified]
obs = obs.spin
repos = repo.public_4.0_base_arm, repo.tizen_unified

[obs.spin]
url = http://168.219.209.58:81

[repo.public_4.0_base_arm]
url =

[2017-07-24 15:15] pmarcinkiew commented on #1051
I noticed that both my and @tadziopazur Ubuntu PC use GBS 0.24.3.

I upgraded my GBS to 0.24.6 version from tizen.org Ubuntu [package](http://download.tizen.org/tools/latest-release/Ubuntu_16.04/).

The build process is successful so it seems to be issue with backward compatibility of GBS but I'm not sure. I will close this issue and reopen it if errors with occur again.

[2017-07-24 15:15] #1051 closed

[2017-07-25 07:11] glistening commented on #1073
@kolipka Your comment helped me much to understand your point in detail. I appreciate your suggestion.

[2017-07-25 08:34] glistening commented on #1045
@tadziopazur Oh, I've found this issue after I pushed #1076. The solution is same as it is straightforward, and I also made `coverity` job skip unit-tests. After that patch, the longest job is reduced from 18m to 11m52s. The total job time is reduced from 1h10m to 52m.

@daeyeon I did not removed `--iotjs-minimal-profile` yet since it does not take long time, and I don't know why `--iotjs-minimal-

[2017-07-25 13:18] jgasiewski opened #1078 "Http request - server unreachable bug"
Hello,
I have a problem with http request case when server is unreachable.
Running test code bellow, doesn't return any error/exception when request is sent to unreachable host.
[code]
Commenting the last line, hides(removes?) bug and example works properly. However, if I understand correctly API reference, this line is mandatory.

[2017-07-25 21:44] pmarcinkiew commented on #966
Can we close this issue?

[2017-07-26 01:04] yichoi commented on #966
Is it done ? I would like add specific requirements of Tizen IoT Headless. @sumin-lim or @haesik

[2017-07-26 01:56] sumin-lim commented on #966
I share the plan for Tizen specific req for Tizen IoT Headless

**Apply Tizen Appfw & Peripheral I/O on IoT.js**
1. Apply Tizen’s Peripheral I/O on Iot.js (SRPOL)
2. Setting
- Add tizen CMAKE_SYSTEM_NAME
- Apply Tizen dlog
(for this setting, I'm preparing this,
https://github.com/Samsung/iotjs/compare/master...sumin-lim:tizen )

3. Apply AppFW
- Apply Tizen’s appcore-agent  and dlog on console&deb

[2017-07-26 11:30] kolipka commented on #1039
There is another issue:
https://github.com/Samsung/TizenRT/issues/320. I will add reference to temporary fix when it will be ready.

[2017-07-26 16:30] #142 closed

[2017-07-26 20:44] nodebotanist opened #1081 "'Getting Started' link in README 404s"
Link leads to a GitHub 404 page.

[2017-07-26 21:03] akosthekiss commented on #1081
Thanks for reporting. Already being handled in #1079

[2017-07-26 23:52] #1081 closed

[2017-07-27 15:17] pmarcinkiew opened #1085 "GBS IoT.js build fails with cmake error: your C compiler: "arm-linux-gnueabi-gcc" was not found."
I compiled my change for (GPIO)[https://github.com/pmarcinkiew/iotjs/tree/temporary_peripheral_GPIO].

It fails with missing compiler error at basic cmake:

[code]

My GBS conf:

[code]

[2017-07-27 16:16] marcinsmsg commented on #1085
Try this one:
[code]

[2017-07-27 17:01] pmarcinkiew commented on #1085
The number of installed GBS packages in environment is smaller but still my GBS fails to compile.

What is your GBS version?
[code]

The full compilation log:
[code]

[2017-07-27 19:16] pmarcinkiew commented on #1085
I successfully compiled IoT.js for Tizen IoT using Ubuntu 14.04 LTS with the same version of GBS and .gbs.conf from GITHUB. It is not clear that old Ubuntu works better because GBS is simply very indeterministic during compilation of IoT.js with Tizen Unified. I will temporarily close this issue.

We should consider introducing Travis GBS buils with some kind of virtualization to provide stable en

[2017-07-27 19:16] #1085 closed

[2017-07-31 09:54] kolipka commented on #631
@daeyeon I would like to suggest this as a 1.x candidate

[2017-07-31 19:16] pmarcinkiew commented on #1059
Today it happen two times already for me. I just change commit message and trigger Travis to get 100% pass. It was test_net_2 two times. In my opinion it is unstable. We should disable it and investigate it separately. It is not efficient to debug some network instability during each pull request.

[2017-08-01 07:26] LaszloLango commented on #1077
I'll check this issue. Thanks for reporting.

[2017-08-01 07:28] kolipka opened #1090 "bug in test mechanism"
I am trying to check IoT.js test suite on TizenRT. In parallel suite I discovered that our testing mechanism (check_test.js / test_runner.js) have some flows. I receive status that test-http-status-message.js failed, but in fact problem is in test-http-catch-uncaughtexception.js. You can see the same behaviour on linux, when you change [test-http-catch-uncaughtexception.js](https://github.com/Sams

[2017-08-01 07:46] LaszloLango commented on #1090
Thank you for your kind input. We have (already) taken into account your inconvenience and that is why there is the remote test runner and the previously discontinued python test runner. Please see to the other Issues/PRs for further info. https://github.com/Samsung/iotjs/pull/655#issuecomment-283678236
IMHO, we should reopen the #655.

[2017-08-02 05:46] akhilkedia commented on #1078
This seems to be a synchronysation issue - calling request.end() after a 1 second timeout does give the error callback.

[2017-08-02 09:39] robertsipka commented on #1073
@kolipka : Thanks for your suggestion to use firebase. It is good for our database logic because we don't want to handle complex queries and the data synchronization is quite good. I have changed the remote-testrunner and the related sites ([Iot.js](https://samsung.github.io/iotjs-test-results/), [Jerryscript](https://jerryscript-project.github.io/jerryscript-test-results/)) to store and retrieve

[2017-08-02 09:47] kolipka opened #1092 "TizenRT issue: test-http-catch-uncaughtexception.js fails"
test-http-catch-uncaughtexception.js fails when I run all tests( with error 'socket hang up'). When I run tests with _start-from=test-assert.js_ flag, it succeed.

The only clue I have for now is that there is different test sequence. When starting from test-assert.js this tests execute without interruption. When I run whole suite,  test-http-status-message.js happens at the same time and perform

[2017-08-03 07:12] tobyZhou commented on #201
Hello, @yichoi . Thanks for your explanations!
I'm trying iotjs currently, just wonder for the second point, does it support printing JavaScript stack trace now? or it's still impossible to print JavaScript stack trace yet?

[2017-08-07 14:26] tosyu opened #1101 "Closing UART resource causes hang/crash"
The following code will cause IoT.js to crash

[code]

[code]

if we remove the `console.log` printing in `setTimeout` the process will just hang

[2017-08-08 01:30] #1078 closed

[2017-08-08 08:37] tobyZhou commented on #201
hello. does anyone have idea about this? is it possible to print JavaScript stack trace.?

[2017-08-10 12:08] glistening commented on #1090
@kolipka, @LaszloLango We've discontinued python test runner with JS test runner in hope that JS test runner will cover low end device/os like stm32f4-discovery/nuttx, which lacks of python. But till now, we've got continuous report of limitation of JS test runner and we have and can use remote test runner in stm32f4-discovery/nuttx. Furthermore, remote test runner on artik053/tizenrt is almost do

[2017-08-14 05:12] shulgaalexey opened #1116 "RPi3 Installation guide broken link"
The link https://git.tizen.org/cgit/platform/kernel/linux-rpi3/plain/scripts/sd_fusing_rpi3.sh?h=tizen seems inaccessible

Context: the Chapter 2 of the Guide https://github.com/Samsung/iotjs/blob/master/docs/build/Build-for-RPi3-Tizen.md

[2017-08-14 11:30] tosyu opened #1117 "Artik board is missing in process variables"
The list for the `board` variable in the documentation is not complete

How can I know If I am running on Artik board?

[2017-08-17 01:42] yichoi commented on #1116
fixed by #1118

[2017-08-17 01:42] #1116 closed

[2017-08-17 09:47] daeyeon commented on #1039
- Configuration limitations of TizenRT: (https://github.com/Samsung/TizenRT/issues/290, https://github.com/Samsung/TizenRT/issues/196)
- GDB debugger fails to connect with Tizen RT Artik 053 (https://github.com/Samsung/TizenRT/issues/316)
- SPI missing features at Tizen RT (https://github.com/Samsung/TizenRT/issues/202)
- Missing checks for compilation errors (https://github.com/Samsung/TizenRT/is

[2017-08-17 11:40] tosyu opened #1121 "Problematic exception handling in callbacks"
The following code in `iotjs_binding.c`

[code]

Doesn't do anything when exception is thrown in release build, but on debug build it terminates the whole process. Which can fail automated tests (the whole test runner) if exception is thrown in callbacks, example:

[code]

This code will terminate the whole iotjs process with message:

[code]

Two bugs I see here:
1. Inconsistency, debug and relea

[2017-08-18 01:57] daeyeon commented on #1117
It isn't a result from board detection in realtime. The build option given for `--target-board` is stored for `process.iotjs.board`. So, clearily speaking, it indicates which board the IoT.js was made for. I will update the document.

[2017-08-18 04:33] glistening commented on #1051
I met error during gbs build. It seems similar to @pmarcinkiew's case. I am using gbs 0.23.2. I will update gbs to 0.24.6 or newer version, and remove GBS-ROOT, and try again.

[code]

[2017-08-18 06:13] kolipka commented on #1039
OK, this one should solve another net problems:
https://github.com/Samsung/TizenRT/issues/425

[2017-08-18 08:37] tosyu commented on #1117
@daeyeon this is not true, when passing the option --target-board the option is **rpi2** while the variable holds **RP2** which suggests there is no connection between `--target-board` param and `process.iotjs.board` variable

[2017-08-18 09:23] daeyeon commented on #1117
Oh, there was a mistake in writing my meaning. Finding where `TARGET_BOARD` is defined might be a clue to know the cause of this problem. https://github.com/Samsung/iotjs/blob/master/src/modules/iotjs_module_process.c#L236

[2017-08-18 10:32] kolipka commented on #1039
And another one LWIP issue:
https://github.com/Samsung/TizenRT/issues/427
With fix described there  test-net-bind-twice.js works like a charm. Results are:
[code]

[2017-08-18 15:24] tadziopazur opened #1126 "Precommit script produces broken STM32/Nuttx port"
Recent iotjs repository (aa96e33310, Wed Aug 16 03:25:04 2017) built for STM32F4Discovery does not support serial console over USB (CN5).
It does not support USART1 nor USART2.

Not sure if it boots at all, nothing indicates it does.

On the other hand, upstream nuttx, with no IOTSJ and attached configuration works like a charm (well, after an include is added and the project actually builds).

ht

[2017-08-19 09:24] bzsolt commented on #1126
@tadziopazur  based on [this guide](https://github.com/Samsung/iotjs/blob/master/docs/build/Build-for-STM32F4-NuttX.md) I can build the current IoT.js master (1f29e9f) from the beginning to stm32f4/NuttX, I can login to the board via `minicom`, can run tests, so everything seems to be fine.

I've tried to create a nuttx binary with the `precommit.py --test=nuttx`, it's also works, but I couldn't f

[2017-08-20 17:35] tadziopazur commented on #1126
Oh, that is disconcerting, I'd much prefer that tests actually run what is build in automated process.
Alas, the instruction is unclear and didn't allow me to obtain a workable build.

So far I have had issues building and running IoT.js on STM32F4, as it does not build/boot with just random configuration. In my case, whatever I did, the build wouldn't boot with either:
 - FPU enabled
 - ethernet

[2017-08-21 06:15] daeyeon commented on #1077
@KonradNowicki I simply tested the issue 1, but my observation with the latest was different.

./test/console.js
[code]

Result:

When run: the local script doesn't load itself. Can you clarify if I correctly reproduce the issue you raised?

[2017-08-21 07:21] LaszloLango commented on #1077
@daeyeon it the native module is built than it works as expected. This happens when you try to load the gpio module when it is not built. At least that was my observation and that's what I fixed in #1094

[2017-08-21 07:49] KonradNowicki commented on #1077
@daeyeon I guess I have used iotjs version without gpio for testing (as @LaszloLango  mentioned). Sorry for that.

[2017-08-21 08:15] daeyeon commented on #1077
@KonradNowicki @LaszloLango Thanks for your clarification.

[2017-08-21 08:16] #1077 closed

[2017-08-22 07:34] tosyu opened #1132 "Tests: iotjs should not be test runner"
Using IoT.js for running test harness is prone to errors. When testing uart I have encountered problems with uart waiting for the response and hanging the whole test process, as there is no tool to kill an "async job" in the `iotjs` platform.

This would be easy to fix if IoT.js could spawn new instances of itself and if one would hang, the master process could kill it after a period of time. Havi

[2017-08-22 09:40] daeyeon commented on #1132
The same was on https://github.com/Samsung/iotjs/issues/1073. We're using remote-testrunner to avoid the issues you raised.

For instance, it runs tests on stm32f4dis:

- For timeout: https://github.com/rtakacs/remote-testrunner/blob/serial_com/API/device/stm32f4dis.py#L111
- For clean test, it even reboots the board per a test.
https://github.com/rtakacs/remote-testrunner/blob/serial_com/API/devi

[2017-08-22 10:19] tosyu commented on #1132
IMHO This should not be done per test, only if the board fails. As this prevents detecting memory problems

[2017-08-22 10:27] tadziopazur commented on #1126
All great and exciting, but there is three pages worth of manual changes applied to the mentioned config listed in the guide, so the file you mentioned is not the answer to my question.
Also, applying those changes is error-prone and AFAIR cannot be done in a single pass.
Thus I ask for the ACTUAL configuration (config the nuttx has been built with) file.
Can you dig it up please?

[2017-08-22 10:46] rtakacs commented on #1132
As I checked on stm32f4-nuttx, when the board is not restarted at every tests, it could cause random fails on tests. This is the reason why the remote-testrunner reboots the device per test (to ensure a clean environment).

[2017-08-22 10:49] tosyu commented on #1132
Ok,

@rtakacs @daeyeon so I should make my changes in #1127 also in remote-test-runner, since `check_test.js` is not used, right?

[2017-08-22 12:03] daeyeon commented on #1132
@tosyu No. We need to first know why this repeated misunderstanding happens. We need to clarify requirements, due date and priorities SRPOL understands again. Please contact us internally with them.

[2017-08-22 13:08] bzsolt commented on #1126
I've used this config file without any manual configuration and it worked for me.

[2017-08-23 08:14] #750 closed

[2017-08-24 15:25] tadziopazur commented on #1126
For me it didn't.
Nevermind, I crafted a config that works and supports most of what we need (that pesky ethernet causes firmware to fail at boot).
It can be found in the PR: https://github.com/Samsung/iotjs/pull/1138

[2017-08-25 16:48] pmarcinkiew opened #1146 "Nuttx Travis build fails to produce working image for STM32F4"
The current IoT.js Travis Nuttx build is useless. It can be flashed into device but fails to respond to any basic UART command.

[2017-08-25 16:50] #1146 closed

[2017-08-25 16:50] pmarcinkiew commented on #1146
Duplication of https://github.com/Samsung/iotjs/issues/1146

[2017-08-27 23:16] yichoi commented on #1126
reopen along with #1138.

[2017-08-28 05:54] kolipka commented on #1092
This issue was in fact problem with another test, but #1123 and related TizenRT issue (https://github.com/Samsung/TizenRT/issues/425) fix this problem.

[2017-08-28 05:54] #1092 closed

[2017-08-28 05:57] #1090 closed

[2017-08-29 01:32] yichoi opened #1148 "Remove (.) for config files"
we found the this issue while handling #1147 however it is not on top priority, we will remove at next time this kind of file names.

[2017-08-29 02:14] daeyeon opened #1149 "UART for Tizen IoT"
UART for Tizen IoT needs to be implemented. Please refer to #1088 and #1102 as the previous work.

Checklist
- [ ] UART on RPi3, STM32F, and TizenRT test passes (if affected existing supports are expected.)
- [ ] A single commit in a pull request

[2017-08-30 10:23] kolipka opened #1157 "IoT.js does not pass sysroot to JerryScript"
In order to fix syntax error core dump there is TizenRT https://github.com/Samsung/TizenRT/pull/462 introduced. I have a problem since IoT.js compilation takes `jmp_buf` from compiler not from TizenRT folders.

[code]

setjmp/longjump does not work, since compiler structure is too short and stack gets corrupted.

[2017-09-01 02:46] #1045 closed

[2017-09-01 08:02] KonradNowicki opened #1165 "Buffer constructor is not passing encoding"
Hi
Buffer constructor behaves differently when using _new_ and when called as a function.

[code]
[code]

[2017-09-01 08:30] akhilkedia commented on #449
@glistening Right now, there is no support to easily iterate over JS array elements on the C side.
This feature will be extremely useful in a OCF Things SDK I am currently working on.
Is support for this planned in the near future, or will it not be supported to keep APIs minimal?

[2017-09-01 13:08] LaszloLango commented on #449
@akhilkedia you can call [`jerry_get_array_length`](http://jerryscript.net/api-reference/#jerry_get_array_length) and [`jerry_get_property_by_index`](http://jerryscript.net/api-reference/#jerry_get_property_by_index) directly until the IoT.js binding hasn't done.

[2017-09-03 16:44] akhilkedia commented on #449
@LaszloLango Thanks!

[2017-09-04 07:55] pmarcinkiew opened #1168 "TizenRT build broken due to TizenRT changes at master - nettest_functions.c"
[code]

[2017-09-04 10:51] pmarcinkiew commented on #1168
See: https://github.com/Samsung/iotjs/pull/1169

In my opinion we should manage current version of TizenRT used for IoT.js.

[2017-09-04 20:45] pmarcinkiew opened #1171 "Invalid address string processing in UDP module Bind function"
IP address is passed from iotjs_string to uv_ipv4_address using iotjs_string_data function:

https://github.com/Samsung/iotjs/blob/master/src/modules/iotjs_module_udp.c#L155

The iotjs_string doesn't contain null terminated string and iotjs_string_data just returns buffer to this unterminated string. The function uv_ipv4_address calls several functions inside with just snprintf used in the bottom

[2017-09-05 23:59] shulgaalexey opened #1178 "Broken links in Build-for-RPi3-Tizen doc"
Hi @sumin-lim

Pls check hyperlinks in **Downloading TizenIoT Core Image for RPi3** section of docs https://github.com/Samsung/iotjs/blob/master/docs/build/Build-for-RPi3-Tizen.md#downloading-tizeniot-core-image-for-rpi3
master branch

Seems both are out of date

Thanks

[2017-09-06 17:31] #1168 closed

[2017-09-06 17:50] pmarcinkiew commented on #1157
Fix:
https://github.com/Samsung/iotjs/pull/1163

[2017-09-07 10:42] hs0225 commented on #1101
closing since #1179 landed.

[2017-09-07 10:42] #1101 closed

[2017-09-07 11:00] pmarcinkiew opened #1182 "Tizen GBS compilation fails with missing python, cmake"
The current master for IoT.js fails to compile in GBS

Reproduction steps

1. Copy gbsbuild.sh:
    $ cp config/tizen/gbsbuild.sh .
2. run gbsbuild:
   $ ./gbsbuild.sh

Expected result:
RPM compiled for IoT.js

Result:
[code]

Full list of missing packages:
[code]

[2017-09-07 12:24] tosyu commented on #1182
Same problem here, gbs build fails

[2017-09-08 00:40] glistening commented on #1178
@shulgaalexey Thank you for informing us. I've asked @sumin-lim. I hope http://download.tizen.org/snapshots/tizen/unified/latest/images/standard/iot-headless-2parts-armv7l-rpi3/ and http://download.tizen.org/snapshots/tizen/unified/latest/images/standard/iot-boot-arm64-rpi3/ work.

[2017-09-18 09:10] daeyeon opened #1197 "measuring coverage on rpi2"
`Error: ERR_REF_COUNT_LIMIT` occurs while check_test.js runs under `measure_coverage.sh` on rpi2.

In the above observation, I modified the following items in measure_coverage.sh :
- check_architecture is blocked.
- use nvm install 4.0.0

[2017-09-18 09:20] rtakacs commented on #1197
@daeyeon I also noticed that you wrote (#1196)

[2017-09-18 11:38] tkeri opened #1198 "Replace type checker calls"
@hs0225 I think you get me wrong there: https://github.com/Samsung/iotjs/pull/1158

The function implementations weren't deleted (util.js). These were replaced with JavaScript
comparison operator in other JavaScript files.. I think it's a useful patch, because we can reduce the memory with this.

[2017-09-19 08:57] tkeri commented on #1198
**Tester: freya, build: release arm-rpi2 4b665d4**
===================
| testfile                                   | total       | peak        |
|--------------------------------------------|-------------|-------------|
|                                            | diff / byte | diff / byte |
||||
| run_pass/test_process_cwd.js               |             |             |
| Jerry Heapsize: 256

[2017-09-19 08:57] tkeri commented on #1198
**Tester: freya, build: release x86 4b665d4**
===================
| testfile                                   | total       | peak        |
|--------------------------------------------|-------------|-------------|
|                                            | diff / byte | diff / byte |
||||
| run_pass/test_process_cwd.js               |             |             |
| Jerry Heapsize: 256

[2017-09-19 09:01] tkeri commented on #1198
The tables show difference of two binaries.

In a similar manner: https://github.com/Samsung/iotjs/pull/1143

[2017-09-19 14:18] LaszloLango opened #1201 "Rework and simplify the binding layer."
The current binding layer was intended to make it possible to use other JS engines, but the IoT.js currently strictly depends on JerryScript. By simplifying the binding layer we could reduce the binary size and improve the performance of the IoT.js framework. It would be a huge rework, but it definitely worth to take the effort.  I suggest to do it incrementally in smaller steps.

  1. [x] Change

[2017-09-20 06:13] yichoi commented on #1201
It makes sense. Thanks

[2017-09-20 06:49] zherczeg commented on #1201
I support this rework. Snapshots, magic strings and other convenience features are highly JerryScript dependant, so it does not make sense to try to support other engines.

[2017-09-20 06:55] daeyeon commented on #1201
I think that you mean not `iotjs_val_t`, but `iotjs_jval_t`.

[2017-09-20 07:20] LaszloLango commented on #1201
@daeyeon yes, I updated the description.

[2017-09-20 08:46] glistening commented on #1165
@KonradNowicki Thank you for reporting a bug.

[2017-09-20 09:23] daeyeon commented on #1201
@LaszloLango can you kindly explain why `Change the iotjs_jval_t* occurrences to iotjs_jval_t (It could be done incrementally in smaller patches)` is needed?

[2017-09-20 09:49] LaszloLango commented on #1201
@daeyeon The goal is to use only `jerry_value_t` at the end. It is an `uint32_t`, so it is unnecessary to use 32/64 bit pointers to pass it to any function. It is better to use as a value, so we can save the dereference operations which should improve the IoT.js performance. Furthermore the memory consumption won't be changed on 32 bit systems. (Memory consumption will be reduced on 64 bit systems

[2017-09-21 03:34] zherczeg commented on #1201
Yes, we can remove all de-references (memory loads) and do not need to store values on stack just to provide a pointer to them.

[2017-09-21 04:02] #1165 closed

[2017-09-21 07:55] rtakacs commented on #1073
@daeyeon @glistening @hs0225: @robertsipka and me had a discussion and we found a possible solution to use the remote testrunner in the IoT.js project. For now, the `precommit.py`script is able to create builds for all the targets (**stm32f4dis**, **rpi2**, **artik053**). This script should be extended with a flash mechanism. When passing the `--flash`, the `precommit.py` could download the approp

[2017-09-21 08:05] kolipka commented on #1073
@rtakacs please remember about #1126. IMHO this script does too many things. The name is also missleading.

[2017-09-21 08:10] rtakacs commented on #1073
@kolipka Yes, you are right. The `precommit.py` should have a better name, or all the build methods should be moved to a `target_builder.py` file.

[2017-09-21 08:46] daeyeon opened #1208 "test_net_http_request_response.js in js-remote-test"
Testing `test_net_http_request_response.js` on rp2 has failed in https://samsung.github.io/js-remote-test since daily testing on 5 Sep. However, I can't reproduce it with the latest on the board.

[2017-09-21 08:56] #1197 closed

[2017-09-21 08:56] daeyeon commented on #1197
This is fixed with https://github.com/Samsung/iotjs/pull/1205.

[2017-09-21 10:57] LaszloLango commented on #1073
@rtakacs sounds good.

[2017-09-21 10:58] LaszloLango commented on #1208
CC: @rtakacs

[2017-09-21 11:45] bzsolt commented on #1208
I've checked this issue, the error message was the following:
[code]
The test-device was running for a long time, perhaps some resource got stuck.
After a simple reboot it is gone, so tonight this test will also pass on the site.

[2017-09-21 12:36] daeyeon commented on #1132
Now, https://github.com/Samsung/js-remote-test is available for this matter.

[2017-09-21 12:36] #1132 closed

[2017-09-21 12:39] daeyeon commented on #1178
It looks fixed. 👍

[2017-09-21 12:39] #1178 closed

[2017-09-22 06:37] daeyeon commented on #1208
@bzsolt Thank you. We may need to see how the test works in a long-term test.

[2017-09-22 06:37] #1208 closed

[2017-09-25 13:54] tosyu opened #1215 "Missing HTTPS documentation in WIKI"
Documentation [docs/api/IoT.js-API-HTTPS.md](https://github.com/Samsung/iotjs/blob/master/docs/api/IoT.js-API-HTTPS.md) is missing from [docs/api/IoT.js-API-reference.md](https://github.com/Samsung/iotjs/blob/master/docs/api/IoT.js-API-reference.md)

[2017-09-28 06:08] glistening commented on #1073
@rtakacs I have similar opinion with @kolipka. `precommit.py` does almost everything. And it is growing since it is introduced. Furthermore I added my comment on #1212 about my concern for code duplication. Perhaps I misunderstood. Let's talk on IRC with @hs0225.

[2017-09-28 10:24] daeyeon opened #1229 "Remove Travis checks in precommit.py"
All the travis checks in `precommit.py` are being moved to `travis_script.py`. Once that's done, `precommit.py` will not be used for travis and be renamed for another possible purpose.

[2017-10-03 16:52] Ash200012 opened #1241 "Random Questions"
1. Does iotjs support any sort of downloader option? I am looking for something where I can download images or files in the background.

2. On a related note, does the HTTP module support Range requests?

3. Any plans to add websockets module? Or if it already exists, where can I get it?

[2017-10-05 10:02] renatahodovan opened #1245 "Assertion `!uv__io_active(&stream->io_watcher, POLLIN | POLLOUT)' failed in uv__stream_destroy"
###### IoT.js version:

[code]
###### OS:

[code]
###### Test case:

[code]

###### Backtrace:

[code]

<sup>Found by [Fuzzinator](http://fuzzinator.readthedocs.io/)</sup>

[2017-10-05 10:08] renatahodovan opened #1246 "Assertion `fd > STDERR_FILENO' failed in uv__close"
###### IoT.js version:

[code]
###### OS:

[code]
###### Test case:

[code]

###### Backtrace:

[code]

<sup>Found by [Fuzzinator](http://fuzzinator.readthedocs.io/)</sup>

[2017-10-05 10:16] renatahodovan opened #1247 "Assertion `loop->watchers[w->fd] == w' failed in uv__io_stop"
###### IoT.js version:

[code]
###### OS:

[code]
###### Test case:

[code]

###### Backtrace:

[code]

<sup>Found by [Fuzzinator](http://fuzzinator.readthedocs.io/)</sup>

[2017-10-06 10:00] renatahodovan opened #1251 "SIGABRT in uv__io_poll"
###### IoT.js version:

[code]
###### OS:

[code]
###### Test case:

[code]
The context of the abort call:
[code]

###### Backtrace:

[code]

<sup>Found by [Fuzzinator](http://fuzzinator.readthedocs.io/)</sup>

[2017-10-06 11:24] renatahodovan opened #1252 "Assertion '(uintptr_t) data_space_p % JMEM_ALIGNMENT == 0' failed in jmem_heap_alloc_block_internal"
###### IoT.js version:

[code]
###### OS:

[code]
###### Test case:
[Download test case](https://github.com/Samsung/iotjs/files/1362505/test.txt)

Note: the test case is pretty sensitive to changes. It can turn to flaky or produce other failures like:

```Assertion 'next_offset == JMEM_HEAP_END_OF_LIST || jmem_is_heap_pointer (JMEM_HEAP_GET_ADDR_FROM_OFFSET (next_offset))' failed at iotjs/deps/jer

[2017-10-12 06:34] glistening commented on #1246
This assertion failure occurs because this test case close file descriptor 1 (STDOUT in linux) and http.request calls  `uv__stream_init`, which internally open a file descriptor (to reserve one file descriptor for handling EMFILE situation), meanwhile it returned file descriptor 1.

There are several choices:

1. Don't permit the users to close STDIN, STDOUT and STDERR.
2. Permit, but remove asser

[2017-10-12 06:46] glistening commented on #1251
`keysLength` equals 6. (I find the definition in iotjs.js. It would be better to make `keysLength` invisible from user code.) Anyway, it seems that it closed the file descriptor that was used for http's listening, and epoll complains about it. I think it is application's bug, and calling abort() is reasonable.

[2017-10-12 07:27] zherczeg commented on #1252
Is this iotjs specific or happens with JerryScript?

[2017-10-12 09:12] renatahodovan commented on #1252
The test case contains iotjs specific calls, hence JerryScript ends in a ReferenceError.

[2017-10-12 10:24] daeyeon opened #1262 "Regarding coding convention"
As we all know, coding convention helps to prevent errors and to manage code quality. While discussing a coding convention for IoT.js Code, the one for IoT.js was naturally mentioned in the discussion.

Please take a look at https://github.com/Samsung/iotjscode/issues/20 and share your opinion. The candidate list in the issue is also able to apply to IoT.js.

[2017-10-12 10:36] glistening opened #1263 "Don't expose iotjs.js variables to global"
( I've noticed this bug from issues reported by @renatahodovan. )

Currently

[code]

prints

[code]

These variables (keysLength, i, ... ) are introduced from iotjs.js.
They should be invisible from application source.

[2017-10-12 10:41] glistening commented on #1247
`Function("return this")().i` returns 6 from variable **i** defined in iotjs.js.
It forcibly close file descriptor that is used from other statement.
This assertion is valid for informing the developer that something wrong happens.

[2017-10-12 10:43] glistening commented on #1245
It is different from other issues, in which, some valid file descriptor is forcibly closed.
It throws uncaught exception. I will investigate more.

[2017-10-13 03:20] glistening commented on #1241
@Ash200012

1. There is no dedicated downloader module. And if you mean separate thread by `in the background`, iotjs does not support multithread.

2. I think not. However, I would like to check it. Do you have sample code for checking `Range request`?

3. Currently websocket is not supported, and we don't have plan. We will support https first. The websocket library that used in jerryscript debu

[2017-10-13 03:36] Ash200012 commented on #1241
Thanks for responding.
1. There are multi threads though when using setTimeout and such...I meant in terms of this.
2. Here is an example: https://www.npmjs.com/package/http-range
3. There is already https source code in the iotjs. Is it incomplete? I guess it requires crypto libraries?

[2017-10-13 04:26] glistening commented on #1263
#1264 landed

[2017-10-13 04:26] #1263 closed

[2017-10-13 04:34] glistening commented on #1241
1. I think you can use that approach. In fact, it is same thread that runs in one loop.
2. If you mean parser for Content-Range and Range HTTP header field. you may put the name, value pair directly using [http.setHeader](https://github.com/Samsung/iotjs/blob/master/docs/api/IoT.js-API-HTTP.md#responsesetheadername-value)
3. HTTPS module is supported and verified on Tizen platform only. It is base

[2017-10-13 08:18] glistening commented on #1262
For strategy, I prefer `full` configurations. (i.e., apply all at once). Because whenever we modify the coding style rule, we have to run all tests on all reference board. I would like to minimize the step.

For eslint configuration, I prefer `eslint recommended`. ( airbnb configuration includes much ES6 rules which we currently don't/can't use, and I don't want to use airbnb ES5 config since it i

[2017-10-15 17:02] Ash200012 commented on #1241
1. When will HTTPS module be ready for x86 for testing? Is there something simple I can do to enable it for x86?
2. Is it possible to write native module in C++. If not, what CMake files would I need to change to use G++ instead of gcc

[2017-10-16 05:36] glistening commented on #1252
@renatahodovan After #1264 is landed, the test case for this issue does not work. It shows several errors:

[code]

If I comment out line 56 to avoid error above, I got the following:
[code]

[code]

If I comment out line 58 to avoid `socket hang up ` error, I got another error.
However, I cannot re-produce the errors.
Could you make updated test case for current master branch?

[2017-10-16 06:08] glistening commented on #1241
1. Although HTTP is supported only on Tizen, It should not take much time for porting it to Ubuntu since tizen is based on linux. Please refer to HTTPS related PRs.

2. You may refer to old version CMakefiles from our repository history since our project used C++ about 1 year ago. Perhaps, there may be other issues like name-mangling ( If your native module has public C++ interface that IoT.js has

[2017-10-16 09:39] #1247 closed

[2017-10-16 09:41] glistening commented on #1246
There is no opinion. Closing it without changing policy about closing STDIN, STDOUT and STDERR.

[2017-10-16 09:41] #1246 closed

[2017-10-16 09:41] #1251 closed

[2017-10-17 09:56] renatahodovan commented on #1252
@glistening I cannot reproduce it anymore either. So it can be closed for now and will open another entry if I bump into it again.

[2017-10-17 09:56] #1252 closed

[2017-10-19 00:40] daeyeon commented on #1262
https://github.com/Samsung/iotjs/pull/1270 is landed for this.

[2017-10-19 00:40] #1262 closed

[2017-10-19 00:42] daeyeon commented on #1215
Closed with the reason on https://github.com/Samsung/iotjs/pull/1218

[2017-10-19 00:42] #1215 closed

[2017-10-19 00:45] #1157 closed

[2017-10-19 01:06] daeyeon commented on #631
This is related to https://github.com/Samsung/iotjs/issues/1262 and https://github.com/Samsung/iotjs/pull/1270 landed.

[2017-10-19 01:06] #631 closed

[2017-10-19 01:09] daeyeon commented on #285
No update for a long while. Please open this again if necessary.

[2017-10-19 01:12] daeyeon commented on #480
`test_process_cwd, test_process_exit, and test_process_next_tick` are now available.

[2017-10-19 01:12] #480 closed

[2017-10-19 01:22] daeyeon commented on #564
@gudbooy You can do that and we're welcome for your contribution. You may need to check if the things mentioned are still available since there has been a lot of changes since this issue was opened.

[2017-10-19 01:22] #564 closed

[2017-10-19 01:25] daeyeon commented on #1182
The build on gbs looks to work now. https://github.com/Samsung/iotjs/pull/1269 is related.

[2017-10-19 01:25] #1182 closed

[2017-10-19 01:43] daeyeon commented on #1039
This issue is for tracking major issues blocking IoT.js Tizen RT porting. IoT.js on Tizen RT has been verified with 100% test case successes. Please track each issue itself if needed.

[2017-10-19 01:43] #1039 closed

[2017-10-19 02:49] daeyeon commented on #1117
no further update for this issue. please reopen issue once you find out the way to properly check `board`.

[2017-10-19 02:49] #1117 closed

[2017-10-19 02:54] daeyeon commented on #1126
https://github.com/Samsung/iotjs/pull/1138 is closed.

[2017-10-19 02:54] #1126 closed

[2017-10-19 02:57] daeyeon commented on #966
Closed. You can refer to the above comments to use IoT.js on Tizen IoT.

[2017-10-19 02:57] #966 closed

[2017-10-19 03:04] daeyeon commented on #1059
No further update for a long time. Some tests seriously flaky on Travis are now skipped. https://github.com/Samsung/iotjs/blob/master/test/testsets.json

[2017-10-19 03:04] #1059 closed

[2017-10-19 06:07] #1241 closed

[2017-10-20 01:36] glistening commented on #1073
There are more requirement for js-remote-test. Furthermore, the requirements are spread out, so we created new issue Samsung/js-remote-test#39. So I close this issue.

[2017-10-20 01:36] #1073 closed

[2017-10-20 02:08] hs0225 commented on #882
It can be regarded as a representative object of an address, but also an object of a bus. The above variable is a created by the app developer. If the developer only uses '0x23' address on the bus, he or she can name the variable names as above.

[2017-10-20 02:08] #882 closed

[2017-10-20 02:11] daeyeon commented on #644
It's apparently worth to discuss. However, seeing no further opinion so far, it seems not necessary task right now. There is no volunteer who can progress this topic. Please re-open/issue this if anyone can do this.

[2017-10-20 02:11] #644 closed

[2017-10-20 05:58] LaszloLango commented on #644
@daeyeon we are working on something that can fix this too. I hope I can open a proof of concept patch soon. I'll open an issue with the proposal.

[2017-10-20 06:01] hs0225 commented on #883
@tadziopazur Since there are no more comments you think, I'll close the issue. Please reopen if necessary. If the unique features of the platform are integrated force, but rather can be confusing for developers.

[2017-10-20 06:01] #883 closed

[2017-10-20 06:58] LaszloLango opened #1276 "Rework the module loading system (proposal)"
First of all there are several problems with the current approach.
 * Does not support external/third-party modules. Although it can read package.json (of NPM) and load JS files, but it is only a limited functionality.
 * Handles the native (implemented in C) modules and JS modules differently
   * `process.binding` and `require`
 * Include and exclude lists are confusing

## Proposal

 - [x] Use

[2017-10-20 07:00] LaszloLango commented on #1276
We have an almost ready proof of concept patch. I hope I can make a work in progress PR from it today we can discuss the details.

[2017-10-20 08:57] yichoi commented on #1276
@hs0225 @daeyeon

[2017-10-20 09:21] zherczeg commented on #1276
I don't see the requirements part for adc.

[2017-10-20 09:28] LaszloLango commented on #1276
@zherczeg, adc.js does not call `require`, so I didn't add a require field to it. But I see your point. I'll update the suggested JSON format with the `require` field.

[2017-10-20 12:55] LaszloLango commented on #1276
I uploaded the a WIP patch (#1278). Please check. I'd like to here your opinions about the concept.

[2017-10-25 07:40] LaszloLango commented on #1276
Note: I've updated the proposal.

[2017-10-25 16:49] daeyeon commented on #1276
As of now, I don't have a concrete idea for structuring the folders to support external/third-party modules. However, my current idea is to get all the related-files put into each module folder and to build each of them through a promised rule. (e.g use a promised os keyword to find files to build.) For adding a new third-party module, if it's only required to copy a root folder of the module into

[2017-10-26 07:19] LaszloLango commented on #1276
@daeyeon thanks for sharing your thoughts. So do you prefer the hard coded folder structure? In my opinion the current proposal has some advantages. The hard coded folder structure could be a too  big restriction for module developers. In that case each module must be in a separate folder and the common code must be copied into each module. For example in the already existing builtin modules, ther

[2017-10-27 07:17] cooboyno111 opened #1292 "Chain calls cannot be implemented"
I want to implement exact chain calls in iotjs. Here are the test cases. Just read several files in chained form. The file name can be modified by itself. This code works normally in nodejs. I opened the es2015-subset. So Promise is available. Parallel code is normally called and serial is not.

[code]

[2017-10-30 02:30] hs0225 commented on #1198
@tkeri Sorry for the delay. I think changing a typechecker except for `isObject` reduces code consistency and cause developers to make mistakes. In fs.js, we can remove unnecessary binding function for type checking.

[2017-10-30 18:38] Ash200012 opened #1294 "HTTPS on linux (x86 vs arm)"
I modified the build scripts to compile in HTTPS support for x86 and arm instead of just tizen. On x86 doing an https get of www.google.com works fine and is fast, the chunks come in fast. However on arm, the chunks come in every 350ms (more or less) and so there is a delay before the whole web page is received. Does anyone know why this is?

[2017-10-31 05:28] glistening commented on #1292
@cooboyno111 There was a bug on `Promise.then` in jerryscrip  and fixed. I think updating submodule should fix this issue. The example in https://github.com/jerryscript-project/jerryscript/issues/2060

[code]

works well after updating submodule.

[2017-11-01 07:42] glistening commented on #1292
@cooboyno111 #1295 is landed. Could you please update and check your test again?

[2017-11-01 08:01] cooboyno111 commented on #1292
@glistening
The latest code can only implement 2 layer chain call。Like the previous example, it can only read second files.（test.csv，NMap.ts）。3-4 No execution and no error reporting. The code is ignored.
NODEJS reads all four files。（test.csv，NMap.ts，NMap.js，test.csv）
It's basically enough for a IOT device. But I believe you can do better。

[2017-11-02 02:56] glistening commented on #1292
@cooboyno111 Thank you for testing. I still think this bug is likely related to Promise implementation. Could you try to make a complete test case for jerryscript? If it does not work, you could write an issue on jerryscript repository.

[2017-11-02 05:53] cooboyno111 commented on #1292
@glistening I compared iotjs jerryscript. Found that the problem did not appear in the jerryscript. It can achieve multi-level chain callback. I tested the 5 layer. This problem may appear in the fs.readFile method. The code in my Promise. Even the implementation of the 100000 console.log no problem. If you use the fs.readFile method of single layer two is wrong. I think this problem is not in the

[2017-11-03 01:06] glistening commented on #1292
@cooboyno111 Thank you again for investigation. We will investigate it.

[2017-11-03 01:24] glistening commented on #1292
@cooboyno111 I ran the source above using node and iotjs. I cannot find differences. It behaves similarly.

[code]

[code]

I ran the code with enabling the code enclosed with comment.

The last lines changed nondeterministically both of node and iotjs  like followings:

[code]

Could you let me know what is the problem in detail?

[2017-11-03 02:53] cooboyno111 commented on #1292
@glistening
var fs = require('fs')
function readfile(fileName){
  return new Promise(function (resolve, reject){
/* //Execute correctly
      for(var i=0;i<100000;i++){
         console.log("readfile----------------------------------------"+fileName);
      }
      console.log("readfile----------------------------------------"+fileName);
      resolve(fileName);
*/
//Error executing
    fs.readFil

[2017-11-03 04:41] glistening commented on #1292
@cooboyno111
Build command are same. I created several text files by `$ touch {1..4}.txt`
I tested again with filled some data as you suggested. The results are same to `node`, too.
Here are my log. For your information, I build and test on x86_64.
I also checked the results are same `--buildtype=debug` and `--buildtype=release`.

[code]

Here is my test code copied from yours and add indentation.

[2017-11-03 06:41] cooboyno111 commented on #1292
@glistening
function readfile(fileName) {
  return new Promise(function(resolve, reject) {
    for (var i=0; i<2; i++) {
      console.log('readfile----------------------------------------'+fileName);
      }
      console.log('readfile----------------------------------------'+fileName);
      //resolve(fileName);//if Delete this line and make a mistake
      // error code
      fs.readFile(fileNa

[2017-11-06 08:51] #1276 closed

[2017-11-07 18:27] tkeri commented on #1198
@hs0225 you are right, the changing reduces code consistency and also reduces the memory.
Can you explain why we could remove this function only in fs.js?

[2017-11-08 04:43] glistening commented on #1292
@cooboyno111 I still can't figure out what is problem and how to run from code above. Could you push full example source that I can run immediately, not code segment. It is difficult to read, If possible could you push your code with proper indentation?

[2017-11-08 06:31] cooboyno111 commented on #1292
var fs = require('fs')
function readfile(fileName){
  return new Promise(function (resolve, reject){
    fs.readFile(fileName, function(error, data){
      if (error){
          reject("error");
        }else{
	  console.log(data.toString());
          resolve(fileName);
        }
    });
  });
};
function loadfi(arr,index){
readfile(arr[index]).
then(function() {
console.log("loadfinal-"+arr[inde

[2017-11-08 06:42] cooboyno111 commented on #1292
Correct execution code

var fs = require('fs')
function readfile(fileName){
  return new Promise(function (resolve, reject){
    if(fileName===undefined)  reject("error");
    console.log(fileName);
    resolve(fileName);
  });
};
function loadfi(arr,index){
readfile(arr[index]).
then(function() {
console.log("loadfinal-"+arr[index]);
index++;
loadfi(arr,index)
}).catch(function(e) {
console.log("

[2017-11-09 10:33] hs0225 commented on #1198
@tkeri I think, it is not necessary to have `checkArg...` in fs.js.

[2017-11-10 02:51] daeyeon opened #1301 "No error message"
I observed that the latest iotjs gives no message when it encounters any syntax error. Apparently, this side effect has come since 'Rework the module system' #1278 landed.

[2017-11-10 07:20] LaszloLango commented on #1301
I'll check this issue.

[2017-11-10 08:23] LaszloLango commented on #1301
@daeyeon #1299 fixes it.

[2017-11-10 10:19] #1301 closed

[2017-11-14 03:15] glistening commented on #1292
@cooboyno111 I ran your test code.

**test code**
[code]

**result from nodejs and iotjs:**
[code]

I found assertion failure in jerryscript. We will investigate more.

[2017-11-14 16:33] LaszloLango commented on #1292
@glistening @cooboyno111 I've checked this issue. It looks like the error is somewhere here: https://github.com/Samsung/iotjs/blob/master/src/iotjs.c#L159
I think we exit the loop too early. Chain calls work perfectly with sync calls. For example using `fs.readFileSync` instead of `fs.readFile`. I'll continue the investigation.

[2017-11-14 19:05] LaszloLango commented on #1292
@cooboyno111 for a temporary workaround you can count the started and settled Promise objects by yourself and don't let the program to exit until there are any pending Promise job. For example the following code works for your use case:
[code]

**output:**
[code]

[2017-11-15 22:21] Ash200012 commented on #1294
Any idea?

[2017-11-16 07:08] LaszloLango commented on #1294
@Ash200012 sorry for the late answer. HTTPS is an experimental module at the moment. I have no idea what cause the difference, but do not hesitate if you would like the do a deeper investigation on this issue. Any improvement is welcome.

[2017-11-16 07:11] LaszloLango commented on #1294
cc: @akhilkedia
Original PR: #926

[2017-11-16 07:28] akhilkedia commented on #1294
HTTPS module was only officially tested on Tizen (though I did test it on x64 on my own PC).
HTTPS module uses `libcurl` as the backend to make the requests. I think the difference should be coming from `libcurl` itself (probably a result of how it was built for arm).

@Ash200012 Can you add the following line at the end of the function `iotjs_https_initialize_curl_opts()` in [iotjs_module_https.c

[2017-11-16 07:37] Ash200012 commented on #1294
I actually did enable curl verbose but it didn’t show any issues with curl. I tried same code on x64 and arm and both exhibit the issue with different curl versions. I thought there was something wrong in libtuv but if you aren’t seeing it I am not sure what else could be wrong.
Any other way to debug it?

[2017-11-16 07:54] akhilkedia commented on #1294
So am I correct in that for you, it works fine on x86, but not on x64 or arm?
(Also, just as quick check, if you have commandline curl on these platforms you are using, can you try to get google.com with commandline curl and verify that it does not have that delay problem?)

[2017-11-16 07:56] Ash200012 commented on #1294
It doesn’t work well on x86 either .. curl command line is fine.
Keep in mind x86, x64, and arm are all different physical machines

[2017-11-16 10:20] LaszloLango commented on #1292
@cooboyno111 @glistening I've made a fix for this. Please check #1307

[2017-11-16 11:40] Zakaria-Ben opened #1308 "Building failed for STM4diss"
Hi,
I've tried to run iotjs for STM32F4dis but I got this error :

make[3]: Leaving directory '/home/ubuntu/iotjs-nuttx3/iotjs/build/arm-nuttx/debug/deps/jerry-host'
[ 49%] No install step for 'hostjerry'
[ 50%] Completed 'hostjerry'
make[2]: Leaving directory '/home/ubuntu/iotjs-nuttx3/iotjs/build/arm-nuttx/debug'
[ 50%] Built target hostjerry
make[1]: Leaving directory '/home/ubuntu/iotjs-nuttx3

[2017-11-16 11:51] LaszloLango commented on #1308
@Zakaria-Ben how do you try to build? Is `tools/precommit.py --test=nuttx` works on your local machine?

[2017-11-16 11:59] akhilkedia commented on #1294
Oh. I thought you said "On x86 doing an https get of www.google.com works fine and is fast, the chunks come in fast", so I believed you had https working fine for you on x86.

Can you perhaps try the same with HTTP and see if HTTP performs fast? (google.com does not serve on http, but you could big any other big webpage and see if http performs fast, but https does not.)

I will attempt to replica

[2017-11-16 12:05] Zakaria-Ben commented on #1308
Thanks @LaszloLango. No, it doesn't work, I got another error

make: Leaving directory '/home/ubuntu/iotjs-nuttx3/iotjs/build/arm-nuttx/debug'

[Failed - 2] make -C /home/ubuntu/iotjs-nuttx3/iotjs/build/arm-nuttx/debug -j

[Failed - 1] ./tools/build.py --buildtype=debug --target-arch=arm --target-os=nuttx --nuttx-home=/home/ubuntu/iotjs-nuttx3/iotjs/deps/nuttx/nuttx --target-board=stm32f4dis --jer

[2017-11-16 12:27] LaszloLango commented on #1308
@Zakaria-Ben that is only the command, but not the error. Search for the error message in the build log.

[2017-11-16 13:16] Zakaria-Ben commented on #1308
I think I have a problem from the previous steps, when I do the configuration from make menuconfig and then I run the make command I got this :
make[1]: Entering directory '/home/ubuntu/iotjs-nuttx/nuttx/libxx'
make[1]: cygpath: Command not found
make[1]: cygpath: Command not found

It's a problem with cygpath ?

[2017-11-16 13:29] LaszloLango commented on #1308
Did you run `tools/apt-get-install-nuttx.sh`?

[2017-11-16 13:33] Zakaria-Ben commented on #1308
./tools/apt-get-install-nuttx.sh: No such file or directory

[2017-11-16 13:37] Zakaria-Ben commented on #1308
Yes, but I still have the same problem

[2017-11-16 15:54] Ash200012 commented on #1294
Yes I did say that, but it is still slower than http. I did try http and it is fine in both cases. I think arm was the slowest with https.

[2017-11-16 15:58] Zakaria-Ben commented on #1308
@LaszloLango I've tried again following the steps from https://github.com/Samsung/iotjs/blob/master/docs/build/Build-for-STM32F4-NuttX.md. But again I got this :

make[2]: Entering directory '/home/ubuntu/iotjs-nuttx/apps/system/iotjs'
cp /home/ubuntu/build/arm-nuttx/debug/lib/lib*.a .
cp: cannot stat '/home/ubuntu/build/arm-nuttx/debug/lib/lib*.a': No such file or directory
Makefile:125: recipe f

[2017-11-16 19:09] galpeter commented on #1294
@Ash200012 Could you try out my speculative fix? See: https://github.com/galpeter/iotjs/tree/https-improve-ondata

If it works for you I'll submit it as PR to get it into the mainline.

[2017-11-16 19:31] Ash200012 commented on #1294
This works! Was something non performant about the iotjs_jval_create_byte_array and append?

[2017-11-16 20:04] galpeter commented on #1294
Great I'll create the PR.

The byte array function creates a different data structure which could have bad performance if there is to much data.

[2017-11-17 00:49] mark3072 opened #1312 "MIPS Buildroot Linux Port"
Can you give any tips for how to port IOTJS to a 32bit MIPS architecture using a Linux OS supplied in a Buildroot environment? I am currently using Buildroot cs_mips-214.05.

Is this a relatively simple port or do many changes need to be made?

[2017-11-17 03:05] glistening commented on #1294
`iotjs_https_curl_write_callback` (#1311 try to change) is used on both `x86/linux` and `arm/linux`. But there was no problem on `x86/linux` . Any of you knows about the reason? x86 is fast enough to cover the inefficient code? ( @Ash200012 what board do you use arm? RPI2? )  Is there something that I miss?

[2017-11-17 03:18] Ash200012 commented on #1294
I believe that is the case, on x86/x64 it was faster than on arm. My x64 machine is very powerful and the arm was an odroid C1 box.

[2017-11-17 07:16] zherczeg commented on #1312
Shouldn't be hard. If you use snapshots (enabled by default) you might have some endianness issues if you cross compile iotjs (the snapshot tool might be compiled on x86 little endianness, dependin on your environment).

[2017-11-17 07:45] #1294 closed

[2017-11-17 09:00] galpeter commented on #1312
Hi @mark3072! I've recently tried to compile the iotjs to MIPS OpenWRT router. The main points were:
* Correctly select the toolchain, which will be used during the build. In iotjs, libtuv there are different toolchain files which could be adapted.
* For now you should disable the snapshot function in iotjs as there is currently no support to handle the little endian snapshots on big endian system

[2017-11-17 09:55] glistening commented on #1308
@Zakaria-Ben What os do you use?

[2017-11-17 11:51] Zakaria-Ben commented on #1308
Yes I know it's strange, I'm using ubuntu 17.10.
I've tried to do the configuration from the beginning, but I got this :

[2017-11-17 18:12] Zakaria-Ben commented on #1308
I still have the same issue since yesterday, I need help

[2017-11-18 17:17] #1308 closed

[2017-11-18 17:33] Zakaria-Ben opened #1313 "issue while building iotjs for nuttx"
Hi guys,
I'm really struggling since a couple of days with building iotjs for Nuttx.
When I disable **Application Configuration -> System Libraries and NSH Add-ons -> IoT.js** from the menuconfig, Nuttx finish the compilation without any error, but without IoT.js application. And when I try to compile iotjs using :
`./tools/build.py --target-arch=arm --target-os=nuttx --nuttx-home=../nuttx --targe

[2017-11-19 06:36] #1292 closed

[2017-11-20 02:03] cooboyno111 commented on #1292
@LaszloLango @glistening
i test commit 4906d111a0ea642decb5894b30accd129b067def
The problem has been corrected.
When is your next release release?

[2017-11-20 02:04] glistening commented on #1313
@Zakaria-Ben A memory occurred from the log above. Please see https://github.com/Samsung/iotjs/issues/641#issuecomment-281120316 and the followings. In your build system, `_DEFAULT_SOURCE` may be defined.  Could you let me know what version of `gcc` do you use?

[2017-11-20 09:32] Zakaria-Ben commented on #1313
I'm using gcc 7.2.0

[2017-11-20 10:15] glistening commented on #1313
@Zakaria-Ben I've found following error on Ubuntu 17.10.

[code]

It looks same  to https://github.com/Samsung/iotjs/issues/1308#issue-274486448.

We may need time to support Ubuntu 17.10 because of other jobs in progress.
If you are in a hurry, what about trying build on Ubuntu 16.04 LTS? You can copy the final nuttx.bin to flash to device.

[2017-11-20 10:56] galpeter commented on #1313
@Zakaria-Ben Hi, could you try out applying this patch (https://gist.github.com/galpeter/9748ea23b726d8e8c1d75b1263ccc095) to your `deps/libtuv` repository? After that please try the build again.

[2017-11-20 11:14] Zakaria-Ben commented on #1313
@galpeter , @glistening Thanks guys for your help.
@galpeter your solution works perfectly, thank you.

[2017-11-20 14:57] galpeter commented on #1313
@Zakaria-Ben It's just a bit workaround (for now). We'll get it into the mainline in the coming days.

[2017-11-20 15:02] Zakaria-Ben commented on #1313
Yes I see. @galpeter another question, can I run iotjs on a raspberry Pi 3 ?

[2017-11-20 15:07] galpeter commented on #1313
@Zakaria-Ben Yes! just build it like the rpi2 and it should work.

[2017-11-20 15:13] Zakaria-Ben commented on #1313
Perfect, thanks.

[2017-11-23 04:39] glistening commented on #1313
Close since https://github.com/Samsung/iotjs/pull/1320 landed.

[2017-11-23 04:39] #1313 closed

[2017-11-24 06:04] daeyeon opened #1328 "`./tools/build.py --jerry-debugger` fails"
Running `./tools/build.py --jerry-debugger` fails with the following errors.

[code]
It's seemingly occurred since #1315. Do we need to consider a travis check for this?

[2017-11-24 07:53] LaszloLango commented on #1328
@daeyeon We also recognized that the build fails with `--jerry-debugger` since the "all in one" build was enabled. AFAIK, @galpeter is working on it.

[2017-11-24 10:36] galpeter commented on #1328
Currently I don't have any good/clean solution. So I think we should revert the all-in-one build for now until we have a good resolution. I'll create a PR to revert it.

[2017-11-26 11:20] #1328 closed

[2017-11-28 02:26] glistening commented on #1292
@cooboyno111 Currently the next official release date is not fixed.

[2017-11-29 08:09] bzsolt commented on #1148
@yichoi can we close this issue? https://github.com/Samsung/iotjs/pull/1331 is landed.

[2017-11-29 11:45] yichoi commented on #1148
@bzsolt Thanks for notifying this. I am closing

[2017-11-29 11:45] #1148 closed

[2017-11-29 12:15] Zakaria-Ben opened #1337 "Builtin Javascript module issue"
Hi,
I would add a new Javascript module to Iotjs. I've created the js file in src/js, and then I tried to build using `./tools/build.py --iotjs-include-module`, but it doesn't work :
build.py: error: unrecognized arguments: --iotjs-include-module

[2017-11-29 13:10] LaszloLango commented on #1337
Hi @Zakaria-Ben,
the `--iotjs-include-module` build option was removed recently during the module system rework. Please check https://github.com/Samsung/iotjs/blob/master/docs/devs/Writing-New-Module.md

You must edit `src/modules.json`, if you put your module into `src/js`. Don't forget to enable it during the build with `--cmake-param=-DENABLE_MODULE_[NAME]=ON` or create your own profile file ba

[2017-11-29 13:25] Zakaria-Ben commented on #1337
Thanks for the help @LaszloLango

[2017-11-30 12:33] Zakaria-Ben commented on #1337
@LaszloLango Can I add a package to iotjs?

[2017-11-30 12:45] LaszloLango commented on #1337
@Zakaria-Ben could you explain what would you like to do exactly? Do you want to add you module to the code base under `src/js` and `src/module.json`?

[2017-11-30 12:52] Zakaria-Ben commented on #1337
For adding a module, I did what to told me before and that's fine, I need right now to use when.js: https://github.com/cujojs/when

[2017-11-30 13:44] LaszloLango commented on #1337
I don't think when.js fits well into the main repo.

[2017-12-01 02:54] glistening opened #1340 "Handling uncaught exception (early exit)"
Several issues about uncaught exception are reported.
I think this items should be considered together, and put discussion in one place.

- [x] What should we do when exception is occurred during exit?
  - Related issue: Process.exit (#1323)
- [x] How can we clean up on NuttX or TizenRT?
  - Related issue: UV cleanup assertion failure (#1245)

[2017-12-05 08:01] renatahodovan opened #1347 "Build issue with clang"
Tried to build IoT.js with clang with the following parameters:

Checked revision: a6b2d75
OS: Ubuntu 17.10
Build command: CC=clang ./tools/build.py --buildtype=debug --no-check-test

However, it failed when tried to link jerry:

[code]
As a temporary fix, this change solved the issue:

[code]
It seems, that host jerry is built with LTO even if it's disabled in the build script by default.

[2017-12-05 08:14] renatahodovan opened #1348 "Assertion 'jerry_value_is_number(jexitcode)' failed in iotjs_process_exitcode"
###### IoT.js version:

[code]
###### OS:

[code]
###### Test case:

[code]

###### Backtrace:

[code]

<sup>Found by [Fuzzinator](http://fuzzinator.readthedocs.io/) with [grammarinator](https://github.com/renatahodovan/grammarinator)</sup>

[2017-12-05 08:18] renatahodovan opened #1349 "Assertion 'jerry_value_is_function(jonuncaughtexception)' failed in iotjs_uncaught_exception"
###### IoT.js version:

[code]
###### OS:

[code]
###### Test case:

[code]

###### Backtrace:

[code]

<sup>Found by [Fuzzinator](http://fuzzinator.readthedocs.io/) with [grammarinator](https://github.com/renatahodovan/grammarinator)</sup>

[2017-12-05 08:21] renatahodovan opened #1350 "Assertion '_this->state < kExiting' failed in iotjs_environment_go_state_exiting"
###### IoT.js version:

[code]
###### OS:

[code]
###### Test case:

[code]

###### Backtrace:

[code]

<sup>Found by [Fuzzinator](http://fuzzinator.readthedocs.io/) with [grammarinator](https://github.com/renatahodovan/grammarinator)</sup>

[2017-12-05 08:41] renatahodovan opened #1351 "Assertion 'read == len' failed in iotjs_file_read"
###### IoT.js version:

[code]
###### OS:

[code]
###### Test case:

[code]
Note: the parameter of readSource has to point to an existing **directory**.

###### Backtrace:

The test case triggers different assertion failures on different builds.

with i686-linux target:

[code]

with x86_64-linux target:

[code]

<sup>Found by [Fuzzinator](http://fuzzinator.readthedocs.io/) with [grammarinator](ht

[2017-12-05 09:46] LaszloLango opened #1353 "Memory leak in 'setTimeout' on exceptions"
###### IoT.js version:

[code]
###### OS:

[code]
###### Test case:

[code]

###### Backtrace:

The test case a memory leak.

with x86_64-linux target:

[code]

[2017-12-05 12:03] bzsolt commented on #1347
https://github.com/Samsung/iotjs/pull/1352 is merged.

[2017-12-05 12:03] #1347 closed

[2017-12-06 02:04] glistening commented on #1340
Related Issues: #1348, #1349, #1350

[2017-12-06 10:05] renatahodovan opened #1354 "Segmentation fault in iotjs_handlewrap_validate"
###### IoT.js version:

[code]
###### OS:

[code]
###### Test case:

[code]

###### Backtrace:

[code]

<sup>Found by [Fuzzinator](http://fuzzinator.readthedocs.io/)</sup>

[2017-12-06 10:12] renatahodovan opened #1355 "Assertion 'JERRY_CONTEXT (jmem_heap_allocated_size) == 0' failed in jmem_heap_finalize"
###### IoT.js version:

[code]
###### OS:

[code]
###### Test case:

[code]

###### Backtrace:

[code]

<sup>Found by [Fuzzinator](http://fuzzinator.readthedocs.io/)</sup>

[2017-12-08 16:26] renatahodovan opened #1360 "Assertion '!throws' failed in iotjs_jhelper_call_ok"
###### IoT.js version:

[code]
###### OS:

[code]
###### Test case:

[code]

###### Backtrace:

[code]

<sup>Found by [Fuzzinator](http://fuzzinator.readthedocs.io/) with [grammarinator](https://github.com/renatahodovan/grammarinator)</sup>

[2017-12-09 19:47] renatahodovan opened #1361 "Assertion 'buffer != NULL' failed in iotjs_bufferwrap_from_jbuiltin"
###### IoT.js version:

[code]
###### OS:

[code]
###### Test case:

[code]

[code]

With a small change we got another assertion fail:

[code]

###### Backtrace:

[code]

<sup>Found by [Fuzzinator](http://fuzzinator.readthedocs.io/) with [grammarinator](https://github.com/renatahodovan/grammarinator)</sup>

[2017-12-11 06:26] daeyeon opened #1362 "The 3rd party libraries used in a native module"
When a native module uses the 3rd party libraries and it's needed to be built and linked with iot.js, the current features supported by `modules.json`, the module description, seems not enough.

Assuming `mbedtls` which would be used in `https` native module, there are more things not handled in `modules.json`. Its source seemingly needs to be located within `/deps`, the build description goes int

[2017-12-11 08:04] LaszloLango commented on #1362
CC: @galpeter

[2017-12-11 14:33] galpeter commented on #1362
I was also looking into this and I've got two things:
1) a simple way to specify extra third-party modules. See: https://github.com/galpeter/iotjs/commit/3b357305a73c81a57f51cf099b837e5382db885f
   With this the developer can specify an pre-built shared/static lib to be linked for the iotjs binary.
2) a cmake based way: https://github.com/galpeter/iotjs/commit/83619505af5f633b89ba385afc1f6e33deea3

[2017-12-11 15:07] ziransun opened #1363 "What's the status of BLE(Bluetooth Low Energy) Support?"
Hi,

Is it okay to let me know the status of BLE? What OSs and boards does it support? And any instruction on setting up?

Thanks!

Ziran

[2017-12-12 05:51] glistening commented on #1363
@ziransun Currently BLE is tested on `rpi` only. But I believe it will work for linux based system with a little effort. For `tizenrt/artik053` and `nuttx/stm32f4`, we don't support BLE yet since we don't have BLE native support for that platforms.

[2017-12-12 06:32] #1351 closed

[2017-12-12 06:33] daeyeon commented on #1362
Thanks for the swift response. I agree that having both is useful for each purpose.

By the way, in case that a module needs to clone a remote repository before building itself, do you think that we need to take care of it? (e.g: automatically clone such a repository if it doesn't exist), or else, we'd better leave it as user's responsibility?

[2017-12-12 08:06] LaszloLango commented on #1353
Status update: I have a fix for this, but I cannot add the testcase because the lack of the JS testrunner. I must fix the testrunner at first.

[2017-12-12 08:06] glistening commented on #1360
I found that iotjs throws `TypeError` for assigning non-function to function while others (jerry, node, jsc, etc.) don't.

[code]

[2017-12-12 09:23] glistening commented on #1353
@LaszloLango Could you explain more about `the lack of the JS testrunner`? In fact, our plan is to replace JS testrunner with python testrunner. So I would not put more time on JS test runner.

Another question occurred: Is there any reason we cannot replace JS testrunner with python runner in travis?

[2017-12-12 10:39] galpeter commented on #1362
If the module uses CMake logic it can clone itself out during the build (CMake have support for svn/git), but generally I would say it should be user's responsibility (as there could be simply to many possibilities). Still we could provide a preferred way to do so.

I'll try create another example which uses cloned repo to see what can we do.

[2017-12-12 10:55] LaszloLango commented on #1353
@glistening the problem is that if a test fails (even it is an expected fail) the environment does not clean up properly. For example active timers could run in the background and can trigger false negative test failures later. AFAIK we can replace the JS testrunner with the python testrunner. It could make things easier. I'll open a PR for that. Should we keep the JS testrunner in the repository

[2017-12-12 11:35] ziransun commented on #1363
@glistening Thanks very much for your reply. Just to confirm - Did you mean BLE tested on rpi for both Central and peripheral modules? And is it okay to point any instructions on building  BLE support for rpi?

[2017-12-12 22:39] glistening commented on #1363
@ziransun We support BLE peripheral only, and we ported [bleno](https://github.com/sandeepmistry/bleno) into iotjs.

[2017-12-12 22:49] glistening commented on #1353
@LaszloLango Please replace JS testrunner, but we need time to inform the potential JS test user that it will be removed. What about adding message for JS testrunner invocation like "JS testrunner will be removed, please use python runner instead.", and keep JS testrunner for some days, and remove it?

[2017-12-13 03:02] hs0225 opened #1367 "Remove JavaScript layer and rework API in System I/O module"
To simplify the code like ADC, remove the JavaScript layer that only performs type checking.

Currently, some APIs are confusing to us. For example, the close function of GPIO works asynchronously, but, close function of I2C is performed in synchronization. This needs to be fixed.
All API provide sync and async functions depending on the presence of the callback function.
The following APIs are ch

[2017-12-13 07:24] LaszloLango commented on #1353
@glistening Ok, we can do it.

[2017-12-14 07:27] LaszloLango commented on #1353
@glistening I had some issue when tried to replace the testrunner, so I am not sure when I could upload the final patch.

[2017-12-18 16:42] yorkie commented on #142
Just a curious question, why the official `path` and `url` modules not supported, it's often used also in embeddable.

[2017-12-19 08:38] #1337 closed

[2017-12-19 08:44] zhaojuntao opened #1378 "Where is the 'native'？"
Where is the 'native' in "var Native = require('native'); "

[2017-12-19 08:53] LaszloLango commented on #1378
https://github.com/Samsung/iotjs/blob/master/src/js/iotjs.js#L29

That is a leftover legacy code. There are a lot of todo around the module loading system.

[2017-12-19 13:24] galpeter commented on #1367
I've been thinking a while now about the optional callback parameter and it's effect to make the call async. I think it can be a bit confusing that a given call is sync or not simply on the number of arguments. In my opinion we should provide a sync and async methods just like our fs api to reduce the possible programming errors.

[2017-12-20 01:33] zhaojuntao commented on #1378
Thanks

[2017-12-20 01:33] #1378 closed

[2017-12-20 20:25] renatahodovan opened #1379 "Assertion 'jerry_value_is_function(jbuffer)' failed in iotjs_bufferwrap_create_buffer"
###### IoT.js version:

[code]
###### OS:

[code]
###### Test case:

[code]
###### Backtrace:
[code]

<sup>Found by [Fuzzinator](http://fuzzinator.readthedocs.io/) with [grammarinator](https://github.com/renatahodovan/grammarinator)</sup>

[2017-12-20 20:35] renatahodovan opened #1380 "Assertion 'jerry_value_is_object(jbuiltin)' failed in iotjs_bufferwrap_from_jbuiltin"
###### IoT.js version:

[code]
###### OS:

[code]
###### Test case:

[code]

###### Backtrace:
[code]

<sup>Found by [Fuzzinator](http://fuzzinator.readthedocs.io/) with [grammarinator](https://github.com/renatahodovan/grammarinator)</sup>

[2017-12-21 00:06] mark3072 commented on #1312
Everything builds fine with the suggested modifications.  However, I am having a problem with Buffer on my Mips Linux build.

var buff1 = new Buffer("test");
assert.equal(buff1.toString(), "test");

fails with:

uncaughtException: AssertionError: {"actual":"t","expected":"test","operator":"=="}

Is this a big/little endian issue?  Do I need to dive into buffer implementation or is there something

[2017-12-21 04:34] glistening commented on #1353
@LaszloLango Could you share the issue here or by IRC? We would like to deprecate JS testrunner to reduce maintenance cost.

[2017-12-21 07:46] glistening commented on #1380
We should not expose `_builtin`. I would fix this issue by removing `_builtin` from buffer member and make it private. It means all method that uses `this` parameter should be changed to explicit parameter. Does anyone have other suggestion or idea?

[2017-12-21 08:06] zherczeg commented on #1380
We can make private members by using lexical scope. I.e. the modules are actually functions, and builtin objects could be passed as extra arguments. This is the safest method.

A good enough method is creating a `var _builtin = ...` variable and use it there. Actually _builtin is a singleton, so one instance could be enough.

[2017-12-21 11:39] galpeter commented on #1312
@mark3072 That's strange. I don't think it is related to the big/little endianness. Could you check what does the `buff1.toString()` returns? Also would it be possible to share your modifications in some way?

[2017-12-21 11:47] galpeter commented on #1312
I've tested on my openwrt build and there was no assert with the given example code. Small note: I've used an older iotjs build not the latest (~1.5 months old).

[2017-12-21 22:52] glistening commented on #1380
@zherczeg Thank you for comment. I think we are talking same thing. I will push PR.

[2017-12-28 03:14] glistening opened #1383 "What is the purpose of `struct iotjs_module_objects_t` ?"
Is `iotjs_module_objects_t` for (1) hiding the module object's type `jerry_value_t` or (2) aggregating non-static data that would be in `iotjs_module_t` (#1304) ?

I would like to change the name after getting your opinion. (@LaszloLango, @galpeter)

For (1),
I would like to rename `iotjs_module_objects_t` to `iotjs_module_object_t` since it is not a type for an aggregation of module objects, but

[2018-01-02 03:41] hs0225 commented on #1367
Considering the opinion of many people, I would like to confirm the following.
[code]

[2018-01-02 13:46] LaszloLango commented on #1353
@glistening sorry for the late answer. One of my biggest problems at the moment is the mixed usage of `travis_check.py` and `precommit.py`. The second problem is to build and use the 32bit binary on 64bit systems (needed for address sanitizer job).

[2018-01-02 13:48] LaszloLango commented on #1229
@daeyeon can you clarify for me what should be done by `precommit.py` and `travis_script.py`? Why do we need two sparate scripts?

[2018-01-02 14:00] rzr opened #1389 "WISH: Support raspbian for raspberrypi0"
Hi,
Here is a low priority wish about supporting raspbian, the issue can be closed anytime since it's more a downstream task than upstream work.

But to help community I will use this URL to share my work in progress.

More to come soon.

Note that Pi0 can also supported be by Tizen too, PM me if any interest.

Relate-to: https://github.com/Samsung/iotjs/pull/1145
Cc: @ziransun
Cc: @nherriot

[2018-01-02 23:30] glistening commented on #1353
@LaszloLango I can't understand fully what is related to deprecating JS test runner and the mixed usage of `travis_check.py` and `precommit.py`. Could you explain more in #1229? If merging into one file helps deprecating JS testrunner, it could be a good backing example.

Second, do you mean python runner could not run 32bit binary on 64 bit systems? We may add the feature js-test-runner after com

[2018-01-03 02:54] #1355 closed

[2018-01-03 07:19] LaszloLango commented on #1201
IMHO this task is completed. Many PRs landed for this and the code is much cleaner now.  I close this issue. Feel free to reopen if you think there are more things to do here.

[2018-01-03 07:19] #1201 closed

[2018-01-03 07:25] LaszloLango commented on #1353
@glistening not exactly. The testrunner is able to run any binary. The problem comes from the separation of the build and the test. I wanted to change the travis jobs to use the python testrunner. This is why `travis_check.py` and `precommit.py` related. I'll open a PR soon.

[2018-01-03 08:00] LaszloLango commented on #1383
Sorry for the late answer. The second one. Both names are good for me.

[2018-01-03 11:10] rzr commented on #1389
If anyone want to try on raspbian (or debian):
git clone https://github.com/tizenteam/iotjs && cd iotjs && ./debian/rules
Once verified, extra optional modules could be added.

[2018-01-04 08:15] daeyeon commented on #1229
@LaszloLango Please take a look at #1392 newly PRed. Some functionalities such as `flash images`, which is not related to travis tests, have been dropped from `precommit.py`. It's no longer needed for travis tests, but not removed yet. We could revise it to easily set up build environments.

[2018-01-04 08:46] LaszloLango commented on #1229
What is the meaning of the precommit script? I still don't understand why do we need to maintain two script for testing which are basically do the same testing, so there are a lot of code duplication.

[2018-01-04 09:15] daeyeon commented on #1229
@LaszloLango There is no intention to maintain `precommit.py` for testing. It can be removed. Do you mind if we remove it from #1392?

[2018-01-04 09:18] LaszloLango commented on #1229
@daeyeon yes please. If nobody should use the `precommit.py`, then we should remove it in #1392

[2018-01-04 09:37] daeyeon opened #1393 "Query on two travis tests"
[code]

Can anyone clarify what the above two travis tests are for?

[2018-01-04 09:46] LaszloLango commented on #1393
These are the sanitizer jobs. @bzsolt  worked on it. See also: https://gcc.gnu.org/onlinedocs/gcc/Instrumentation-Options.html

[2018-01-04 10:56] daeyeon commented on #1393
Thank you-

[2018-01-04 10:56] #1393 closed

[2018-01-05 02:16] glistening commented on #1363
@ziransun

1. make new profile for ble enabled.

[code]

2. build iotjs
[code]

[2018-01-05 02:24] glistening commented on #1383
I pushed PR #1394 for this issue.

[2018-01-07 23:18] glistening commented on #1383
#1394 landed

[2018-01-07 23:18] #1383 closed

[2018-01-09 09:38] mmatyas opened #1402 "Minor semantic error in wiki"
The following sentence from the description of [iotjs_handlewrap_t](https://github.com/Samsung/iotjs/wiki/Inside-IoT.js#iotjs_handlewrap_t) might need a review:

---

*Unlike **iotjs_jobjectwrap_t**, **iotjs_jobjectwrap_t** increases RC for the Javascript object when an instance of it is created to prevent GC while the handle is alive.*

---

(I assume you didn't intend to repeat `iotjs_jobjectwra

[2018-01-09 09:42] LaszloLango commented on #1402
Wiki pages are out of date. The up to date documentation is available in the `docs` folder: https://github.com/Samsung/iotjs/tree/master/docs

[2018-01-09 09:42] #1402 closed

[2018-01-11 09:24] #1353 closed

[2018-01-17 07:58] #1363 closed

[2018-01-24 11:53] LaszloLango opened #1441 "IoT.js extensions and third party libraries"
Based on discussions on https://github.com/Samsung/iotjs/pull/1436

The main question is where to put modules which are built on top of the common modules. If we decide to put them into a new repository, then we should discuss the details before we create it (file hierarchy, resources, etc.)

[2018-01-24 13:48] rzr commented on #1441
Good idea !

FYI, I naively reimplemented node's serialport on top of iotjs's uart, would that fit in iotjs extensions ?

Do we want to use git modules for each new iotjs modules ?
What about license mixing ? I would suggest to align to iotjs licencing.

What about nodejs compatible modules ?
Is there any similar project we can get inspiration from  ?

[2018-01-25 13:03] bzsolt commented on #1229
Is there anything else what wasn't covered by #1392?

[2018-01-25 13:08] LaszloLango commented on #1229
AFAIK nothing is left. We can close this issue now. @daeyeon feel free to reopen if necessary.

[2018-01-25 13:08] #1229 closed

[2018-01-25 13:37] nherriot commented on #1441
Hi all,
from a user perspective it think it should be split on components and boards.
From components you can split similar to mbed like this:
https://os.mbed.com/components/

Cylon have chosen to go down the path of everything in one place with platforms at the top and devices below e.g.
https://cylonjs.com/

How this is delivered, good question! I like the idea of having a devices library where

[2018-01-25 20:16] rzr commented on #1441
Naively I would create an "iotjs_modules" tree than share the same hierachy as node_modules with  expected files:

iotjs_modules/*/package.json
iotjs_modules/*/LICENSE
etc

Eventually each (or some) modules could be a gitmodule...

[2018-01-29 02:26] daeyeon commented on #1441
I'd like to suggest having a new repository for `iotjs_modules`. It has an iot.js module list, organizes structures we're discussing, and categorizes the modules. Each iot.js module needs to have its own git repository, and they also need to be registered as `iotjs_modules` submodule somehow. As the number of modules to manage increases, `iotjs_modules` could give a tool to easily search and selec

[2018-01-29 03:46] hs0225 commented on #1367
Done.

[2018-01-29 03:46] #1367 closed

[2018-01-30 09:17] nherriot commented on #1389
I think it would be a very good 'strategic' move to support raspberry pi. Especially now IoTJS is second place in rankings to cylonjs.com - it's now the 3rd biggest selling personal compute platform 'ever' !
https://www.raspberrypi.org/magpi/raspberry-pi-sales/

[2018-01-30 10:19] rzr commented on #1389
Yea, I agrea it would be a good target to extend support, I have a plan to get it available directly from debian and derivates (raspbian etc), It's on my list I will keep you updated stay tunned at:
https://blogs.s-osg.org/author/pcoval

[2018-01-30 10:44] yichoi commented on #1389
IoT.js supports RPi2 officially and I don't have a plan to support other variants of RPis. I think everyone who can handle RPis can easily port to each variants of RPis.

[2018-01-30 10:44] #1389 closed

[2018-01-30 11:11] nherriot commented on #1389
yicho - are you saying that 'everyone' who can handle RPis know how to port a Javascript framework from one Linux variant to another? (That's more than 10 million people!!!) I personally think that is a skilled job and certainly not one that even experienced Java Scrip developers want to be bothered with. I hope that in the near future this is something the community can find here at the IoTJS hom

[2018-01-30 11:21] rzr commented on #1441
@daeyeon yes I confirm this what I also had in mind

The open question is where submodules will be hosted ?

For instance, now I have a couple of samples code to share would it be best to share them into iotjs's sample dir of demos modules ? well I can try to make PR to iotjs and if not accepted then try in iotjs_modules.

Note for later, It would be nice to also to note if submodules are compatib

[2018-02-01 06:13] daeyeon commented on #1441
@rzr

Let's say we already have another repository for `iotjs_modules`.

i) Since the owner of your sample is you, you need to have your own repository for it.
ii) You can request a commit to register your repository as a sub-module of `iotjs_modules`.
iii) If your sample or module is compatibles with nodejs, then you can also register your repository to npm.

Plus, I personally hope using npm for

[2018-02-01 09:15] nherriot commented on #1441
There is a lot that could be added to the samples files. i.e. there are not that many good tutorials and examples for people to follow.

Hence if this is something that the IoTjs team do not have the bandwidth to do or maintain, it would be better to off load and have a separate repo in my opinion.

Good idea!

[2018-02-02 08:48] renatahodovan opened #1463 "Assertion 'ECMA_STRING_IS_REF_EQUALS_TO_ONE (string_p)' failed in ecma_free_string_list"
###### IoT.js version:

[code]
###### OS:

[code]
###### Test case:

[code]

###### Backtrace:

[code]

<sup>Found by [Fuzzinator](http://fuzzinator.readthedocs.io/) with [grammarinator](https://github.com/renatahodovan/grammarinator)</sup>

[2018-02-02 08:57] renatahodovan opened #1464 "Assertion 'httpparser_type == HTTP_REQUEST || httpparser_type == HTTP_RESPONSE' failed"
###### IoT.js version:

[code]
###### OS:

[code]
###### Test case:

[code]

###### Backtrace:

[code]

<sup>Found by [Fuzzinator](http://fuzzinator.readthedocs.io/) with [grammarinator](https://github.com/renatahodovan/grammarinator)</sup>

[2018-02-05 01:48] daeyeon opened #1465 "Building iot.js in release mode doesn't work"
a) build iot.js with `./tools/build.py --buildtype release`
b) Apparently, codes in `!NDEBUG` blocks are executed while a) runs.

[code]

[2018-02-05 01:56] daeyeon commented on #1465
@LaszloLango Could you take a look at this issue?

[2018-02-05 02:01] daeyeon commented on #1465
Sorry. I was confused. Release build works.

[2018-02-05 02:01] #1465 closed

[2018-02-05 10:01] #1464 closed

[2018-02-06 20:42] galpeter opened #1476 "IoT.js API for external modules"
IoT.js currently does not explicitly states what C API functions can be used when writing external C modules.
Thus if someone writes C modules the `iotjs_def.h` is used. But it is not clear how an external module use the internal parts of IoT.js, for example: http/https requests, file operations, libtuv elements, etc.

It would be good to have a well defined C API (something similar like the `jerr

[2018-02-06 20:44] galpeter commented on #1476
A related part: I've created a module which can load shared objects (on linux systems currently).
Module link: https://github.com/galpeter/shoml
It also contains an example loadable shared object.

[2018-02-07 18:10] zherczeg commented on #1476
The loadable object interface is very sensitive to the API. So we need a versioned API, where the module tells its own API version, and IoT.js decides whether that version is supported.

The minimum API is defining an init function which returns with a JerryScript object. I think the JerryScript API should be part of the IoT.js API. Perhaps we need functions to load other modules. Maybe this is en

[2018-02-08 09:56] renatahodovan opened #1482 "Assertion '!jerry_value_has_error_flag(jres)' failed in iotjs_jhelper_call_ok"
###### IoT.js version:

[code]
###### OS:

[code]
###### Test case:

[code]

###### Backtrace:

[code]

<sup>Found by [Fuzzinator](http://fuzzinator.readthedocs.io/) with [grammarinator](https://github.com/renatahodovan/grammarinator)</sup>

[2018-02-09 02:01] #1350 closed

[2018-02-10 09:28] renatahodovan opened #1485 "Assertion 'jerry_value_is_function(jexit)' failed in iotjs_process_emit_exit"
###### IoT.js version:

[code]
###### OS:

[code]
###### Test case:

[code]

###### Backtrace:

[code]

<sup>Found by [Fuzzinator](http://fuzzinator.readthedocs.io/) with [grammarinator](https://github.com/renatahodovan/grammarinator)</sup>

[2018-02-13 14:17] rzr commented on #1389
To be tracked at:
https://bugs.debian.org/889824

[2018-02-15 10:34] DanielBallaSZTE commented on #1198
@tkeri @hs0225 Is this issue still valid? Can it be closed?

[2018-02-15 13:04] rzr commented on #1149
FYI, I've been using UART on TizenRT along a modem:

I can share tips:
https://www.slideshare.net/SamsungOSG/tizen-rt-a-lightweight-rtos-platform-for-lowend-iot-devices

And sample code if it matters

[2018-02-15 13:27] DanielBallaSZTE commented on #1360
@glistening I think it is the normal behaviour since:
`Array.prototype.slice` is set to `null`, that doesn't throw an error.
Evaluating `Array.prototype.slice` equals `null`.
However, in `iotjs.js:95` there's a `var callbacks = nextTickQueue.slice(0);` which as slice expects a function.
I've checked in v8, and it has the same behaviour with the below code:
[code]

[2018-02-15 16:20] DanielBallaSZTE commented on #1482
This issue is a combination of #1360 and #1348, therefore #1495  and #1494 fixes it.

[2018-02-17 11:07] rzr commented on #1476
Does this relate somehow to N-API support ?

https://nodejs.org/api/n-api.html#n_api_n_api

I know that @gabrielschulhof (of Iotivity-node) was supportive on this.

I'll be curious to know about the status of this idea.

[2018-02-17 13:54] gabrielschulhof commented on #1476
@rzr I contributed the [module API](https://github.com/jerryscript-project/jerryscript/blob/master/docs/12.EXT-REFERENCE-MODULE.md) to JerryScript because it's a prerequisite for N-API. However, the JerryScript module API can definitely be used today, even before JerryScript is exposed via N-API.

I'm still working on N-API, but I need the followings from JerryScript in order to complete it (list

[2018-02-19 10:24] #1348 closed

[2018-02-19 15:26] DanielBallaSZTE commented on #1482
The issue is fixed, so it can be closed now.

[2018-02-19 15:27] DanielBallaSZTE commented on #1380
This issue is fixed with #1487 as well.

[2018-02-19 15:32] DanielBallaSZTE commented on #1361
This issue is fixed with #1487, therefore can be closed.

[2018-02-19 15:33] DanielBallaSZTE commented on #1360
The issue is resolved, and can be closed.

[2018-02-19 15:34] #1360 closed

[2018-02-19 15:34] #1361 closed

[2018-02-19 15:35] #1380 closed

[2018-02-19 15:35] #1482 closed

[2018-02-20 00:49] #1349 closed

[2018-02-21 22:16] rzr commented on #1441
Hi, based on previous discussion with @daeyeon

I created this draft repo:

https://github.com/rzr/iotjs_modules

I'll might keep experimenting with a couple of new modules to see if there are any limitations,
but for now I am open to suggestions, then I'll add more details.

Regards

[2018-02-22 09:27] renatahodovan opened #1507 "Assertion 'jerry_value_is_number(jexitcode)' failed in iotjs_process_exitcode"
###### IoT.js version:

[code]
###### OS:

[code]
###### Test case:

[code]

###### Backtrace:

[code]

<sup>Found by [Fuzzinator](http://fuzzinator.readthedocs.io/) with [grammarinator](https://github.com/renatahodovan/grammarinator)</sup>

[2018-02-22 16:41] galpeter commented on #1507
An even smaller test case:
[code]

[2018-02-26 11:53] rzr commented on #609
Hi,

While working on
https://github.com/Samsung/iotjs/issues/1441
maybe I can share some experiences.

1/
For trivial modules, I confirm that npm is usable without any tricks (use add node_modules to path)

I've been able to write and install some modules using npn and run them using iotjs:

For instance:
https://github.com/rzr/mastodon-lite

2/
But I also noticed than in some cases dependencies

[2018-02-26 18:20] rzr commented on #609
Let me follow up to my previous comment.

I confirm that npm is totally satisfying the need (for pure JS modules at least),
But in case if dependencies are differing then we can use npm to clone module from forked git (with updated dependencies for iotjs) instead of npm repo, I detailed it a bit at:

https://github.com/rzr/iotjs_modules

My earlier suggestion was for using packages from npm's repo

[2018-02-27 10:36] daeyeon commented on #1476
This is about IoT.js specific native APIs for external modules. I think that it's a different story to support Node.js modules which are built using N-API.

[2018-03-05 07:08] #1507 closed

[2018-03-06 10:24] rzr commented on #566
As some of you already know, parts (csdk) of iotivity 1.2-rel and 1.3-rel are already in TizenRT (so could be easly ported ported to nuttx), iotvivity-constrained works too on Tizen or Linux, but I am not aware about any attempt to port to nuttx/tinyara.

Also check related projects: zephyr.js (with IoTivity-contrained) and iotivity-node (based on regular IoTivity), maybe they can be aligned (at l

[2018-03-07 07:32] haesik commented on #566
@rzr Yes, I know iotivity 1.2 and 1.3 are already in the TizenRT and Tizen also support iotivity.
But I think the device-cloud model is more useful in IoT scenario, so we are focused on supporting SmartThings internally(that is also based on iotivity). Consequentially, we don't have enough human resource to support iotivity now.

[2018-03-13 10:37] hs0225 opened #1539 "Nominating Minsoo Kim(@irishair7) to become an IoT.js committer"
I would like to nominate Minsoo Kim(@irishair7) to become a committer.

He already has 10 patches:

- Remove iotjs_jhelper_call_ok (#1533)
- Modify style checker to use regular expression (#1534)
- Add release for the return of iotjs_jhelper_call (#1525)
- Remove code that has no effect. (#1524)
- Remove redundant condition statement (#1519)
- Fix wrong type local var in buffer_allocate (#1521)
-

[2018-03-13 10:59] yichoi commented on #1539
+1

[2018-03-13 11:09] zherczeg commented on #1539
+1

[2018-03-13 11:48] LaszloLango commented on #1539
+1

[2018-03-14 02:08] daeyeon commented on #1539
+1

[2018-03-14 11:11] DanielBallaSZTE opened #1541 "MbedTLS integration process"
Here are the main steps of integrating MbedTLS into IoT.js:

- [x] ~TLS Client~
- [x] ~TLS Server~
- [x] ~HTTPS Client~
- [x] ~HTTPS Server~

Currently we are focusing on implementing the client, both HTTPS and TLS, and providing a Node.js like API and behaviour.

The connections between the components presented in a component diagram would look like this so far:

![image](https://user-images.gith

[2018-03-20 07:24] daeyeon commented on #1541
Thanks for sharing the plan. BTW, can you clarify if we need to have http**s**_incoming? I guess we can use http_incoming instead.

[2018-03-20 08:38] zherczeg commented on #1541
We will try to reuse the code as much as possible.

[2018-03-20 10:32] haesik commented on #1539
+1

[2018-03-25 20:17] bzsolt commented on #1539
+1

[2018-03-27 02:52] yichoi commented on #1539
No objection for a long time, he is now IoT.js committer. Congratulation!

[2018-03-27 02:52] #1539 closed

[2018-03-27 22:44] daeyeon opened #1556 "iotjs-test-results fails"
Can anyone check the daily test in fail status? Artik053 and STM32F4-Discovery respectively have one failure.

[2018-03-27 23:24] renatahodovan opened #1557 "Segmentation fault in ecma_string_get_chars"
###### IoT.js version:

[code]
###### OS:

[code]
###### Test case:

[code]

###### Backtrace:

[code]

<sup>Found by [Fuzzinator](http://fuzzinator.readthedocs.io/)</sup>

[2018-03-28 09:27] martijnthe opened #1562 "console.log() does not print out using UTF-8 encoding"
As can be seen here in this video: https://www.youtube.com/watch?v=Xe9r9maWmdI

The sample code `hello.js` contains:
[code]

The emoji's aren't printed using UTF-8 encoding but using CESU-8 encoding instead.
AFAIK, UTF-8 has been the default string encoding for Linux terminals. (CESU-8 is probably not even an option...?)

[2018-03-28 13:19] renatahodovan opened #1564 "Assertion 'jerry_value_is_string(jval)' failed in iotjs_jval_as_string"
###### IoT.js version:

[code]
###### OS:

[code]
###### Test case:

[code]

###### Backtrace:

[code]

<sup>Found by [Fuzzinator](http://fuzzinator.readthedocs.io/) </sup>

[2018-03-28 13:44] renatahodovan opened #1566 "Missing crash backtrace above gcc 4.8"
###### IoT.js version:

[code]
###### OS:

[code]

Debug IoT.js binaries built with gcc-4.8 and below provide immediate backtrace with the error message in case of a crash. However, if the binary was built with a newer gcc then the backtrace contains empty frames (`??:0`)

Related [commit](https://github.com/Samsung/iotjs/commit/5c00a91e1f8ebc2fee81445d24245ce8ce4c1563)

[2018-03-29 08:44] renatahodovan opened #1567 "Assertion 'JERRY_CONTEXT (jmem_heap_allocated_size) == 0' failed in jmem_heap_finalize"
###### IoT.js version:

[code]
###### OS:

[code]
###### Test case:

[code]

###### Backtrace:

[code]

<sup>Found by [Fuzzinator](http://fuzzinator.readthedocs.io/)</sup>

[2018-03-29 14:51] galpeter commented on #1557
This Jerry fix should resolve the problem: https://github.com/jerryscript-project/jerryscript/pull/2261

[2018-03-30 05:06] #1557 closed

[2018-04-05 07:46] #1564 closed

[2018-04-05 08:40] renatahodovan opened #1570 "Assertion '!jerry_value_has_error_flag(ret_val)' failed in iotjs_jval_set_property_jval"
###### IoT.js version:

[code]
###### OS:

[code]
###### Test case:

[code]

###### Backtrace:

[code]

<sup>Found by [Fuzzinator](http://fuzzinator.readthedocs.io/)</sup>

[2018-04-05 14:24] DanielBallaSZTE commented on #1570
I've already solved the issue, the problem is it reveals a huge problem within the usage `iotjs_jval_set_...` methods, I am working on a rework.

[2018-04-09 11:26] #1541 closed

[2018-04-09 11:36] DanielBallaSZTE commented on #1121
I think this issue can be closed, as `iotjs_jhelper_call_ok` is not present anymore in the code.

[2018-04-09 11:40] #1121 closed

[2018-04-11 08:48] zherczeg opened #1575 "Proposal for user friendly error reporting in iotjs"
Currently IoT.js reports simple error strings if an error occurs. It does not show source text and backtrace like nodejs. The primary reason is memory saving, iotjs is designed for low memory environments.

However, users prefer to see a detailed error log, at least in debug mode. Normally the jerryscript debugger provides a great tool for that, but some people does not like using two terminals, a

[2018-04-12 06:37] daeyeon commented on #1575
Thank you for sharing your thought. We have some following queries.

a) In our understanding, the python script runs `iotjs --start-debug-server {FILE}` and creates a subprocess to run a debugger client, which connects `localhost:5001`. The iotjs executable should be built with `--jerry-debugger`, and optionally along with `--no-snapshot`. Is this interpretation right?

b) It's hard to assume the

[2018-04-12 07:06] zherczeg commented on #1575
a) yes, debugger support is needed (if we would have a separate implementation, then we would need to prepare for both the debugger and the other implementation coexist, which would complicate things)
b) you can run this basic debugger client on the desktop (or the full debugger). Usually tools on an RT system are very limited so people need many terminals. It is a problem if the device has no net

[2018-04-16 01:56] daeyeon commented on #1575
I think the requirement can be summarized as follows.
- No python dependency because of TizenRT and nuttx.
- The way to run user's js must be operated in a single CLI.
- `Filename` and `Line information` are mandatory. `column` is optional.
- `backtrace` is also required for event listeners or exception handler.

Question: I can see the follwing line/col pair when running a code like `const aaa =

[2018-04-16 04:07] zherczeg commented on #1575
Syntax error is precise, since the parser knows the line info when the error occurs. But this info is thrown away later.

Ok, this feature needs to be separated from the debugger.

I don't understand the event listener part. Could you give an example?

[2018-04-19 14:48] DanielBallaSZTE commented on #1567
This issue should be fixed with the newest jerry update.

[2018-04-20 09:45] LaszloLango commented on #1567
It works after the last JerryScript update.

[2018-04-20 09:45] #1567 closed

[2018-04-20 11:52] LaszloLango opened #1595 "Proposal of the test set descriptor update"
I'd like to propose an update for `testsets.json`. You sad before that not everyone happy with current situation with extra testsets files which can update the default settings. That modification was necessary to test different configurations. This is a proposal for the expected `testsets.jons`, if we want to use one single json descriptor file again (before #1341). With this modification we can k

[2018-04-24 01:03] hs0225 commented on #1198
@DanielBallaSZTE No. I close this issue.

[2018-04-24 01:03] #1198 closed

[2018-04-24 01:50] hs0225 commented on #1595
@LaszloLango I agree your proposal. I look better to combine the test set file into one.

[2018-04-24 17:55] Alsjman commented on #1575
Yes. Same here  i didn't understand the event listener part it will be better to provide example.

 

[2018-04-25 06:35] martinwithyou opened #1601 "how should i use it?"
thanks

[2018-04-25 07:49] akosthekiss commented on #1601
Could you please be a bit more specific about your issue? Have you taken a look at the documentation? Was there something not clear? Do you have a use case that's not described well enough? Did you have problems building the project? On what host system, for what platform, using which tool chain? Could you not run it? Could you not write your own JS app or module for or run them on it?

[2018-04-25 13:31] rtakacs opened #1603 "Tizen target cannot be compiled with minimal profile"
The **mbedtls static libs** are always linked to the shared object ([iotjs.spec#L96](https://github.com/Samsung/iotjs/blob/master/config/tizen/packaging/iotjs.spec#L96)). Since js-remote-test creates **minimal profile** build, there is an error because the HTTPS module is disabled (mbedtls is not compiled). So, the mbedtls static libs should only be used if the HTTPS module is enabled.

I've moved

[2018-05-02 04:25] hs0225 commented on #1603
#1604 landed.

[2018-05-02 04:25] #1603 closed

[2018-05-02 08:01] wuhanck opened #1614 "How to run smoking test on target-board?"
I noticed that check_test.js had been removed.
So, how to run smoking test on target-board which is lack of python env?

[2018-05-02 20:14] rtakacs commented on #1614
The [js-remote-test](https://github.com/Samsung/js-remote-test) project helps to run the official IoT.js test-suite on the main target devices. It does not need to have Python interpreter on the board because the test-runner is based on communication (between a device and a host-PC). Please read the [README.md](https://github.com/Samsung/js-remote-test/blob/master/README.md) file for more informat

[2018-05-03 01:30] #1566 closed

[2018-05-03 05:43] daeyeon commented on #1575
[code]

I mentioned it as a case where the backtrace is helpful.

BTW, just in case, can we turn on this user-friendly reporting in release along with backtrace?

[2018-05-03 08:11] LaszloLango commented on #1575
Yes, backtrace can turn on in release too if you need to.

[2018-05-03 08:30] daeyeon commented on #1575
[code]
In release build, the message, `Expected a function`, isn't printed even with js-backtrace option.
Is it intended? If so, can we optionally enable such a message also just in case?

[2018-05-03 08:37] zherczeg commented on #1575
Looks like error messages are hard coded for debug at the moment:
https://github.com/Samsung/iotjs/blob/master/cmake/jerry.cmake#L87

Fast workaround:
--jerry-cmake-param "-DFEATURE_ERROR_MESSAGES=ON"

On the long term a build.py option would be the best.

[2018-05-03 08:46] daeyeon commented on #1575
Thanks for the clarification. I think that we can close this issue.

[2018-05-03 08:46] #1575 closed

[2018-05-05 02:25] wuhanck commented on #1614
Thanks. It looks like a new piece of porting task for me. :(.
Anyway, thank you.

[2018-05-05 02:25] #1614 closed

[2018-05-09 09:55] DanielBallaSZTE commented on #1245
Can't reproduce it, anyone else?
If so, I think it can be closed.

[2018-05-10 12:12] DanielBallaSZTE commented on #1354
I think this is fixed by now.

[2018-05-10 12:13] DanielBallaSZTE commented on #1463
This issue was already fixed before in JerryScript.
I think it can be closed.